Django==1.7.3
Pillow==2.7.0
argparse==1.2.1
beautifulsoup4==4.3.2
boto==2.36.0
django-bootstrap-form-horizontal==0.0.4
django-common-helpers==0.7.0
django-cors-headers==1.1.0
django-filter==0.9.1
django-markdown-deux==1.0.5
django-multiupload==0.5
django-prometheus==1.0.3
django-ses==0.7.0
django-storages==1.1.8
djangorestframework==3.0.3
docopt==0.6.2
geopy==1.9.1
markdown2==2.4.0
pip-prometheus==1.0.1
prometheus-client==0.0.13
pycrypto==2.6.1
python-dateutil==2.4.0
pytz==2015.2
requests==2.7.0
six==1.9.0
tinify==1.5.2
wsgiref==0.1.2
django-oauth-toolkit==0.10.0
django-autocomplete-light==3.1.1
django-bouncy==0.2.5
