{% with account=item %}
<br>
<a href="{{ account.cached_owner.item_url }}"
   class="leaderboard-account"
   style="background-image: url('{{ static_url }}img/account-backgrounds/{{ account.cached_owner.preferences.color|default_if_none:'smile' }}.png')"
   >
  <div class="row">
    <div class="col-md-2">{% include 'include/avatar.html' with av_user=account.cached_owner av_size=30 av_image_size=100 %}</div>
    <div class="col-md-6"><h3 class="username">{{ account.cached_owner.username }}</h3></div>
    <div class="col-md-2"><h3 class="rank text-right">{{ account.rank }}</h3></div>
    <div class="col-md-2">center image and link</div>
  </div>
</a>
{% endwith %}
