{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
  <br><br>
  <div class="jumbotron">

    <h1>{% trans title %}</h1>
    <br>

    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form action="" method="post">
      {% csrf_token %}
      {{ form.email.errors }}
      <label for="id_email">{% trans 'Email address:' %}</label>
      {{ form.email }}
      <div class="pull-right">
	<button type="submit" class="btn btn-Cool btn-lg" data-form-loader="true">{% trans 'Reset my password' %}</button>
      </div>
    </form>
    <br><br>
  </div>
</div>
{% endblock %}
