#wrapper {
    padding-right: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-right: -250px;
    right: 250px;
    width: 250px;
    &.default {
	background: @BarColor;
	h4 { background: darken(@BarColor, 5%); }
	.btn-default { .button-variant(#fff, darken(@BarColor, 5%), darken(darken(@BarColor, 5%), 5%)); }
	input[type="text"],input[type="email"],input[type="number"],input[type="password"],select {
	    border-color: darken(@BarColor, 10%);
	    color: darken(@BarColor, 10%);
	}
    }
    &.Smile {
        background: @SmileColor;
	h4 { background: darken(@SmileColor, 5%); }
	.btn-Smile { .button-variant(#fff, darken(@SmileColor, 5%), darken(darken(@SmileColor, 5%), 5%)); }
	input[type="text"],input[type="email"],input[type="number"],input[type="password"],select {
	    border-color: darken(@SmileColor, 10%);
	    color: darken(@SmileColor, 10%);
	}
    }
    &.Pure {
        background: @PureColor;
	h4 { background: darken(@PureColor, 5%); }
	.btn-Pure { .button-variant(#fff, darken(@PureColor, 5%), darken(darken(@PureColor, 5%), 5%)); }
	input[type="text"],input[type="email"],input[type="number"],input[type="password"],select {
	    border-color: darken(@PureColor, 10%);
	    color: darken(@PureColor, 10%);
	}
    }
    &.Cool {
        background: @CoolColor;
	h4 { background: darken(@CoolColor, 5%); }
	.btn-Cool { .button-variant(#fff, darken(@CoolColor, 5%), darken(darken(@CoolColor, 5%), 5%)); }
	input[type="text"],input[type="email"],input[type="number"],input[type="password"],select {
	    border-color: darken(@CoolColor, 10%);
	    color: darken(@CoolColor, 10%);
	}
    }
    &.All {
        background: @AllColor;
	h4 { background: darken(@AllColor, 5%); }
	.btn-All { .button-variant(#fff, darken(@AllColor, 5%), darken(darken(@AllColor, 5%), 5%)); }
	input[type="text"],input[type="email"],input[type="number"],input[type="password"],select {
	    border-color: darken(@AllColor, 10%);
	    color: darken(@AllColor, 10%);
	}
    }
    color: #fff;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    h4 {
	padding: 10px;
	margin: 0;
    }
    .section {
	padding: 20px;
	label {
	    font-weight: normal;
	}
	.helptext {
    	    font-size: 0.7em;
	}
    }
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* .sidebar-nav li { */
/*     line-height: 40px; */
/*     text-indent: 20px; */
/* } */

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.inset {
    padding: 20px;
}

#wrapper {
    padding-right: 0;
}

#sidebar-wrapper {
    right: 0;
}

#wrapper.active {
    #page-content-wrapper {
	margin-right: 250px;
	width: auto;
    }
}

#wrapper.active #sidebar-wrapper {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
}

.sidebar-toggle {
    display: inline-block;
}

.inset {
    padding: 15px;
}
