{% extends 'emails/base.html' %}

{% block subject %}Thank you for reporting this fake account! {{ report.fake_account }}{% endblock %}
{% block headersubject %}Thank you for reporting this fake account! {{ report.fake_account }}{% endblock %}
{% block content %}
Hi {{ reported_by.username }},
<br><br>

<p>
  This account you reported has been reviewed by a moderator and marked as fake. Thank you so much for your help!
</p>
{% if report.moderation_comment %}
<p>
  Moderator comment:<br>
  {{ report.moderation_comment }}
</p>
{% endif %}
{% endblock %}

{% block actionbuttontitle %}
{{ report.fake_account }}
{% endblock %}
{% block actionbuttonalt %}
{{ report.fake_account }}
{% endblock %}

{% block actionlink %}
http://schoolido.lu/user/{{ report.fake_account.owner.username }}/#{{ report.fake_account.pk }}
{% endblock %}

{% block footersentence %}
<div style="text-align: right">
  Moderated by <a href="http://schoolido.lu/user/{{ report.moderated_by.username }}/">{{ report.moderated_by.username }}</a>
  <br><br>
  If you like the website, please consider <a href="https://www.patreon.com/db0company"><strong>donating</strong></a>.
  <br><small><i>This will help us cover the costs of the servers and allow us to keep it running for free and without ads.</i></small>
</div>
{% endblock %}
