{% extends 'emails/base.html' %}
{% load markdown_deux_tags %}

{% block subject %}Thank you so much for reporting this activity!{% endblock %}
{% block headersubject %}Thank you so much for reporting this activity!{% endblock %}

{% block content %}
Hi {{ reported_by.username }},
<br><br>

<p>
  This activity you reported has been reviewed by a moderator and deleted. Thank you so much for your help!
</p>
{% if report.moderation_comment %}
<p>
  Moderator comment:<br>
  {{ report.moderation_comment }}
</p>
{% endif %}

<ul>
  <li>Account: {{ report.fake_activity.account }}</li>
  <li>Content:<br>
    {{ report.fake_activity.message_data|markdown }}
  </li>
</ul>

{% endblock %}

{% block footersentence %}
<div style="text-align: right">
  Moderated by <a href="http://schoolido.lu/user/{{ report.moderated_by.username }}/">{{ report.moderated_by.username }}</a>
  <br><br>
  If you like the website, please consider <a href="https://www.patreon.com/db0company"><strong>donating</strong></a>.
  <br><small><i>This will help us cover the costs of the servers and allow us to keep it running for free and without ads.</i></small>
</div>
{% endblock %}
