{% extends 'emails/base.html' %}
{% load imageurl %}
{% load choicesToString %}

{% block subject %}{{ verification.verification|verifiedToString }}: {{ verification.status|verificationStatusToString }}{% endblock %}
{% block headersubject %}{{ verification.verification|verifiedToString }}: {{ verification.status|verificationStatusToString }}{% endblock %}
{% block content %}
Hi {{ verification.account.owner.username }},
<br><br>

<p>
  {% if verification.status == 0 %}
  Unfortunately, your verification request has been rejected. Don't worry, you can re-submit your verification request anytime. To do so, click the button below to re-submit your request. Do not reply to this email.
  {% elif verification.status == 3 %}
  Congratulations! You are now {{ verification.verification|verifiedToString }}.
  {% if verification.verification == 3 %}
  You can now set your rank above 200. Nobody else can see your verification status.
  {% else %}
  Feel free to brag about it now that you look so shiny~
  <a href="http://twitter.com/share?text=I'm {{ verification.verification|verifiedToString }} on School Idol Tomodachi!&url=http://schoolido.lu/user/{{ verification.account.owner.username }}/&hashtags=LLSIF,LoveLive,スクフェス">Tweet it</a> or <a href="http://www.facebook.com/sharer/sharer.php?u=http://schoolido.lu/user/{{ verification.account.owner.username }}/">share it on Facebook</a>.
  {% endif %}
  {% endif %}
</p>

{% if verification.verification_comment %}
<p>
  {{ verification.verification_comment }}
</p>
{% endif %}

{% if verification.verification == 2 and verification.status == 3 %}
<ol>
  <li>Follow this guide: <a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/How-to-enter-a-transfer-code%3F">How to enter a transfer code?</a><br>
  </li>
  <li>
    Generate a new transfer code right away and store it somewhere safe. If you want, School Idol Tomodachi lets you store your transfer code safely. Only you will be able to see it.<br>
    Follow this guide: <a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/How-to-generate-a-transfer-code%3F">How to generate a transfer code?</a><br>
  </li>
  <li>
    Also note that when you will enter your new transfer code, your settings will be reset. Don't forget to change them back, we don't want you to break your combo ;)
  </li>
</ol>
{% endif %}

<div style="text-align: center">
  {% for image in verification_images %}
  <a href="{{ image.image|userimage}}">
    <img src="{{ image.image|userimage }}" alt="verification image" width="100" height="100">
  </a>
  {% endfor %}
</div>

{% endblock %}

{% block actionbuttontitle %}
{% if verification.status == 0 %}
Resend verification request
{% else %}
Your account
{% endif %}
{% endblock %}
{% block actionbuttonalt %}
{% if verification.status == 0 %}
Resend verification request
{% else %}
Your account
{% endif %}
{% endblock %}

{% block actionlink %}
{% if verification.status == 0 %}
http://schoolido.lu/editaccount/{{ verification.account.pk }}/
{% else %}
http://schoolido.lu/user/{{ verification.account.owner.username }}/#{{ verification.account.pk }}
{% endif %}
{% endblock %}

{% block footersentence %}
{% if verification_images|length == 1 and verification.verification == 2 and verification.status == 3 %}
Make sure you display the images in this e-mail to get your transfer code, or click here: {{ verification_images.image|userimage }}
{% endif %}
<div style="text-align: right">
  Verified by <a href="http://schoolido.lu/user/{{ verification.verified_by.username }}/">{{ verification.verified_by.username }}</a>
</div>
{% endblock %}
