{% load i18n %}
{% load imageurl %}
{% load storedChoiceToString %}
        {% if activity.message == 'Rank Up' %}
        {% elif activity.message == 'Added a card' or activity.message == 'Idolized a card' or activity.message == 'Max Leveled a card' or activity.message == 'Max Bonded a card' %}
	<div>
	  <a href="{{ activity.ownedcard.card|singlecardurl }}" class="owned_card">
	    {% if small %}
	    {% include 'ownedcard.html' with card=activity.ownedcard nolink=True size=20 classes='pull-right' %}
	    </div>
	    {% endif %}
	    {{ activity.ownedcard.card }}
	  </a>
	</div>
	{% endif %}
