{% load i18n %}
{% include 'activitysingle.html' %}
<div class="alert alert-info text-center" style="margin: 10px;">
  <h2><i class="flaticon-about"></i> More posts on Idol Story!</h2>
  <p>
    A new social network awaits you, with more options to post about your Love Live! adventures, like hashtags, limited events,
    support for emojis, videos, colors, and so much more.<br>
  <a href="btn btn-lg btn-Cool" href="https://idol.st/activities/">Check it out!</a>
  <small><br><a href="https://idol.st/about/" target="_blank">About Idol Story</a>: The home of Love Livers! and source for School Idol Festival ALL STARS, µ's, Aqours, Nijigasaki High School Idol Club and Liella!</small></p>
</div>
{% if activities|length >= page_size %}
<div class="padding20 text-center" data-page="{{ page|add:1 }}"><a href="#loadMoreActivities">⟱</a></div>
{% endif %}
{% if activities|length == 0 %}
<div class="text-center alert alert-warning">{% trans 'No results.' %}</div>
{% endif %}
