{% load i18n %}
{% load imageurl %}
{% load activitychange %}
{% load storedChoiceToString %}
{% load choicesToString %}
{% for activity in activities %}
{% with activity|activitychange as checkchange %}
{% ifchanged checkchange %}
{% if forloop.counter0 != 0 %}
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="activity">
  <div class="row">
    <div class="col-xs-{{ avatar_size }}">
      {% include 'include/avatar.html' with av_user=activity.account.owner av_preferences=activity.account.owner.preferences av_image_size=100 av_size=30 av_link=True av_account_id=activity.account.pk %}
    </div>
    <div class="col-xs-{{ content_size }}">
      <div class="pull-right text-right">
	{% if activity.message == 'Rank Up' %}
	<a href="/user/{{ activity.account.owner.username }}/#{{ activity.account.pk }}" target="_blank">
	  <div class="rank">{{ activity.rank }}</div>
	</a>
	{% elif activity.message == 'Ranked in event' %}
	<a href="/event/{{ activity.eventparticipation.event.japanese_name|urlencode }}/#ranking{{ activity.account.language }}" target="_blank">
	  <img src="{{ activity.eventparticipation.event|eventimageurl }}" alt="{{ activity.eventparticipation.event }}" width="100"><br>
	  <strong># {{ activity.eventparticipation.ranking }}</strong>
	</a>
	{% elif activity.message == 'Added a card' or activity.message == 'Idolized a card' or activity.message == 'Max Leveled a card' or activity.message == 'Max Bonded a card' %}
	<a href="/cards/{{ activity.ownedcard.card.id }}/" class="owned_card">
	  <div class="circled_card_70 {{ activity.ownedcard.card.attribute }} {{ activity.ownedcard.card.rarity }} hover"
	       style="background-image: url('{% if not activity.ownedcard.idolized and activity.ownedcard.card.card_image %}{{ activity.ownedcard.card|imageurl:'card_image' }}{% else %}{{ activity.ownedcard.card|imageurl:'card_idolized_image' }}{% endif %}')"></div>
	</a>
	{% endif %}
      </div>
      <div>
	<small class="date">{{ activity.creation }}</small><br>
	{% if user.is_authenticated %}
	  {% if activity.account.owner == user %}
		<strong class="account">{{ activity.account }}</strong> <i class="flaticon-heart"></i><br>
	  {% else %}
		<form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/{{ activity.id }}/">
	      {% csrf_token %}
		  <input type="hidden" name="{% if user in activity.likers %}unlike{% else %}like{% endif %}">
		  <strong class="account">{{ activity.account }}</strong>
		  <button type="submit" data-reverse="{% if user in activity.likers %}<i class='flaticon-star'></i>{% else %}<i class='flaticon-heart'></i>{% endif %}">{% if user in activity.likers %}<i class='flaticon-heart'></i>{% else %}<i class='flaticon-star'></i>{% endif %}</button>
	  	</form>
	  {% endif %}
	{% else %}
	<strong class="account">{{ activity.account }}</strong><br>
	{% endif %}
	<span class="message">{{ activity.message|activityMessageToString }}
	  {% if activity.message == 'Rank Up' %}
	  {% elif activity.message == 'Ranked in event' %}
	  <br><small>{{ activity.eventparticipation.event }}</small>
	  {% elif activity.message == 'Added a card' or activity.message == 'Idolized a card' or activity.message == 'Max Leveled a card' or activity.message == 'Max Bonded a card' %}
	  {% trans 'in' %} <i>{% with activity.ownedcard.stored|storedChoiceToString as stored %}{% trans stored %}{% endwith %}</i>
	  {% endif %}
	</span><br>
      {% include 'activitytext.html' %}
{% else %}
{% include 'activitytext.html' with small=True %}
{% endifchanged %}
{% if forloop.counter == activities|length %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
{% endfor %}
{% if activities|length >= page_size %}
<div class="padding20 text-center" data-page="{{ page|add:1 }}"><a href="#loadMoreActivities">⟱</a></div>
{% endif %}
{% if activities|length == 0 %}
<div class="text-center alert alert-warning">{% trans 'No results.' %}</div>
{% endif %}
