{% load i18n %}
{% load imageurl %}
{% load storedChoiceToString %}
        {% if activity.message == 'Rank Up' %}
        {% elif activity.message == 'Added a card' or activity.message == 'Idolized a card' or activity.message == 'Max Leveled a card' or activity.message == 'Max Bonded a card' %}
	<div>
	  <a href="/cards/{{ activity.ownedcard.card.id }}/" class="owned_card">
	    {% if small %}
	    <div class="pull-right circled_card_20 {{ activity.ownedcard.card.attribute }} {{ activity.ownedcard.card.rarity }} hover"
		 style="background-image: url('{% if not activity.ownedcard.idolized and activity.ownedcard.card.card_image %}{{ activity.ownedcard.card|imageurl:'card_image' }}{% else %}{{ activity.ownedcard.card|imageurl:'card_idolized_image' }}{% endif %}')">
	    </div>
	    {% endif %}
	    <small>
	      {{ activity.ownedcard.card }}
	    </small>
	  </a>
	</div>
	{% endif %}
