{% load i18n %}
{% load imageurl %}
{% load storedChoiceToString %}
{% load choicesToString %}
{% load mod %}
{% load markdown_deux_tags %}
{% for activity in activities %}
<div class="activity">
  <div class="row">
    {% if avatar_size != 0 %}
    <div class="col-xs-{{ avatar_size }}">
      <a href="{{ activity.account_link }}" target="_blank">
	<img src="{{ activity.account_picture }}" alt="Avatar" width="100" class="img-responsive avatar">
      </a>
    </div>
    {% endif %}
    <div class="col-xs-{{ content_size }}">
      <div class="pull-right text-right">
	<a href="{% if activity.message == 'Trivia' %}/trivia/{% else %}{% if '/' not in activity.right_picture %}#imgur{% elif activity.right_picture_link %}{{ activity.right_picture_link|urlencode }}{% else %}{{ activity.account_link }}{% endif %}{% endif %}" target="_blank" {% if '/' not in activity.right_picture %}data-imgur="{{ activity.right_picture }}"{% endif %} class="a-nodifference">
	  {% if activity.message == 'Rank Up' %}
	  <div class="rank rank-{{ card_size|default:70 }}">{{ activity.number }}</div>
	  {% elif activity.message == 'Verified' %}
	  <i class="verified{{ activity.number }} flaticon-star" style="font-size: {% widthratio card_size|default:70 1.2 1 %}px;"></i>
	  {% elif activity.message == 'Trivia' %}
	  <i class="text-Smile flaticon-promo" style="font-size: {% widthratio card_size|default:70 1.2 1 %}px;"></i>
	  {% elif activity.right_picture %}
	  <img src="{% if '/' not in activity.right_picture %}http://i.imgur.com/{{ activity.right_picture }}t.png{% else %}{{ activity.right_picture }}{% endif %}" alt="Activity picture" width="{{ card_size|default:70 }}">
	  {% endif %}
	</a>
      </div>
      <div>
	<small class="date">{{ activity.creation }}</small><br>
	<strong class="account">{{ activity.account_name }}</strong><br>
	<span class="message{% if activity.message == 'Custom' %} need-to-autolink{% endif %}">{% if activity.message == 'Custom' %}{{ activity.localized_message|markdown }}{% else %}{{ activity.localized_message }}{% endif %}</span><br>
	<div class="socialbar">
	  <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/{{ activity.id }}/">
	    {% csrf_token %}
	    <input type="hidden" name="{% if activity.liked %}unlike{% else %}like{% endif %}">
	    <div class="btn-group">
	      {% if user.is_authenticated %}
	      {% if activity|activity_is_mine:accounts %}
	      <button class="btn btn-link btn-sm" disabled><i class="flaticon-heart"></i> Liked</button>
	      {% else %}
	      <button type="submit" class="btn btn-link btn-sm" data-reverse="{% if activity.liked %}<i class='flaticon-heart-empty'></i> Like{% else %}<i class='flaticon-heart'></i> Liked{% endif %}">{% if activity.liked %}<i class='flaticon-heart'></i> Liked{% else %}<i class='flaticon-heart-empty'></i> Like{% endif %}</button>
	      {% endif %}
	      {% else %}
	      <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
	      {% endif %}
	      <a href="#likecount" class="btn btn-link btn-sm">{{ activity.likers_count|add:1 }}</a>
	    </div>
	    {% if not single_activity %}
	    <div class="btn-group writecomments">
	      <a href="/activities/{{ activity.id }}/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> {% trans 'Write Comment' %}</a>
	      <a href="http://schoolido.lu/activities/{{ activity.id }}/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity{{ activity.id }}">{% trans 'Comments' %}</a>
	      {% if activity|activity_is_mine:accounts %}
	      <a href="/activities/{{ activity.id }}/" target="_blank" class="btn btn-link btn-sm">
		<i class="flaticon-edit"></i>
		{% if activity.message == 'Custom' %}
		{% trans 'Edit' %}
		{% else %}
                {% if activity.message != 'Trivia' and activity.message != 'Verified' and activity.message != 'Rank Up' %}
		{% trans 'Upload your own screenshot' %}
                {% endif %}
		{% endif %}
	      </a>
	      {% elif activity.message == 'Custom' %}
	      <a href="/reportactivity/{{ activity.id }}/" target="_blank" class="btn btn-link btn-sm" style="opacity: 0.5">
		<i class="flaticon-warning"></i>
		{% trans 'Report' %}
	      </a>
	      {% endif %}
	    </div>
	    {% endif %}
	  </form>
	</div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
