{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if edit %}{% trans 'Edit Account' %} {{ edit }}{% else %}{% trans 'Add Account' %}{% endif %}{% endblock %}

{% block js %}
{% load imageurl %}
{% load choicesToString %}
{% if edit %}
<script src="/static/js/editaccount.js?2"></script>
{% endif %}
<script src="/static/bower/CuteForm/cuteform.js"></script>
<script>
  cuteform($('#id_starter'), {
    'images': {
      '': 'http://i.schoolido.lu/static/empty.png',
      {% for card in form.starter.field.queryset %}
      '{{ card.id }}': '{% imageurl card=card image='round_card_image' %}',
      {% endfor %}
    }
  });
  cuteform($('#id_language'), {
    'html': {
      {% for language, string in form.language.field.choices %}
      '{{ language }}': '<i class="flaticon-{{ language }}"></i> {{ string }}',
      {% endfor %}
    }
  });
  cuteform($('#id_os'), {
    'html': {
      {% for os, string in form.os.field.choices %}
      '{{ os }}': '<i class="flaticon-{{ os }}"></i> {{ string }}',
      {% endfor %}
    }
  });
  {% if edit %}
  cuteform($('#id_center'), {
    'modal': 'true',
    'images': {
      '': 'http://i.schoolido.lu/static/empty.png',
      {% for ownedcard in form.center.field.queryset %}
      '{{ ownedcard.id }}': '{% ownedcardimageurl ownedcard=ownedcard %}',
      {% endfor %}
    }
  });
  cuteform($('#id_default_tab'), {
    'html': {
      {% for default_tab, string in form.default_tab.field.choices %}
      '{{ default_tab }}': '<i class="flaticon-{{ default_tab|accountTabToIcon }}"></i> {{ string }}',
      {% endfor %}
    }
  });
  cuteform($('#id_play_with'), {
    'html': {
      {% for play_with, string in form.play_with.field.choices %}
      {% if play_with == '' %}'': '<img src="http://i.schoolido.lu/static/empty.png" height="20">',{% else %}
      '{{ play_with }}': '<i class="flaticon-{{ play_with|playWithToIcon }}"></i> {{ string }}',
      {% endif %}{% endfor %}
    }
  });
  cuteform($('#id_accept_friend_requests'), {
    'html': {
      '1': '<img src="http://i.schoolido.lu/static/empty.png" height="20">',
      '2': '{% trans 'Yes' %}',
      '3': '{% trans 'No' %}',
    }
  });
  {% endif %}
</script>
{% endblock %}
{% block content %}
{% load choicesToString %}
{% load imageurl %}
{% load mod %}

<div class="container">
  <br><br>
  <div class="jumbotron">
    <h1>{% if edit %}{% trans 'Edit Account' %}</h1>
    <h2 id="editaccount" class="text-center">{{ edit }}</h2>{% else %}{% trans 'Add Account' %}</h1>{% endif %}
    <br>
    <form class="form-horizontal" method="post" action="" role="form">
      {% csrf_token %}
      {% include "bootstrap_form_horizontal.html" with form=form wrap=0 %}
      <br><br>
      <div class="text-right">
	{% if accounts %}
	<a href="/user/{{ user.username }}/" class="btn btn-lg btn-link">{% trans 'Back to my profile' %}</a>
	{% endif %}
	<button type="submit" class="btn btn-lg btn-Cool" data-form-loader="true">{% if edit %}{% trans 'Apply Changes' %}{% else %}{% trans 'Add Account' %}{%endif %}</button>
      </div>
    </form>

    {% if edit %}
    <hr>

    {% if deleted_transfer_code %}
    <div class="divform alert alert-danger" id="deletedTransferCode">
      {% trans 'Your transfer code has been deleted.' %}
    </div>
    {% endif %}
    {% if account.transfer_code %}
    <form class="form-horizontal" method="post" action="/editaccount/{{ account.id }}/#getTransferCode" role="form" autocomplete="off">
      <h2 id="getTransferCode">{% trans 'Get your saved transfer code' %}</h2>

      {% if transfer_code %}
      </form>
      <div class="alert alert-info text-center">
	<h1>{{ transfer_code }}</h1>
      </div>
      <form action="/editaccount/{{ account.id }}/#deletedTransferCode" method="post">
	{% csrf_token %}
	<div class="text-right">
	  <input name="deleteTransferCode" type="submit" class="btn btn-danger" value="{% trans 'Delete your transfer code' %}" />
	</div>
      </form>
      {% else %}
      {% csrf_token %}
      <input type="password" style="display:none" />
      {% include "bootstrap_form_horizontal.html" with form=form_get_transfer_code wrap=0 %}
      <div class="text-right">
	<button name="getTransferCode" type="submit" class="btn btn-Cool" data-form-loader="true">{% trans 'Get your saved transfer code' %}</button>
      </div>
    </form>
      {% endif %}

    <hr>

    {% endif %}
    <form method="post" action="/editaccount/{{ account.id }}/#saveTransferCode">
      <h2 id="saveTransferCode">{% trans 'Save your transfer code' %}</h2>

      {% if saved_transfer_code %}
      <div class="alert alert-info">
	{% trans 'Your transfer code has been securely saved.' %}
      </div>
      {% endif %}

      {% csrf_token %}
      <input type="password" style="display:none" />
      {% include "bootstrap_form_horizontal.html" with form=form_save_transfer_code wrap=0 %}
      <div class="text-right">
	<button name="saveTransferCode" type="submit" class="btn btn-Cool" data-form-loader="true">{% trans 'Save your transfer code' %}</button>
      </div>
    </form>

    <hr>
      <div class="divform">
	<h2 id="verify">{% trans 'Get verified' %}</h2>
	{% if account.rank >= 100 and account.friend_id and not user.preferences.private and user.email %}
	<div id="verification-2" style="display: none">
	  <img src="http://i.schoolido.lu/static/verifications/4YUFGyt.png" alt="Gold" class="img-responsive img-rounded" /><br>
	  <ul>
	    <li>{% trans 'Open the game you want to get verified' %}<br><br></li>
	    <li>{% trans 'Go to "Other" (その他) then "Profile" (プロフィール), tap "Change" (変更する) and add a link to your profile on School Idol Tomodachi to support the community' %}: <span class="text-muted">schoolido.lu/user/{{ user.username }}/</span> ({% trans 'Optional' %})<br><br></li>
	    <li>{% trans 'Generate a transfer code on the game.' %} <a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/How-to-generate-a-transfer-code%3F" target="_blank">{% trans 'How to generate a transfer code?' %}</a></li>
	    <li>{% trans 'Upload the screenshot or write it down below.' %}<br><br></li>
	    <li>
	      <strong>{% trans 'No matter when you send your request, your account will be verified anytime when there is no event going on.' %}</strong><br>
	      <ul>
		<li>{% blocktrans %}If you don't play during an event or you don't care, we can also verify you during events, which makes the process much faster for us. Check the box below.{% endblocktrans %}</li>
		<li>{% trans 'If you still play between events, we can notify you before we start the process. Ask for it in your message.' %}</li>
	      </ul><br></li>
	    <li>{% blocktrans %}We will enter the transfer code in one of our devices and check the info. We're not going to do anything with your LPs, lovecas, cards, or anything else{% endblocktrans %} :)</li>
	    <li>{% trans 'You will then receive an email with your new transfer code.' %}<br><br></li>
	  </ul>
	</div>
	<div id="verification-1" style="display: none">
	  <img src="http://i.schoolido.lu/static/verifications/mA3mh0G.png" alt="Silver" class="img-responsive img-rounded" /><br>
	  <ul>
	    <li>{% trans 'Open the game you want to get verified' %}<br><br></li>
	    <li>{% trans 'Go to "Other" (その他) then "Profile" (プロフィール), tap "Change" (変更する) and add a link to your profile on School Idol Tomodachi to support the community' %}: <span class="text-muted">schoolido.lu/user/{{ user.username }}/</span> ({% trans 'Optional' %})<br><br></li>
	    <li><strong>{% trans 'Take screenshots and upload them below.' %}</strong> <a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/How-to-take-screenshots%3F" target="_blank">{% trans 'How to take screenshots?' %}</a>
	      <ol>
		<li>{% trans 'Go to "Members" (部員) then "Member List" (部員リスト), order by "Rarity" (レアリティ) and take screenshots of all the pages that have URs or SRs' %}
		  <ul>
		    <li><i>{% trans 'If you have SR/UR cards in your album (you used to have them but you sold them or used them in training), also take a screenshot of said cards in your album.' %}</i></li>
		    <li><i>{% trans 'If you have SR/UR cards in your present box, also take a screenshot of the cards in your present box.' %}</i></li>
		  </ul>
		</li>
		<li>{% trans 'Go to "Other" (その他) then "Profile" (プロフィール) and take a screenshot' %}</li>
	      </ol>
	    </li>
	    <li>{% blocktrans %}No need to refresh your profile, you will receive an email when you're verified!{% endblocktrans %}</li>
	  </ul>
	</div>
	<div id="verification-3" style="display: none">
	  <i>{% blocktrans %}This verification only lets you change your rank above 200. It does not give you a visible sign of verification on the website, since we did not verify your cards. The only reason you would want this verification is if your rank is above 200 and you do not wish to go through Gold/Silver verification.{% endblocktrans %}</i><br>
	  <ul>
	    <li>{% trans 'Open the game you want to get verified' %}</li>
	    <li>{% trans 'Go to "Other" (その他) then "Profile" (プロフィール) and take a screenshot' %}</li>
	    <li>{% blocktrans %}You will receive an email when your account has been set as verified and you'll be able to set your rank above 200.{% endblocktrans %}</li>
	  </ul>
	</div>
	<div id="verification-0" style="display: none"></div>
	{% if verification %}
	<div class="alert alert-{% if verification.status == 0 %}danger{% elif verification.status == 3 %}success{% else %}info{% endif %}">
	  {% if verification.status < 3 %}
	  <div class="pull-right">
	    <form class="noform" method="POST">
	      {% csrf_token %}
	      <button class="btn btn-lg btn-danger" type="submit" name="cancelVerificationRequest" data-form-loader="true">{% trans 'Cancel' %}</button>
	    </form>
	  </div>
	  {% endif %}
	  {{ verification.verification|verifiedToString }}:
	  <h2>{{ verification.status|verificationStatusToString }}</h2>
	  {% if verification_queue_position %}
	  {% trans 'Your position in the verification queue' %}:
	  <strong>#{{ verification_queue_position }}</strong>
	  <small>({{ verification_days }} {% if verification_days == 1 %}{% trans 'day' %}{% else %}{% trans 'days' %}{% endif %})</small><br><br>
	  {% endif %}
	  {% if verification.verification_comment %}
	  {{ verification.verification_comment }}
	  {% endif %}
	  {% if verification.images %}
	  <div class="row">
	    {% for image in verification_images %}
	    {% if forloop.counter0|mod:3 %}
	  </div><div class="row">
	    {% endif %}
	    <div class="col-sm-4">
	      <a target="_blank" href="{{ image.image|userimage }}">
		<div class="thumbnail">
		  <img src="{{ image.image|userimage }}" alt="verification image" style="height:100px">
		  <div class="caption text-right">
		    <form class="noform" method="post">
		      {% csrf_token %}
		      <input type="hidden" name="id" value="{{ image.id }}">
		      <button name="deleteimage" type="submit" class="btn btn-danger btn-sm" data-form-loader="true">Delete</button>
		    </form>
		  </div>
		</div>
	      </a>
	    </div>
	    {% endfor %}
	  </div>
	  {% endif %}
	</div>
	{% endif %}
	<div class="row">
	  <div class="col-sm-1">
	    <div class="fontx2 text-right">
	      <i class="flaticon-checked"></i>
	    </div>
	  </div>
	  <div class="col-sm-11">
	    {% blocktrans %}Before sending your request, we highly recommend you to check that you entered all your cards.{% endblocktrans %}
	    <div class="text-right">
	      <a class="btn btn-Cool" href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/How-to-check-that-you-entered-all-your-cards%3F" target="_blank">{% trans 'Check your cards' %}</a>
	    </div>
	    <br>
	  </div>
	</div>
	<form class="noform" method="post" action="/editaccount/{{ account.id }}/#verify" enctype="multipart/form-data">
	  {% csrf_token %}
	  {% include "bootstrap_form_horizontal.html" with form=form_verification wrap=0 %}
	  <div class="text-right">
	    <button name="verificationRequest" type="submit" class="btn btn-lg btn-Cool" data-form-loader="true">{% trans 'Get verified' %}</button>
	  </div>
	</form><br>
	<div class="row">
	  <div class="col-sm-1">
	    <div class="fontx2 text-right">
	      <i class="flaticon-about"></i>
	    </div>
	  </div>
	  <div class="col-sm-11" style="line-height: 2.5em">
	    {% blocktrans %}If you have any question regarding verifications,{% endblocktrans %}
	    <a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/Verified-Accounts#frequently-asked-questions" target="_blank">{% trans 'read our FAQ' %}</a>.
	    <br>
	  </div>
	</div>
	{% else %}
	<div class="alert alert-warning">
	  <ul>
	    {% if account.rank < 100 %}
	    <li>{% trans 'Your rank must be over 100.' %}</li>
	    {% endif %}
	    {% if not account.friend_id %}
	    <li>{% trans 'You must specify your friend ID in your account.' %} <a href="#editaccount">{% trans 'Edit Account' %}</a></li>
	    {% endif %}
	    {% if not user.email %}
	    <li>{% trans 'You must provide a valid email address in your settings.' %} <a href="/edit/" target="_blank">{% trans 'Your Settings' %}</a></li>
	    {% endif %}
	    {% if user.preferences.private %}
	    <li>{% trans 'Your profile must not be private.' %} <a href="/edit/" target="_blank">{% trans 'Your Settings' %}</a></li>
	    {% endif %}
	  </ul>
	</div>
      {% endif %}
      </div>

    <hr>
    <form>
      <h2>{% trans 'More options' %}</h2>
      <ul>
	<li><a href="/cards/initialsetup/?account={{ account.id }}">{% trans 'Initial Setup' %}</a></li>
	<li><a href="/addteam/{{ account.id }}/">{% trans 'Add Team' %}</a></li>
	<li><a href="/cards/albumbuilder/?albumbuilder_account={{ account.id }}&ordering=id">{% trans 'Album Builder' %}</a></li>
	<li><a href="/skillup/?account={{ account.id }}">{% trans 'Level up the skill of your cards' %}</a></li>
      </ul>
    </form>

    <hr>
    <form method="post" action="">
      {% csrf_token %}
      <h2>{% trans 'Delete Account' %}</h2>
      <div class="alert alert-warning">{% blocktrans %}You can't cancel this action afterwards.{% endblocktrans %}<br>
	{% blocktrans %}Note that we can transfer your account to another user.{% endblocktrans %}
	<a href="/about/#contact" target="_blank">{% trans 'Contact Us' %}.</a>
      </div>
      {% include "bootstrap_form_horizontal.html" with form=form_delete wrap=0 %}
      <div class="text-right">
	<button type="submit" class="btn btn-danger" name="deleteAccount" data-form-loader="true">{% trans 'Delete Account' %}</button>
      </div>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
