{% load imageurl %}
<div class="row">
	      <div class="col-md-8">
		<form class="form-horizontal {% if edit %}edit{% else %}add{% endif%}" method="post" action="/ajax/{% if edit %}editcard/{{ edit.pk }}/{% else %}addcard/{% endif %}" role="form">
		  {% csrf_token %}
		  {% include "bootstrap_form_horizontal.html" with form=addcard_form wrap=0 %}
		  <div class="row form-group">
		    <label for="id_expires_in" class="col-sm-4 control-label" style="text-align: right;">
		      Expires In:
		    </label>
		    <div class="col-sm-8">
		      <input class="form-control" id="id_expires_in" min="0" name="expires_in" placeholder="days" type="number"{% if edit.expires_in %} value="{{ edit.expires_in }}"{% endif %}>
		    </div>
		  </div>
		  <br><br>
		  <div class="text-right">
		    <input type="submit" class="btn btn-lg btn-Cool" value="{% if edit%}Edit{% else %}Add{% endif %} Card" />
		  </div>
		</form>
	      </div>
	      <div class="col-md-4">
		<img src="{% if edit %}{{ edit.card|imageurl:'card_image' }}{% endif %}" class="non_idolized" width="100%">
		<img src="{% if edit %}{{ edit.card|imageurl:'card_idolized_image' }}{% endif %}" class="idolized" width="100%">
	      </div>
	    </div>
	    {% if edit %}
	    <hr>
	    <div class="row">
	      <div class="col-md-8">
		<div class="alert alert-warning">You can't cancel this action afterwards.</div>
	      </div>
	      <div class="col-md-4">
		<form method="post" action="/ajax/deletecard/{{ edit.pk }}/" role="form" class="delete">
		  {% csrf_token %}
		  <input class="btn btn-danger btn-block btn-lg" type="submit" value="Delete this card">
		</form>
	      </div>
	    </div>
	    {% endif %}
