{% load imageurl %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <title>{% trans "School Idol Tomodachi" %} - {% block title %}{% trans 'The Ultimate Resource For LoveLive! School Idol Festival players' %}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/bower/bootstrap/dist/css/bootstrap.min.css">
    {% if debug %}
    <link rel="stylesheet/less" type="text/css" href="/static/less/style.less" />
    <script src="/static/bower/less/dist/less.min.js"></script>
    {% else %}
    <link rel="stylesheet" href="/static/css/style.css">
    {% endif %}

    <meta property="og:image" content="{% block shareimage %}http://schoolido.lu/static/screenshot.png{% endblock %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="{% trans 'The Ultimate Resource For LoveLive! School Idol Festival players' %} {% trans 'Browse & track your cards. Vote for the best girl.' %}">
    <meta name="keywords" content="LLSIF, Love Live, LoveLive, School Idol Festival, School Idol, School Idol Project, Android game, rhythm game, ラブライブ, cards, card, tracker, スクールアイドルフェスティバル">
    <meta name="twitter:card" value="LLSIF Cards Browser & Tracker + Vote for the BEST girl">
    <meta name="twitter:image" content="{% block shareimagetwitter %}http://schoolido.lu/static/screenshot.png{% endblock %}">
    <meta name="twitter:creator" content="@db0company">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
  </head>
  <body class="interface-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}">

    <nav class="navbar navbar-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}default{% endif %} navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">
	    {% if not hide_back_button %}
	    <i class="flaticon-back"></i>
	    {% endif %}
	    {% trans "School Idol Tomodachi" %}</a>
	</div>
	<div class="collapse navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li class="{% if current == 'cards' %}active{% endif %}"><a href="/cards/">{% trans 'Cards' %}</a></li>
	    <li><a href="/contest/">{% trans 'Contest' %}</a></li>
	    {% if user.is_authenticated %}
	    <li class="dropdown">	
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		{{ user.username }}
		<span class="caret"></span>
	      </a>
	      <ul class="dropdown-menu" role="menu">
		<li class="{% if current == 'profile' %}active{% endif %}"><a href="/user/{{ user.username }}/"><i class="flaticon-profile"></i> {% trans 'Profile' %}</a></li>
		<li class="{% if current == 'activities' %}active{% endif %}"><a href="/activities/"><i class="flaticon-activities"></i> {% trans 'Activities' %}</a></li>
		<li class="{% if current == 'edit' %}active{% endif %}"><a href="/edit/"><i class="flaticon-settings"></i> {% trans 'Your Settings' %}</a></li>
		<li><a href="/logout/"><i class="flaticon-logout"></i> {% trans 'Logout' %}</a></li>
		<li role="presentation" class="divider"></li>
		{% include "baseMenu.html" %}
	      </ul>
	    </li>
	    <li class="dropdown">	
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		{{ active_account }}
		<span class="caret"></span>
	      </a>
	      <ul class="dropdown-menu" role="menu">
		{% if accounts %}
		 <li role="presentation" class="dropdown-header">{% trans 'Switch account' %}:</li>
		{% endif %}
		{% for account in accounts %}
		<li class="{% if account == active_account %}disabled{% endif %}"><a href="/switchaccount/{{ account.pk }}/" class="account">
		    {% if account.center %}
		    <div class="pull-left">
		      <div class="center circled {{ account.center.card.attribute }} {{ account.center.card.rarity }}"
			   style="background-image: url('{% if not account.center.idolized and account.center.card.card_image %}{{ account.center.card|imageurl:'card_image' }}{% else %}{{ account.center.card|imageurl:'card_idolized_image' }}{% endif %}')"></div>
		    </div>
		    {% else %}
		    <div class="padding pull-left"></div>
		    {% endif %}
		    {% if account == active_account %}
		    <div class="pull-right"><i class="flaticon-checked"></i></div>
		    {% endif %}
		    {{ account }}</a></li>
		{% endfor %}
		<li role="presentation" class="divider"></li>
		<li class="{% if current == 'addaccount' %}active{% endif %}"><a href="/addaccount/"><i class="flaticon-add"></i> {% trans 'Add Account' %}</a></li>
		<li class="{% if current == 'profile' %}active{% endif %}"><a href="/user/{{ user.username }}/"><i class="flaticon-edit"></i> {% trans 'Edit your accounts' %}</a></li>
	      </ul>
	    </li>
	    {% else %}
	    <li class="{% block loginviewactive %}{% endblock %}"><a href="/login/">{% trans 'Login' %}</a></li>
	    <li class="{% if current == 'create' %}active{% endif %}"><a href="/create/">{% trans 'Sign Up' %}</a></li>
	    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		<span class="caret"></span>
	      </a>
	      <ul class="dropdown-menu" role="menu">
		{% include "baseMenu.html" %}
	      </ul>
	    </li>
	    {% endif %}
	    {% if show_filter_button %}
	    <li><a href="#" class="sidebar-toggle"><i class="flaticon-filter"></i><span class="visible-xs-inline"> {% trans 'Filters' %}</span></a></li>
	    {% endif %}
	  </ul>
      </div>
    </nav>

    <main>
      {% block content %}{% endblock %}
    </main>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	</div>
      </div>
    </div>
    
    <!-- Free Modal -->
    <div class="modal fade" id="freeModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <h4 class="modal-title"></h4>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}" data-dismiss="modal">{% trans 'Go' %}</button>
	  </div>
	</div>
      </div>
    </div>

    <script>
    var disqus_config = function () {
    this.language = "{{ LANGUAGE_CODE }}";
    };
    {% if LANGUAGE_CODE == 'ja' %}
    var is_japanese = true;
    {% else %}
    var is_japanese = false;
    {% endif %}
    </script>

    <script src="/static/bower/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/jquery.form.min.js"></script>
    <script src="/static/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block js %}{% endblock %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59453399-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>

