{% load i18n %}
{% if user.is_staff and user.preferences.allowed_verifications %}
<li><a href="/staff/verifications/"><i class="flaticon-star"></i> Verifications</a></li>
<li role="presentation" class="divider"></li>
{% endif %}
<li><a href="#contactModal" data-toggle="ajaxmodal"><i class="flaticon-contact"></i> {% trans 'Contact Us' %}</a></li>
<li><a href="/donate/"><span class="text-danger"><i class="flaticon-heart"></i></span> {% trans 'Donate' %}</a></li>
<li><a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki" target="_blank"><i class="flaticon-help"></i> {% trans 'Help' %}</a></li>
<li><a href="/about/" data-toggle="ajaxmodal"><i class="flaticon-about"></i> {% trans 'About' %}</a></li>
<li><a href="#developersModal" data-toggle="ajaxmodal"><i class="flaticon-developer"></i> {% trans 'Developers' %}</a></li>
<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">{% trans 'Switch language:' %}</li>
{% for lang in LANGUAGES %}
<li{% if LANGUAGE_CODE == lang.0 %} class="disabled"{% endif %}>
  <a href="#" class="switchLanguage" data-lang="{{ lang.0 }}">
    {% if LANGUAGE_CODE == lang.0 %}<div class="pull-right"><i class="flaticon-checked"></i></div>{% endif %}
    {{ lang.1 }}
  </a>
</li>
{% endfor %}
<form action="/i18n/setlang/" method="post" class="hidden" id="switchLanguage">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ current_url }}" />
  <select name="language">
    {% for lang in LANGUAGES %}
    <option value="{{ lang.0 }}">{{ lang.1 }}</option>
    {% endfor %}
  </select>
</form>
