{% load imageurl %}
{% load i18n %}
{% load gravatar %}
{% load choicesToString %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <title>{% trans "School Idol Tomodachi" %} - {% block title %}{% trans 'The Ultimate Resource For LoveLive! School Idol Festival players' %}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/bower/bootstrap/dist/css/bootstrap.min.css">
    {% if debug %}
    <link rel="stylesheet/less" type="text/css" href="/static/less/style.less" />
    <script src="/static/bower/less/dist/less.min.js"></script>
    {% else %}
    <link rel="stylesheet" href="/static/css/style.css?20">
    {% endif %}

    <meta property="og:image" content="{% block shareimage %}http://schoolido.lu/static/screenshots/home.png{% endblock %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="{% trans 'The Ultimate Resource For LoveLive! School Idol Festival players' %} {% trans 'Browse & track your cards. Vote for the best girl.' %}">
    <meta name="keywords" content="LLSIF, Love Live, LoveLive, School Idol Festival, School Idol, School Idol Project, Android game, rhythm game, ラブライブ, cards, card, tracker, スクールアイドルフェスティバル">
    <meta name="twitter:card" value="LLSIF Cards Browser & Tracker + Vote for the BEST girl">
    <meta name="twitter:image" content="{% block shareimagetwitter %}http://schoolido.lu/static/screenshots/home.png{% endblock %}">
    <meta name="twitter:creator" content="@db0company">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
  </head>
  <body class="interface-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}">

    {% if not hidenavbar %}
    <nav class="navbar navbar-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}default{% endif %} navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">
	    {% trans "School Idol Tomodachi" %}</a>
	</div>
	<div class="collapse navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li class="{% if current == 'cards' %}active{% endif %}"><a href="/cards/"><i class="flaticon-album"></i><span class="hidden-sm hidden-md"> &nbsp; {% trans 'Cards' %}</span></a></li>
	    <li class="{% if current == 'idols' %}active{% endif %}"><a href="/idols/"><i class="flaticon-idolized"></i><span class="hidden-sm hidden-md"> &nbsp; {% trans 'Idols' %}</span></a></li>
	    <li class="{% if current == 'songs' %}active{% endif %}"><a href="/songs/"><i class="flaticon-song"></i><span class="hidden-sm hidden-md"> &nbsp; {% trans 'Songs' %}</span></a></li>
	    <li class="{% if current == 'events' %}active{% endif %}"><a href="/events/"><i class="flaticon-event"></i><span class="hidden-sm hidden-md"> &nbsp; {% trans 'Events' %}</span></a></li>
	    <li class="dropdown">
	      <a href="/contest/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		<i class="flaticon-promo"></i><span class="hidden-sm hidden-md"> &nbsp; {% trans 'Fun' %}</span>
		<ul class="dropdown-menu drop-contest-menu" role="menu">
		  <li class="drop-contest"><a href="/contest/"><img src="/static/currentcontest_no.png" alt="Global Contest"></a></li>
		  {% if current_contests.0.name %}{# means it's not just the global #}
		  {% for contest in current_contests %}
		  <li class="drop-contest"><a href="{{ contest.url }}"><img src="{{ contest.image }}" alt="{{ contest.name }}"></a></li>
		  {% endfor %}
		  {% endif %}
		  <li class="active"><a href="/contest/results/" class="text-center fontx1-5">{% trans 'Past Contests' %}</a></li>
		  <li class="drop-contest"><a href="/trivia/"><img src="/static/lltriviabanner.png"></a></li>
		</ul>
	      </a>
	    </li>
	    <li class="{% if current == 'users' %}active{% endif %} dropdown">
	      <a href="/users/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		<i class="flaticon-users"></i><span class="hidden-sm hidden-md">
		  &nbsp;
		  {% trans 'Players' %}</span>
	      </a>
	      <ul class="dropdown-menu" role="menu">
		<li class="{% if current == 'users' and users_language == 'EN' %}active{% endif %}"><a href="/users/?language=EN&verified=3&reverse_order=on"><i class="flaticon-EN"></i> {% trans 'Leaderboard' %} - {{ 'EN'|languageToString }}</a></li>
		<li class="{% if current == 'users' and users_language == 'JP' %}active{% endif %}"><a href="/users/?language=JP&verified=3&reverse_order=on"><i class="flaticon-JP"></i> {% trans 'Leaderboard' %} - {{ 'JP'|languageToString }}</a></li>
		<li role="presentation" class="divider"></li>
		<li class="{% if current == 'map' %}active{% endif %}"><a href="/map/"><i class="flaticon-world"></i> {% trans 'Map' %}</a></li>
		<li class="{% if current == 'discussions' or current == 'discussion' %}active{% endif %}"><a href="/discussions/"><i class="flaticon-comments"></i> {% trans 'Discussions' %}</a></li>
	      </ul>
	    </li>
	    {% if user.is_authenticated %}
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	      {% if notification %}
	      <span id="notifications" data-toggle="popover" data-content="<div class='row'><div class='col-xs-3'>{{ notification.left_html|safe }}</div><div class='col-xs-9'>{{ notification.message }}<div class='text-right'><br><a href='{{ notification.link }}' target='_blank' class='btn btn-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}'>{{ notification.link_text }}</a></div></div></div>" data-trigger="manual" data-placement="bottom" data-html="true" data-container="body">
		{% endif %}
		{% include 'include/avatar.html' with av_user=user av_size=10 av_image_size=22 %}
		&nbsp;
		<span class="hidden-sm hidden-md">{{ user.username }}</span>
	      {% if notification %}
	      </span>
	      {% endif %}
	      </a>
	      <ul class="dropdown-menu" role="menu">
		<li class="{% if current == 'profile' and profile_user.username == user.username %}active{% endif %}"><a href="/user/{{ user.username }}/"><i class="flaticon-profile"></i> {% trans 'Profile' %}</a></li>
		<li class="{% if current == 'edit' %}active{% endif %}"><a href="/edit/"><i class="flaticon-settings"></i> {% trans 'Your Settings' %}</a></li>
		<li role="presentation" class="divider"></li>
		{% if accounts %}
		<li role="presentation" class="dropdown-header">{% with accounts|length as length %}{% blocktrans count counter=length %}{{ length }} account:{% plural %}{{ length }} accounts:{% endblocktrans %}{% endwith %}</li>
		{% endif %}
		{% for account in accounts %}
		<li><a href="/user/{{ user.username }}/#{{ account.pk }}" class="account">
		    {% if account.center %}
		    <div class="pull-left">
		      {% include 'ownedcard.html' with card=account.center nolink=True size=30 classes='center circled' no_details=True %}
		    </div>
		    {% else %}
		    <div class="padding pull-left"></div>
		    {% endif %}
		    {{ account }}</a></li>
		{% endfor %}
		<li class="{% if current == 'addaccount' %}active{% endif %}"><a href="/addaccount/"><i class="flaticon-add"></i> {% trans 'Add Account' %}</a></li>
		<li><a href="/edit/#editaccounts"><i class="flaticon-edit"></i> {% trans 'Edit your accounts' %}</a></li>
		<li role="presentation" class="divider"></li>
		<li><a href="/logout/"><i class="flaticon-logout"></i> {% trans 'Logout' %}</a></li>
	      </ul>
	    </li>
	    {% else %}
	    <li class="{% block loginviewactive %}{% endblock %}"><a href="/login/">{% trans 'Login' %}</a></li>
	    <li class="{% if current == 'create' %}active{% endif %}"><a href="/create/">{% trans 'Sign Up' %}</a></li>
	    {% endif %}
	    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		<i class="flaticon-more"></i>
	      </a>
	      <ul class="dropdown-menu" role="menu">
		{% include "baseMenu.html" %}
	      </ul>
	    </li>
	  </ul>
      </div>
    </nav>
    {% endif %}

    <main>
      {% block content %}{% endblock %}
    </main>

    <!-- Modal -->
    <div class="modal fade" id="modal">
      <div class="modal-dialog">
	<div class="modal-content">
	</div>
      </div>
    </div>

    <!-- CuteForm Modal -->
    <div class="modal fade" id="cuteform-modal">
      <div class="modal-dialog modal-lg text-center">
	<div class="modal-content">
	  <div class="modal-body"></div>
	</div>
      </div>
    </div>

    <!-- Free Modal -->
    <div class="modal fade" id="freeModal">
      <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <h4 class="modal-title"></h4>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}" data-dismiss="modal">{% trans 'Go' %}</button>
	  </div>
	</div>
      </div>
    </div>

    <script>
    var disqus_config = function () {
    this.language = "{{ LANGUAGE_CODE }}";
    };
    {% if LANGUAGE_CODE == 'ja' %}
    var is_japanese = true;
    {% else %}
    var is_japanese = false;
    {% endif %}
    {% if debug %}
    var disqus_developer = 1;
    {% endif %}
    var disqus_shortname = '{% if disqus_shortname %}{{ disqus_shortname }}{% else %}schoolidol{% endif %}';
    </script>

    <script src="/static/bower/jQuery/dist/jquery.min.js"></script>
    <script src="/static/js/jquery.form.min.js"></script>
    <script src="/static/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js?6"></script>
    {% block js %}{% endblock %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59453399-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script>
      window.twttr=function(t,e,r){var n,i=t.getElementsByTagName(e)[0],w=window.twttr||{};return t.getElementById(r)?w:(n=t.createElement(e),n.id=r,n.src="https://platform.twitter.com/widgets.js",i.parentNode.insertBefore(n,i),w._e=[],w.ready=function(t){w._e.push(t)},w)}(document,"script","twitter-wjs");
    </script>

  </body>
</html>

