{% load i18n %}
{% load mod %}
{% if user.is_staff %}
{% if user.preferences|has_permission:'ACTIVE_MODERATOR' %}
<li><a href="/staff/moderation/"><i class="flaticon-skill"></i> Active Moderation</a></li>
{% endif %}
{% if user.preferences|has_permission:'DECISIVE_MODERATOR' %}
<li><a href="/staff/reports/"><i class="flaticon-warning"></i> Moderation Reports</a></li>
<li><a href="https://disqus.com/admin/moderate/#/pending" target="_blank"><i class="flaticon-comments"></i> Reported comments</a></li>
{% endif %}
{% if user.preferences.has_verification_permissions %}
<li><a href="/staff/verifications/"><i class="flaticon-star"></i> Verifications</a></li>
{% endif %}
{% if user.preferences|has_permission:'DATABASE_MAINTAINER' %}
<li><a href="/staff/database/"><i class="flaticon-album"></i> Database Maintenance</a></li>
{% endif %}
<li role="presentation" class="divider"></li>
{% endif %}
<li><a href="/about/"><i class="flaticon-about"></i> {% trans 'About us' %}</a></li>
<li><a href="/about/#contact"><i class="flaticon-contact"></i> {% trans 'Contact Us' %}</a></li>
<li><a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki" target="_blank"><i class="flaticon-help"></i> {% trans 'Help' %}</a></li>
<li><a href="/about/#contribute"><i class="flaticon-developer"></i> {% trans 'Developers' %}</a></li>
<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">{% trans 'Switch language:' %}</li>
{% for lang in LANGUAGES %}
<li{% if LANGUAGE_CODE == lang.0 %} class="disabled"{% endif %}>
  <a href="#" class="switchLanguage" data-lang="{{ lang.0 }}">
    {% if LANGUAGE_CODE == lang.0 %}<div class="pull-right"><i class="flaticon-checked"></i></div>{% endif %}
    {{ lang.1 }}
  </a>
</li>
{% endfor %}
<form action="/i18n/setlang/" method="post" class="hidden" id="switchLanguage">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ current_url }}" />
  <select name="language">
    {% for lang in LANGUAGES %}
    <option value="{{ lang.0 }}">{{ lang.1 }}</option>
    {% endfor %}
  </select>
</form>
