  <div class="activities">
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/user/Coolguy/#166" target="_blank">
	      <div class="rank rank-133">376</div>
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 13, 2015, 11:33 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Rank Up
	    </span><br>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1621328/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1621328/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1621328/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1621328">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/db0/#1" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/8e731f8661ed8a4549e5445ccffe388a?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fdbschoolidol" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/711/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/711RoundEli.png" alt="#711 Ayase Eli SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 11, 2015, 6:14 a.m.</small><br>
	    <strong class="account">デビ JP</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/711/" class="owned_card">
		#711 Ayase Eli SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1611020/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1611020/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1611020/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1611020">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Umida/#59" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/8b4c63523b953b9a90797e02ed0a6155?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2FUmidahh" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/user/Umida/#59" target="_blank">
	      <div class="rank rank-133">400</div>
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 8, 2015, 6:17 p.m.</small><br>
	    <strong class="account">HonoKotoDa EN</strong><br>
	    <span class="message">Rank Up
	    </span><br>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1597549/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1597549/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1597549/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1597549">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/144/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/144RoundNozomi.png" alt="#144 Toujou Nozomi SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:15 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/144/" class="owned_card">
		#144 Toujou Nozomi SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577933/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577933/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577933/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577933">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/535/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/535RoundKotori.png" alt="#535 Minami Kotori SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:14 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/535/" class="owned_card">
		#535 Minami Kotori SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577924/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577924/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577924/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577924">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/606/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/606RoundUmi.png" alt="#606 Sonoda Umi SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:13 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/606/" class="owned_card">
		#606 Sonoda Umi SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577922/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577922/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577922/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577922">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/674/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/674RoundMaki.png" alt="#674 Nishikino Maki SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:12 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/674/" class="owned_card">
		#674 Nishikino Maki SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577914/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577914/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577914/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577914">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/529/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/529RoundMaki.png" alt="#529 Nishikino Maki SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:11 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/529/" class="owned_card">
		#529 Nishikino Maki SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577911/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577911/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577911/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577911">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/567/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/567RoundUmi.png" alt="#567 Sonoda Umi SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:11 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/567/" class="owned_card">
		#567 Sonoda Umi SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577910/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577910/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577910/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577910">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/580/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/580RoundNico.png" alt="#580 Yazawa Nico SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:10 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/580/" class="owned_card">
		#580 Yazawa Nico SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577909/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577909/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577909/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577909">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/636/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/636RoundHonoka.png" alt="#636 Kousaka Honoka SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:10 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/636/" class="owned_card">
		#636 Kousaka Honoka SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577907/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577907/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577907/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577907">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/672/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/672RoundEli.png" alt="#672 Ayase Eli SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:09 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/672/" class="owned_card">
		#672 Ayase Eli SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577904/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577904/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577904/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577904">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/163/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/163RoundNozomi.png" alt="#163 Toujou Nozomi SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:08 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/163/" class="owned_card">
		#163 Toujou Nozomi SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577899/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577899/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577899/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577899">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/561/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/561RoundHonoka.png" alt="#561 Kousaka Honoka SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:08 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/561/" class="owned_card">
		#561 Kousaka Honoka SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577897/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577897/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577897/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577897">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="activity">
      <div class="row">
	<div class="col-xs-2">
	  <a href="/user/Coolguy/#166" class="avatar_wrapper  ">
	    <img src="http://www.gravatar.com/avatar/58651a093f45cb5e9853476d41b1223d?s=100&amp;d=http%3A%2F%2Fschoolido.lu%2Favatar%2Ftwitter%2Fcoolguyy314" class="avatar">
	  </a>
	</div>
	<div class="col-xs-10">
	  <div class="pull-right text-right">
	    <a href="/cards/583/" class="owned_card">
	      <img class="" src="http://i.schoolido.lu/cards/583RoundKotori.png" alt="#583 Minami Kotori SR" height="133" style="display: inline-block">
	    </a>
	  </div>
	  <div>
	    <small class="date">Nov. 6, 2015, 12:07 a.m.</small><br>
	    <strong class="account">Coolguy EN</strong><br>
	    <span class="message">Added a card
	      in <i>Deck</i>
	    </span><br>
	    <div>
	      <a href="/cards/583/" class="owned_card">
		#583 Minami Kotori SR
	      </a>
	    </div>
	    <div class="socialbar">
	      <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/1577895/">
		<input type="hidden" name="csrfmiddlewaretoken" value="hSEIimBjRA82MtHjZ8BfrAY8cLa62LuQ">
		<input type="hidden" name="like">
		<div class="btn-group">
		  <a href="/create/" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> Like</a>
		  <a href="#likecount" class="btn btn-link btn-sm">1</a>
		</div>
		<div class="btn-group writecomments">
		  <a href="/activities/1577895/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> Write Comment</a>
		  <a href="http://schoolido.lu/activities/1577895/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity1577895">Comments</a>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="padding20 text-center" data-page="2"><a href="#loadMoreActivities">⟱</a></div>
  </div>
