{% extends "base.html" %}
{% load i18n %}
{% load random_int %}

{% block title %}{% trans 'Profile' %}{% endblock %}

{% block content %}
<div id="contest-page" style="background-image: url('http://i.schoolido.lu/backgrounds/background{{ 0|random_int:total_backgrounds }}.png');">
  <div class="container text-center">
    <h1><img src="http://i.schoolido.lu/static/default_event.png" style="max-width: 100%; border-radius: 10px;" alt="{% trans 'Profile' %}"></h1>
    <p class="margin50 fontx1-5">
      The profiles are temporarily disabled due to high traffic. Please try again tomorrow.<br>
      <i>Any help to get more powerful servers is greatly appreciated. <a href="/about/#donate">Donate here!</a></i>
    </p>
  </div>
</div>
{% endblock %}
