{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load imageurl %}
{% load choicesToString %}

{% block title %}{% if view == 'albumbuilder' %}{% trans 'Album Builder' %}{% else %}{% trans 'Cards Album' %}{% if single %}: {{ single }}{% elif request_get.name %}: {{ request_get.name }}{% endif %}{% endif %}{% endblock %}
{% block js %}
<script src="//i.schoolido.lu/static/bower/CuteForm/cuteform.js"></script>
<script>
  cuteform($('#id_attribute'), {
    'images': {
      '': '//i.schoolido.lu/static/empty.png',
      {% for i, attribute in filters.attribute_choices %}
      '{{ i }}': '//i.schoolido.lu/static/{{ i }}.png',
      {% endfor %}
    }
  });
  cuteform($('#id_rarity'), {
    'images': {
      '': '//i.schoolido.lu/static/empty.png',
      {% for rarity, _ in filters.rarity_choices %}
      '{{ rarity }}': '//i.schoolido.lu/static/{{ rarity }}{% if interfaceColor %}{% if interfaceColor == 'default' %}Smile{% else %}{{ interfaceColor }}{% endif %}{% else %}Smile{% endif %}.png',
      {% endfor %}
    }
  });
  cuteform($('#id_sub_unit'), {
    'images': {
      '': '//i.schoolido.lu/static/empty.png',
      {% for sub_unit in filters.sub_units %}
      '{{ sub_unit }}': '//i.schoolido.lu/static/{{ sub_unit }}.png',
      {% endfor %}
    }
  });
  cuteform($('#id_main_unit'), {
    'images': {
      '': '//i.schoolido.lu/static/empty.png',
      {% for main_unit in filters.main_units %}
      '{{ main_unit|escapejs }}': '//i.schoolido.lu/static/{{ main_unit|escapejs }}.png',
      {% endfor %}
    }
  });
  cuteform($('#id_name'), {
    'modal': 'true',
    'modal-text': 'true',
    'images': {
      {% for idol, str in filters.idols %}
      {% if idol == '' %}'': '//i.schoolido.lu/static/empty.png',{% else %}'{{ idol|escapejs }}': '{% chibiimage idol=idol small=True force_artist='shinylyni' force_first=True %}',{% endif %}
      {% endfor %}
    }
  });
</script>
<script>
  var get_parameters = {% if get_parameters %}'{{ get_parameters }}'{% else %}location.search{% endif %};
</script>
<script src="//i.schoolido.lu/static/js/cards.js?11"></script>
{% if view == 'albumbuilder' %}
<script src="//i.schoolido.lu/static/js/albumbuilder.js"></script>
<script>
  var deck_disable_title = "{% trans 'You can only have one in your album.' %}";
  var deck_enable_title = "{% trans 'Click to switch Deck/Album' %}";
  var album_confirm_add_when_deck = "{% trans 'The cards in your deck automatically appear in your album.' %} {% trans 'Are you sure you also want to add it in your album?' %}";
  var go_message = "{% trans 'Go' %}";
</script>
{% else %}
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script src="//i.schoolido.lu/static/js/addcard.js?4-1"></script>
{% endif %}
{% endblock %}

{% block shareimage %}{% if single %}{% imageurl card=single image='card_idolized_image' %}{% else %}http://i.schoolido.lu/static/screenshots/cards.png{% endif %}{% endblock %}
{% block shareimagetwitter %}{% if single %}{% imageurl card=single image='card_idolized_image' %}{% else %}http://i.schoolido.lu/static/screenshots/cards.png{% endif %}{% endblock %}

{% block content %}
{% if not high_traffic and view != 'albumbuilder' %}
<div class="hidden" id="quickaddform">
  <form class="form-horizontal" method="post" role="form" action="/ajax/addcard/">
    <h3>{% trans 'Card added!' %}<br>
    <small>{% trans 'You may edit it below:' %}</small></h3>
    {% csrf_token %}
    <div class='row form-group'>
      <label for='id_card' class='col-sm-4 control-label' style='text-align: right;'>
	*Card
      </label>
      <div class='col-sm-8'>
	<input class="form-control" id="id_card" name="card" placeholder="Card" type="number"/>
      </div>
    </div>
    <div class='row form-group'>
      <label for='id_owner_account' class='col-sm-4 control-label' style='text-align: right;'>
	*Account
      </label>
      <div class='col-sm-8'>
	<select class="form-control" id="id_owner_account" name="owner_account" placeholder="Account">
	  {% for account in accounts %}
	  <option value="{{ account.id }}">{{ account }}</option>
	  {% endfor %}
	</select>
      </div>
    </div>
    <div class='row form-group  '>
      <div class='col-sm-4'></div>
      <div class='col-sm-8'>
	<label><input id="id_idolized" name="idolized" type="checkbox"/> Idolized</label>
      </div>
    </div>
    <div class="text-right">
      <a class="btn btn-sm btn-link" href="#editCard">{% trans 'Advanced' %}</a>
      <input type="submit" class="btn btn-sm" value="{% trans 'Apply Changes' %}" />
    </div>
  </form>
</div>
{% endif %}
{% if not single %}
{% if show_filter_button %}
<div id="wrapper" class="{% if show_filter_bar %}active{% endif %}">
  <nav id="sidebar-wrapper" class="{% if interfaceColor %}{{ interfaceColor }}{% else %}default{% endif %}">
    <form method="GET" action="/cards/">
      <h4>{% trans 'Search' %}</h4>
      <div class="section search">
	<input type="text" id="search" placeholder="{% trans 'Search' %}" name="search" data-container="body" data-toggle="popover" data-placement="left" data-content="{% trans 'Search' %}: {% trans 'Idol' %}, {% trans 'Skill' %}, {% trans 'Collection' %}, {% trans 'Promo Item' %}, {% trans 'Event' %}, ..." data-trigger="focus" value="{{ request_get.search }}">
      </div>
      <h4>{% trans 'Filter' %}</h4>
      <div class="section filter" style="padding-bottom: 0;">
	<label for="id_name">{% trans 'Idol' %}</label>
	<select id="id_name" name="name">
	  <optgroup>
	    {% for idol, str in filters.idols %}
	    <option value="{{ idol }}"{% if request_get.name == idol %} selected{% endif %}>{{ str }}</option>
	    {% if forloop.counter == 1 or forloop.counter == 10 %}
	  </optgroup>
	  <optgroup>
	    {% endif %}
	    {% endfor %}
	  </optgroup>
	</select>
	<br>
	<label for="id_rarity">{% trans 'Rarity' %}</label>
	<select id="id_rarity" name="rarity">
	  <option value=""></option>
	  {% for i, rarity in filters.rarity_choices %}
	  <option value="{{ i }}"{% if request_get.rarity == i %} selected{% endif %}>{{ rarity }}</option>
	  {% endfor %}
	</select>
	<br>
	<label for="id_attribute">{% trans 'Attribute' %}</label>
	<select id="id_attribute" name="attribute">
	  <option value=""></option>
	  {% for i, attribute in filters.attribute_choices %}
	  <option value="{{ i }}"{% if request_get.attribute == i %} selected{% endif %}>{% trans attribute %}</option>
	  {% endfor %}
	</select>
	<br>
	{% if view != 'albumbuilder' %}
	<br>
	<div>
	  <div class="pull-right"><input id="id_is_world" name="is_world" type="checkbox"{% if request_get.is_world %} checked{% endif %}></div>
	  <label for="id_is_world"><i class="flaticon-world"></i> {% trans 'Worldwide only' %}</label>
	</div>
	{% endif %}
	<br>
	<div class="text-right">
	  <a href="#morefilters" class="btn btn-{% if not interfaceColor or interfaceColor == 'default' %}Smile{% else %}{{ interfaceColor }}{% endif %} btn-sm" data-toggle="collapse"><i class="flaticon-more"></i> <span class="fontx1-2">{% trans 'More options' %}</span></a>
	</div>
      </div>
      <div id="morefilters" class="collapse">
	<div class="section morefilters">
	  <div>
	    <label for="id_is_promo"><i class="flaticon-promo"></i> {% trans 'Promo Cards' %}</label>
	    <select id="id_is_promo" name="is_promo" data-cuteform="true">
	      <option data-cuteform-html="{% trans 'All' %}" value=""></option>
	      <option data-cuteform-html="{% trans 'Only' %}" value="on"{% if request_get.is_promo == 'on' %} selected{% endif %}>{% trans 'Only' %}</option>
	      <option data-cuteform-html="{% trans 'None' %}" value="off"{% if request_get.is_promo == 'off' %} selected{% endif %}>{% trans 'None' %}</option>
	    </select>
	  </div>
	  <div>
	    <label for="id_is_special"><i class="flaticon-skill"></i> {% trans 'Special Cards' %}</label>
	    <select id="id_is_special" name="is_special" data-cuteform="true">
	      <option value="" data-cuteform-html="{% trans 'All' %}"></option>
	      <option data-cuteform-html="{% trans 'Only' %}" value="on"{% if request_get.is_special == 'on' %} selected{% endif %}>{% trans 'Only' %}</option>
	      <option data-cuteform-html="{% trans 'None' %}" value="off"{% if request_get.is_special == 'off' %} selected{% endif %}>{% trans 'None' %}</option>
	    </select>
	  </div>
	  <div>
	    <label for="id_is_event"><i class="flaticon-event"></i> {% trans 'Event Cards' %}</label>
	    <select id="id_is_event" name="is_event" data-cuteform="true">
	      <option data-cuteform-html="{% trans 'All' %}" value=""></option>
	      <option data-cuteform-html="{% trans 'Only' %}" value="on"{% if request_get.is_event == 'on' %} selected{% endif %}>{% trans 'Only' %}</option>
	      <option data-cuteform-html="{% trans 'None' %}" value="off"{% if request_get.is_event == 'off' %} selected{% endif %}>{% trans 'None' %}</option>
	    </select>
	  </div>
	  <br>
	  <label for="id_skill">{% trans 'Skill' %}</label>
	  <select id="id_skill" name="skill">
	    <option value=""></option>
	    {% for idol in filters.skills %}
	    <option value="{{ idol.skill }}"{% if request_get.skill == idol.skill %} selected{% endif %}>{% if LANGUAGE_CODE == 'ja' and idol.japanese_skill %}{{ idol.japanese_skill }}{% else %}{{ idol.skill }}{% endif %} ({{ idol.total }})</option>
	    {% endfor %}
	  </select>
	  <br>
	  <label for="id_translated_collection">{% trans 'Collection' %} ({% trans 'English Version' %}) <i class="flaticon-EN"></i></label>
	  <select id="id_translated_collection" name="translated_collection">
	    <option value=""></option>
	    {% for translated_collection in filters.translated_collections %}
	    <option value="{{ translated_collection.translated_collection }}"{% if request_get.translated_collection == translated_collection.translated_collection %} selected{% endif %}>{% trans translated_collection.translated_collection %} ({{ translated_collection.total }})</option>
	    {% endfor %}
	  </select>
	  <br>
	  <label for="id_collection">{% trans 'Collection' %} ({{ 'JP'|languageToString }}) <i class="flaticon-JP"></i></label>
	  <select id="id_collection" name="collection">
	    <option value=""></option>
	    {% for collection in filters.collections %}
	    <option value="{{ collection.japanese_collection }}"{% if request_get.collection == collection.japanese_collection %} selected{% endif %}>{{ collection.japanese_collection }} ({{ collection.total }})</option>
	    {% endfor %}
	  </select>
	  <div id="main_unit_wrapper">
	    <label for="id_main_unit">{% trans 'Main Unit' %}</label>
	    <select id="id_main_unit" name="main_unit">
	      <option value=""></option>
	      {% for main_unit in filters.main_units %}
	      <option value="{{ main_unit }}"{% if request_get.main_unit == main_unit %} selected{% endif %}>{{ main_unit }}</option>
	      {% endfor %}
	    </select>
	  </div>
	  <div id="sub_unit_wrapper">
	    <label for="id_sub_unit">{% trans 'Sub Unit' %}</label>
	    <select id="id_sub_unit" name="sub_unit">
	      <option value=""></option>
	      {% for sub_unit in filters.sub_units %}
	      <option value="{{ sub_unit }}"{% if request_get.sub_unit == sub_unit %} selected{% endif %}>{{ sub_unit }}</option>
	      {% endfor %}
	    </select>
	  </div>
	  <label for="id_idol_school">{% trans 'School' %}</label>
	  <select id="id_idol_school" name="idol_school">
	    <option value="">{% trans 'All' %}</option>
	    {% for idol_school in filters.idol_school_choices %}
	    <option value="{{ idol_school }}"{% if request_get.idol_school == idol_school %} selected{% endif %}>{{ idol_school }}</option>
	    {% endfor %}
	  </select>
	  <br>
	  <label for="id_idol_year">{% trans 'Year' %}</label>
	  <select id="id_idol_year" name="idol_year" data-cuteform="true">
	    <option value="" data-cuteform-html="{% trans 'All' %}"></option>
	    {% for idol_year in filters.idol_year_choices %}
	    <option data-cuteform-html="{% trans idol_year %}" value="{{ idol_year }}"{% if request_get.idol_year == idol_year %} selected{% endif %}>{{ idol_year }}</option>
	    {% endfor %}
	  </select>
	  <br>
	  <label for="id_release_after">{% trans 'Release date' %} ({% trans 'after' %}):</label>
	  <input id="id_release_after" type="month" name="release_after" value="{{ request_get.release_after }}" class="form-control">
	  <label for="id_release_before">{% trans 'Release date' %} ({% trans 'before' %}):</label>
	  <input id="id_release_before" type="month" name="release_before" value="{{ request_get.release_before }}" class="form-control">
	</div> <!-- section -->
	<h4>{% trans 'View' %}</h4>
	<div class="section view">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-{{ btnColor }}{% if view != 'albumbuilder' %} active{% endif %}">
              <input type="radio" name="view" id="view_cards" autocomplete="off" value="cards"{% if view != 'albumbuilder' %} checked{% endif %}> {% trans 'Cards' %}
            </label>
            <label class="btn btn-{{ btnColor }}{% if view == 'albumbuilder' %} active{% endif %}">
              <input type="radio" name="view" id="view_albumbuilder" autocomplete="off" value="albumbuilder"{% if view == 'albumbuilder' %} checked{% endif %}> {% trans 'Album Builder' %}
            </label>
          </div>
	  {% if not high_traffic and user.is_authenticated %}
          <div id="albumbuilder_extraform"{% if view != 'albumbuilder' %} style="display: none;"{% endif %}>
	    <br>
	    <label for="id_albumbuilder_account">{% trans 'Account' %}</label>
	    <select id="id_albumbuilder_account" name="albumbuilder_account">
	      {% for account in accounts %}
	      <option value="{{ account.id }}"{% if view == 'albumbuilder' and albumbuilder_account.id == account.id %} selected{% endif %}>{{ account }}</option>
	      {% endfor %}
	    </select>
          </div>
	  <div id="user_filters"{% if view == 'albumbuilder' %} style="display: none"{% endif %}>
	    <br>
	    <div>
	      <div class="pull-right"><input id="id_show_clean_ur" name="show_clean_ur" type="checkbox"{% if request_get.show_clean_ur %} checked{% endif %}></div>
	      <label for="id_show_clean_ur"><i class="flaticon-idolized"></i> {% trans 'Show clean URs' %}</label>
	    </div>
	    <br>
	    <label for="id_select_account">{% trans 'Account' %}</label>
	    <select id="id_select_account" name="account">
	      <option value=""></option>
	      {% for account in accounts %}
	      <option value="{{ account.id }}"{% if request_get.account == account.id %} selected{% endif %}>{{ account }}</option>
	      {% endfor %}
	    </select>
	    <br>
	    <label for="id_stored">{% trans 'Stored' %}</label>
	    <select id="id_stored" name="stored">
	      <option value=""></option>
	      {% for i, stored in filters.stored_choices %}
	      <option value="{{ i }}"{% if request_get.stored == i %} selected{% endif %}>{{ stored }}</option>
	      {% endfor %}
	    </select>
	    <br>
	    <label for="id_idolized"><i class="flaticon-idolized"></i> {% trans 'Idolized' %}</label>
	    <select id="id_idolized" name="idolized">
	      <option value=""></option>
	      <option value="1"{% if request_get.idolized == '1' %} selected{% endif %}>{% trans 'Idolized' %}</option>
	      <option value="-1"{% if request_get.idolized == '-1' %} selected{% endif %}>{% trans 'Not Idolized' %}</option>
	    </select>
	    <brf>
	      <label for="id_max_level"><i class="flaticon-max-level"></i> {% trans 'Max Leveled' %}</label>
	      <select id="id_max_level" name="max_level">
		<option value=""></option>
		<option value="1"{% if request_get.max_level == '1' %} selected{% endif %}>{% trans 'Max Leveled' %}</option>
		<option value="-1"{% if request_get.max_level == '-1' %} selected{% endif %}>{% trans 'Not Max Leveled' %}</option>
	      </select>
	      <br>
	      <label for="id_max_bond"><i class="flaticon-max-bond"></i> {% trans  'Max Bonded (Kizuna)' %}</label>
	      <select id="id_max_bond" name="max_bond">
		<option value=""></option>
		<option value="1"{% if request_get.max_bond == '1' %} selected{% endif %}>{% trans 'Max Bonded (Kizuna)' %}</option>
		<option value="-1"{% if request_get.max_bond == '-1' %} selected{% endif %}>{% trans 'Not Max Bonded' %}</option>
	      </select>
	  </div>
	</div>
	{% endif %}
      </div> <!-- collapse -->
      <br>
      <h4>{% trans 'Order' %}</h4>
      <div class="section order">
	<select id="id_ordering" name="ordering">
	  {% for i, order in filters.ordering_choices %}
	  <option value="{{ i }}"{% if request_get.ordering == i %} selected{% endif %}>{{ order }}</option>
	  {% endfor %}
	</select>
	<br>
	<div>
	  <div class="pull-right"><input id="id_reverse_order" name="reverse_order" type="checkbox"{% if request_get.reverse_order %} checked{% endif %}></div>
	  <label for="id_reverse_order">{% trans 'Reverse order' %}</label>
	</div>
      </div>
      <div class="section submit">
	<button type="submit" class="btn btn-{% if not interfaceColor or interfaceColor == 'default' %}Smile{% else %}{{ interfaceColor }}{% endif %} btn-block" data-form-loader="true">{% trans 'Go' %}</button>
	<br><br><br><br><br>
      </div>
    </form>
  </nav>
  <div id="page-content-wrapper">
    <a href="#" id="togglebutton" class="{% if interfaceColor %}{{ interfaceColor }}{% else %}default{% endif %}">
      <i class="flaticon-search"></i>
      <i class="flaticon-toggler hidder"></i>
    </a>
{% endif %}
    {% endif %}
    <div>
      {% if view == 'albumbuilder' %}
      {% include "albumBuilder.html" %}
      {% else %}
      {% if show_discover_banner %}
      <a href="/cards/?search=&is_world=off&ordering=id&is_promo=off" target="_blank"
	 class="toplistbanner">
	<span>
	  <i class="flaticon-EN"></i>
	  {% trans 'Click this banner to discover the upcoming cards in EN!' %}
	</span>
      </a>
      {% endif %}
      {% include "cardsPage.html" %}
      {% endif %}
    </div>
    {% if not single %}
  </div> <!-- page-content-wrapper -->
</div> <!-- wrapper -->
{% endif %}

{% if view != 'albumbuilder' %}
<!-- Modal -->
<div class="modal fade" id="addCardModal" tabindex="-1" role="dialog" aria-labelledby="Addcard" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">{% trans 'Edit card' %}</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
