{% load mod %}
{% load times %}
{% load imageurl %}
{% load getattribute %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

    {% if cards and total_cards != 0 %}
    <div class="page" data-page="{{ page }}">
      {% if not ajax and request_get.name %}
      <br>
      <div class="panel panel-{{ interfaceColor }}">
	<div class="panel-heading">
	  <h1>{{ request_get.name }}</h1>
	</div>
	<div class="panel-body">
	  <div class="row">
	    <div class="col-lg-12">
	      {% include 'disqus.html' with disqus_identifier=request_get.name %}
	    </div>
	  </div>
	</div>
      </div>
      {% endif %}
      {% if show_filter_bar and total_cards > 0 and not ajax %}
      <h4 class="padding20 nomargin">
	{% blocktrans count counter=total_results %}{{ counter }} card matches your search:{% plural %}{{ counter }} cards match your search:{% endblocktrans %}
      </h4>
      {% endif %}
      <div class="row">
      {% for i, card in cards %}
      {% if i|mod:3 %}
    </div><div class="row">
      {% endif%}
      <div class="col-sm-{% if ajax %}4{% elif total_cards == 1 %}12{% elif total_cards == 2 %}6{% else %}4{% endif %}">
	<div class="card card-{{ card.attribute }} card-{{ card.rarity }}" id="{{ card.id }}">
	  <div class="panel panel-{{ card.attribute }}">
	    <div class="panel-body">
	      {% if total_cards == 1 %}<div class="row"><div class="col-md-6">{% endif %}
		  <div class="text-center">
		    {% if total_cards > 1 %}
		    <a href="#collapseMore{{ card.id }}" data-toggle="collapse" aria-expanded="false" aria-controls="collapseMore{{ card.id }}">{% endif %}
		      {% if not card.is_special and not card.is_promo %}
		      {% if total_cards == 1 %}<a href="{{ card|imageurl:'card_image' }}" target="_blank">{% endif %}
			<img src="{{ card|imageurl:'card_image' }}" class="non_idolized" width="49%" alt="{{ card }}">
			{% if total_cards == 1 %}</a>{% endif %}
		      {% endif %}
		      {% if total_cards == 1 %}<a href="{{ card|imageurl:'card_idolized_image' }}" target="_blank">{% endif %}
			<img src="{{ card|imageurl:'card_idolized_image' }}" class="idolized" width="49%" alt="{{ card }} idolized">
			{% if total_cards == 1 %}</a>{% endif %}
		      {% if total_cards > 1 %}</a>{% endif %}
		  </div>
		  {% if total_cards == 1 %}</div><div class="col-md-6">{% endif %}
		  <div class="more {% if card.non_idolized_maximum_statistics_smile %}levels3{% else %}levels2 {% endif %} {% if ajax or total_cards > 3 %}collapse{% endif %}" id="collapseMore{{ card.id }}">
		{% if card.minimum_statistics_smile %}
		<div class="statistics">
		  <div class="text-center level-buttons">
		    <div class="btn-group btn-group-justified" data-toggle="buttons">
		      <label class="btn btn-{{ card.attribute }} minimum_statistics">
			<input type="radio" name="options" autocomplete="off"> {% trans 'Level' %} 1
		      </label>
		      {% if card.non_idolized_maximum_statistics_smile %}
		      <label class="btn btn-{{ card.attribute }} active non_idolized_statistics">
			<input type="radio" name="options" autocomplete="off" checked>
			{% trans 'Level' %}
			{% if card.rarity == 'R' %}40
			{% elif card.rarity == 'SR' %}60
			{% elif card.rarity == 'UR' %}80
			{% endif %}
		      </label>
		      {% endif %}
		      <label class="btn btn-{{ card.attribute }} idolized_statistics {% if card.non_idolized_maximum_statistics_smile == 0 %}active{% endif %}">
			<input type="radio" name="options" autocomplete="off" {% if card.non_idolized_maximum_statistics_smile == 0 %}checked{% endif %}>
			{% trans 'Level' %}
			{% if card.rarity == 'N' %}40
			{% elif card.rarity == 'R' %}60
			{% elif card.rarity == 'SR' %}80
			{% elif card.rarity == 'UR' %}100
			{% endif %}
		      </label>
		    </div>
		  </div>
		  {% for level, stats in card.percent_stats.items %}
		  <div class="statistics_bars statistics_{{ level }}">
		    {% for attribute, stat in stats.items %}
		    {% with level|add:"_statistics_"|add:attribute|lower as valuenow %}
		    {% if card|getattribute:valuenow %}
		    <div class="row">
		      <div class="col-xs-2 text-{{ attribute }} text-right">
			{{ card|getattribute:valuenow }}
		      </div>
		      <div class="col-xs-10">
			<div class="progress">
			  <div class="progress-bar progress-bar-{{ attribute }}"
			       role="progressbar"
			       aria-valuenow="{{ card|getattribute:valuenow }}"
			       aria-valuemin="0"
			       aria-valuemax="{{ max_stats|getattribute:attribute }}"
			       style="width: {% localize off %}{{ stat }}{% endlocalize %}%">
			    <span class="sr-only">{{ stat }}%</span>
			  </div>
			</div> <!-- progress -->
		      </div>
		    </div>
		    {% endif %}
		    {% endwith %}
		    {% endfor %}
		  </div>
		  {% endfor %}
		</div> <!-- statistics -->
		{% endif %}
		<table class="table">
		  <tbody>
		    <tr>
		      <th>{% trans 'Id' %}</th>
		      <td>
			<a href="/cards/{{ card.id }}" target="_blank">
			  <div class="pull-right">
			    {% if card.round_card_image %}
			    <img src="{{ card|imageurl:'round_card_image' }}" alt="{{ card }}">
			    {% else %}
			    <i class="flaticon-id"></i>
			    {% endif %}
			  </div>
			  #{{ card.id }} <small><span class="tiny"><i class="flaticon-link"></i></span></small>
			</a><br>
			<small>{% if card.japanese_name %} {{ card.japanese_name }}{% endif %} {{ card.name }}
			  <span class="tiny"><a target="_blank" href="/cards/?name={{ card.name }}">
			      <i class="flaticon-link"></i></a></span><br>
			  {{ card.rarity }} {{ card|getattribute:'japanese_attribute' }} {{ card.attribute }}</small>
		      </td>
		    </tr>
		    {% if card.release_date %}
		    <tr>
		      <th>{% trans 'Release date' %}</th>
		      <td>
			{{ card.release_date }}
			<div class="pull-right">
			  <i class="flaticon-date"></i>
			</div>
		      </td>
		    </tr>
		    {% endif %}
		    {% if card.event %}
		    <tr>
		      <th>{% trans 'Event' %}</th>
		      <td>
			<a href="http://decaf.kouhi.me/lovelive/index.php?title={{ card.event.japanese_name }}" target="_blank">
			  {{ card.event.japanese_name }} {% if card.event.english_name != card.event.japanese_name %}<br>{{ card.event.english_name }}{% endif %}
			</a>
			<div class="pull-right">
			  <i class="flaticon-event"></i>
			</div>
		      </td>
		    </tr>
		    {% endif %}
		    {% if card.hp %}
		    <tr>
		      <th>{% trans 'HP' %}</th>
		      <td>
			<span class="hp_non_idolized">{{ card.hp }}</span>
			<span class="hp_idolized">{{ card.hp|add:1 }}</span>
			<div class="pull-right">
			  <i class="flaticon-hp"></i>
			</div>
		      </td>
		    </tr>
		    {% endif %}
		    {% if card.japanese_collection %}
		    <tr>
		      <th>{% trans 'Collection' %}</th>
		      <td>
			<a href="/cards/?search=&collection={{ card.japanese_collection }}">{{ card.japanese_collection }}</a>
			<div class="pull-right">
			  <i class="flaticon-album"></i>
			</div>
		      </td>
		    </tr>
		    {% endif %}
		    <tr>
		      <th>{% trans 'Skill' %}</th>
		      <td>
			<div class="pull-right">
			  <i class="flaticon-skill"></i>
			</div>
			{% if card.japanese_skill_details or card.japanese_skill %}
			<p>
			  {% if card.japanese_skill %}<strong>{{ card.japanese_skill }}</strong><br />
			  <small>{% endif %}{% if card.japanese_skill_details and card.japanese_skill_details != 'None' %}{{ card.japanese_skill_details }}{% endif %}{% if card.japanese_skill %}</small>{% endif %}
			</p>
			{% endif %}
			<p>
			  {% if card.skill %}<strong>{{ card.skill }}</strong>
			  <span class="tiny"><a target="_blank" href="/cards/?skill={{ card.skill }}">
			      <i class="flaticon-link"></i></a></span><br>
			  <small>{% endif %}{{ card.skill_details }}{% if card.skill %}</small>{% endif %}
			  </p>
		      </td>
		    </tr>
		    <tr>
		      <th>{% trans 'Center Skill' %}</th>
		      <td>
			<div class="pull-right">
			  <i class="flaticon-center"></i>
			</div>
			{% if card.japanese_center_skill_details or card.japanese_center_skill %}
			<p>
			  {% if card.japanese_center_skill %}<strong>{{ card.japanese_center_skill }}</strong><br />
			  <small>{% endif %}{% if card.japanese_center_skill_details and card.japanese_center_skill_details != 'None' %}{{ card.japanese_center_skill_details }}{% endif %}{% if card.japanese_center_skill %}</small>{% endif %}
			</p>
			{% endif %}
			<p>
			  {{ card.center_skill }}
			</p>
		      </td>
		    </tr>
		    {% if not single %}
		    <tr>
		      <th>{% trans 'Comments' %}</th>
		      <td>
			<a href="http://schoolido.lu/cards/{{ card.id }}/#disqus_thread" target="_blank">Comments</a>
			<div class="pull-right">
			  <i class="flaticon-edit"></i>
			</div>
		      </td>
		    </tr>
		    {% endif %}
		  </tbody>
		</table>
	      </div> <!-- more -->
	      {% if total_cards == 1 %}</div></div>{% endif %}
	    </div> <!-- panel-body -->
	    <div class="panel-footer">
	      {% for owned in card.owned_cards %}
	      {% include "ownedCardOnBottomCard.html" with owned=owned %}
	      {% with card.owned_cards|length as length %}{% if length > 1 %}|{% endif %}{% endwith %}
	      {% endfor %}
	      <a href="{% if user.is_authenticated %}#addCard{% else %}/create{% endif %}" {% if user.is_authenticated %}data-toggle="modal" data-target="#addCardModal"{% endif %}><i class="flaticon-add" title="{% trans 'Add this card'%}" data-container="body" data-toggle="popover" data-placement="top" data-content="{% if user.is_authenticated %}{% trans 'Add this card to your collection' %}{% else %}{% trans 'Create an account to add this card to your collection' %}{% endif %}" data-trigger="hover"></i></a>
	      <div class="pull-right">
		{% if card.is_promo %}
		<i class="flaticon-promo" title="{% trans 'Promo Card' %}" data-container="body" data-toggle="popover" data-placement="top" data-content="{% trans 'This card comes with ' %}{{ card.promo_item }}" data-trigger="hover"></i>
		{% endif %}
		{% if card.event %}
		<i class="flaticon-event" title="{% trans 'Event Card' %}" data-container="body" data-toggle="popover" data-placement="top" data-content="{% trans 'This card first appeared during the event' %} {{ card.event.japanese_name }}" data-trigger="hover"></i>
		{% endif %}
		{% if card.is_special %}
	      <i class="flaticon-skill" title="{% trans 'Special Card' %}" data-container="body" data-toggle="popover" data-placement="top" data-content="{% trans 'This card cannot be added in a team.' %} {% if LANGUAGE_CODE == 'ja' and card.japanese_skill_details %}{{ card.japanese_skill_details }}{% else %}{{ card.skill_details }}{% endif %}" data-trigger="hover"></i>
	      {% endif %}
	      {% if card.japan_only %}
	      <i class="flaticon-JP" title="{% trans 'Japan Only Card' %}" data-container="body" data-toggle="popover" data-placement="top" data-content="{% trans 'This card is only available in the Japanese version of the game.' %}" data-trigger="hover"></i>
	      {% else %}
	      <i class="flaticon-world" title="{% trans 'Worldwide Card' %}" data-container="body" data-toggle="popover" data-placement="top" data-content="{% trans 'This card is available on all the versions of the game in the world.' %}" data-trigger="hover"></i>
	      {% endif %}
	      {% if total_cards > 1 %}<a href="#collapseMore{{ card.id }}" data-toggle="collapse" aria-expanded="false" aria-controls="collapseMore{{ card.id }}"><i class="flaticon-more"></i></a>{% endif %}
	      </div>
	    </div>
	  </div> <!-- panel -->
	</div> <!-- card -->
      </div> <!-- col -->
      {% endfor %}
    </div> <!-- row -->
    </div>
    {% if single %}
    {% include "disqus.html" %}
    {% else %}
    <div id="load_more" class="margin20 text-center text-Smile" data-next-page="{{ page|add:1 }}">
      <nav>
	<ul class="pagination pagination-sm">
	  <li class="{% if page == 1 %}disabled{% endif %}"><a href="{{ current_url }}page={{ page|add:"-1" }}">&laquo;</a></li>
	  {% for i in total_pages|times %}
	  <li class="{% if page == i|add:1 %}active{% endif %}"><a href="{{ current_url }}page={{ i|add:1 }}">{{ i|add:1 }}</a></li>
	  {% endfor %}
	  <li class="{% if page == total_pages %}disabled{% endif %}"><a href="{{ current_url }}page={{ page|add:1 }}">&raquo;</a></li>
	</ul>
      </nav>
    </div>
    {% endif %}
    {% elif not ajax %}
    <div class="container">
      <br><br>
      <div class="jumbotron">
    	<h1>{% trans 'No results.' %}</h1>
    	<p>{% trans 'No idols match your search.' %}</p>
    	<p><a class="btn btn-Smile btn-lg sidebar-toggle" href="#" role="button">
    	    {% trans 'Change filters' %}
    	    <i class="flaticon-filter"></i>
    	</a></p>
      </div>
    </div>
    {% endif %}
