{% extends "base.html" %}
{% load i18n %}
{% load mod %}
{% get_current_language as LANGUAGE_CODE %}
{% load imageurl %}
{% load choicesToString %}

{% block title %}{% trans 'Card Strength Analysis' %}{% endblock %}
{% block content %}
{% comment %}<script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js" type="text/javascript"></script>{% endcomment %}
<script src="../static/bower/angular/angular.min.js" type="text/javascript"></script>
<script src="../static/js/cardstrength.js" type="text/javascript"></script>

<div id="wrapper">
  <nav id="sidebar-wrapper" class="{% if interfaceColor %}{{ interfaceColor }}{% else %}default{% endif %}">
    <form method="GET" action="/cards/" class="form-horizontal">
      <!-- FILTER CARDS -->
      <h4>{% trans 'Filter' %}</h4>
      <div class="section filters">
        <!-- idol -->
        <label for="id_name" class="control-label">{% trans 'Idol' %}</label>
        <select id="id_name" name="name">
          <optgroup>
            {% for idol, str in filters.idols %}
            <option value="{{ idol }}"{% if request_get.name == idol %} selected{% endif %}>{{ str }}</option>
            {% if forloop.counter == 1 or forloop.counter == 10 %}
          </optgroup>
          <optgroup>
            {% endif %}
            {% endfor %}
          </optgroup>
        </select>

        <!-- collection -->
        <label for="id_translated_collection">{% trans 'Collection' %} ({% trans 'English Version' %}) <i class="flaticon-EN"></i></label>
        <select id="id_translated_collection" name="translated_collection">
          <option value=""></option>
          {% for translated_collection in filters.translated_collections %}
          <option value="{{ translated_collection.translated_collection }}"{% if request_get.translated_collection == translated_collection.translated_collection %} selected{% endif %}>{% trans translated_collection.translated_collection %} ({{ translated_collection.total }})</option>
          {% endfor %}
        </select>     
          
        <!-- server -->
        <div style="margin-top: 10px">
          <div class="pull-right"><input id="id_is_world" name="is_world" type="checkbox"{% if request_get.is_world %} checked{% endif %}></div>
          <label for="id_is_world"><i class="flaticon-world"></i> {% trans 'Worldwide only' %}</label>
        </div>

        <!-- attribute -->
        <label class="control-label" for="id_attribute">{% trans 'Attribute' %}</label>
        <div>
        <select id="id_attribute" name="attribute">
          <option value=""></option>
          {% for i, attribute in filters.attribute_choices %}
          <option value="{{ i }}"{% if request_get.attribute == i %} selected{% endif %}>{% trans attribute %}</option>
          {% endfor %}
        </select>
        </div>

        <!-- skill -->
        <label class="control-label" for="id_skill">{% trans 'Skill' %}</label>
        <select id="id_skill" name="skill">
          <option value=""></option>
          {% for idol in filters.skills %}
          <option value="{{ idol.skill }}"{% if request_get.skill == idol.skill %} selected{% endif %}>{% if LANGUAGE_CODE == 'ja' and idol.japanese_skill %}{{ idol.japanese_skill }}{% else %}{{ idol.skill }}{% endif %} ({{ idol.total }})</option>
          {% endfor %}
        </select>

        <!-- rarity -->
        <label class="control-label" for="id_rarity">{% trans 'Rarity' %}</label>
        <select id="id_rarity" name="rarity">
          <option value=""></option>
          {% for i, rarity in filters.rarity_choices %}
          <option value="{{ i }}"{% if request_get.rarity == i %} selected{% endif %}>{{ rarity }}</option>
          {% endfor %}
        </select>

        <!-- main unit -->
        <div id="main_unit_wrapper">
          <label  class="control-label"for="id_main_unit">{% trans 'Main Unit' %}</label>
          <div>
            <select id="id_main_unit" name="main_unit">
            <option value=""></option>
            {% for main_unit in filters.main_units %}
            <option value="{{ main_unit }}"{% if request_get.main_unit == main_unit %} selected{% endif %}>{{ main_unit }}</option>
            {% endfor %}
          </select>
          </div>
        </div>

        <!-- sub unit -->
        <div id="sub_unit_wrapper">
          <label  class="control-label"for="id_sub_unit">{% trans 'Sub Unit' %}</label>
          <select id="id_sub_unit" name="sub_unit">
            <option value=""></option>
            {% for sub_unit in filters.sub_units %}
            <option value="{{ sub_unit }}"{% if request_get.sub_unit == sub_unit %} selected{% endif %}>{{ sub_unit }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- year -->
        <label class="control-label" for="id_idol_year">{% trans 'Year' %}</label>
        <select id="id_idol_year" name="idol_year" data-cuteform="true">
          <option value="" data-cuteform-html="{% trans 'All' %}"></option>
          {% for idol_year in filters.idol_year_choices %}
          <option data-cuteform-html="{% trans idol_year %}" value="{{ idol_year }}"{% if request_get.idol_year == idol_year %} selected{% endif %}>{{ idol_year }}</option>
          {% endfor %}
        </select>

        <!-- release date -->
        <label for="id_release_after">{% trans 'Release date' %} ({% trans 'after' %}):</label>
        <input id="id_release_after" type="month" name="release_after" value="{{ request_get.release_after }}" class="form-control">
        <label for="id_release_before">{% trans 'Release date' %} ({% trans 'before' %}):</label>
        <input id="id_release_before" type="month" name="release_before" value="{{ request_get.release_before }}" class="form-control">

      </div>



      <!-- USER ACCOUNT -->
      <h4>{% trans 'View' %}</h4>
      <div class="section view">
        
        {% comment %}{% if not high_traffic and user.is_authenticated %}{% endcomment %}
          <!-- game account -->
          <label for="id_select_account">{% trans 'Account' %}</label>
          <select id="id_select_account" name="account">
            <option value=""></option>
            {% for account in accounts %}
            <option value="{{ account.id }}"{% if request_get.account == account.id %} selected{% endif %}>{{ account }}</option>
            {% endfor %}
          </select>

          <!-- stored in  -->
          <label for="id_stored">{% trans 'Stored' %}</label>
          <select id="id_stored" name="stored">
            <option value=""></option>
            {% for i, stored in filters.stored_choices %}
            <option value="{{ i }}"{% if request_get.stored == i %} selected{% endif %}>{{ stored }}</option>
            {% endfor %}
          </select>

          <!-- max leveled -->
          <label for="id_max_level"><i class="flaticon-max-level"></i> {% trans 'Max Leveled' %}</label>
          <select id="id_max_level" name="max_level">
            <option value=""></option>
            <option value="1"{% if request_get.max_level == '1' %} selected{% endif %}>{% trans 'Max Leveled' %}</option>
            <option value="-1"{% if request_get.max_level == '-1' %} selected{% endif %}>{% trans 'Not Max Leveled' %}</option>
          </select>

          <!-- max bonded -->
          <label for="id_max_bond"><i class="flaticon-max-bond"></i> {% trans  'Max Bonded (Kizuna)' %}</label>
          <select id="id_max_bond" name="max_bond">
            <option value=""></option>
            <option value="1"{% if request_get.max_bond == '1' %} selected{% endif %}>{% trans 'Max Bonded (Kizuna)' %}</option>
            <option value="-1"{% if request_get.max_bond == '-1' %} selected{% endif %}>{% trans 'Not Max Bonded' %}</option>
          </select>
          {% comment %}{% endif %}{% endcomment %}

      </div>
      
      <!-- SUBMIT -->
      <div class="section submit">
        <button type="submit" class="btn btn-{% if not interfaceColor or interfaceColor == 'default' %}Smile{% else %}{{ interfaceColor }}{% endif %} btn-block" data-form-loader="true">{% trans 'Go' %}</button>
      </div>

    </form>
  </nav>

  <div id="page-content-wrapper" ng-app="CardStrength">
    <a href="#" id="togglebutton" class="{% if interfaceColor %}{{ interfaceColor }}{% else %}default{% endif %}">
      <i class="flaticon-search"></i>
      <i class="flaticon-toggler hidder"></i>
    </a>

    <style type="text/css">
      .input-group input[type='text'] {
        border: 1px solid #ccc;
        margin: 0px;
      }
      .input-group-addon {
        cursor: help
      }
    </style>
    <div class="container-fluid" ng-controller="SkillController">
        <div class="row">
          <h1 class="text-center">{% trans 'Card Strength' %} <small>how good a card <i>actually</i> is</small></h1>
          <div class="col-sm-4">
            [[song|json]]
          </div>
          <div class="col-sm-8 form-inline">
            <h3 class="margin0">Song Details <small>for skill analysis</small></h3>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" data-toggle="tooltip" title="song length in notes" data-placement="bottom"><i class="flaticon-song"></i></span>
              <input type="text" ng-model="song.notes" class="form-control" placeholder="total notes"> 
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" data-toggle="tooltip" title="song length in seconds" data-placement="bottom"><i class="flaticon-times"></i></span>
              <input type="text" ng-model="song.seconds" class="form-control" placeholder="total seconds"> 
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" data-toggle="tooltip" title="percentage of perfect notes you get" data-placement="bottom"><i class="flaticon-achievement"></i></span>
              <input type="text" ng-model="song.perfects" class="form-control" placeholder="% perfects"> 
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" data-toggle="tooltip" title="number of star notes in song" data-placement="bottom"><i class="flaticon-star"></i></span>
              <input type="text" ng-model="song.stars" class="form-control" placeholder="total star notes"> 
            </div>
          </div>
        </div>
      <table id="cards_table" class="table table-bordered table-striped table-hover sortable">
          <thead>
              <tr>
                <th>ID</th>
                <!--<th>Icon</th>-->
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Smile' %}</th>
                <th>{% trans 'Pure' %}</th>
                <th>{% trans 'Cool' %}</th>
                <th>{% trans 'Skill' %}</th>
                <th>Average Case Skill Contribution</th>
                <th>Best Case Skill Contribution</th>
              </tr>
          </thead>
          <tbody>
              {% for card in cards %}
              <tr>
              <td>{{ card.id }}</td>
              <!--<td><img src="{{ card.round_card_image }}"></td>-->
              <td>
                <!--<img src={% if card.display_idolized %}"{{card.round_card_image_idolized}}"
                {% else %}"{{card.round_card_image}}"{% endif %}>-->
                <a href="{{card|singlecardurl}}">{{ card.rarity }} {% if card.is_promo %} {% trans 'Promo' %} 
                {% elif card.translated_collection  %} {{ card.translated_collection }}
                {% endif %} {{ card.name }}</a></td>
              <td>
                {% if card.display_idolized %} {{ card.idolized_maximum_statistics_smile }} 
                {% else %} {{card.non_idolized_maximum_statistics_smile }}
                {% endif %}</td>
              <td>
                {% if card.display_idolized %}{{ card.idolized_maximum_statistics_pure }}
                {% else %}{{card.non_idolized_maximum_statistics_pure}}
                {% endif%}</td>
              <td>
                {% if card.display_idolized %}{{ card.idolized_maximum_statistics_cool }}
                {% else %}{{card.non_idolized_maximum_statistics_cool}}
                {% endif %}</td>
              <td class="text-center">
                {% if card.skill %}
                <i class="flaticon-{{ card.skill|skillToFlaticon }}" title="{% if LANGUAGE_CODE == 'ja' and card.japanese_skill %}{{ card.japanese_skill }}{% else %}{{ card.skill }}{% endif %}" data-container="body" data-toggle="popover" data-placement="top" data-content="{% if LANGUAGE_CODE == 'ja' and card.japanese_skill_details %}{{ card.japanese_skill_details }}{% elif card.skill_details %}{{ card.skill_details }}{% endif %}" data-trigger="hover"></i>
                {% endif %}
              </td>
              <td>[[calcAvg(song,{{card.raw_skill}}) | number:2]]</td>
              <td>[[calcBest(song,{{card.raw_skill}}) | number:2]]</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div> <!--container-fluid-->
  </div> <!-- page-content-wrapper -->
</div> <!-- wrapper -->

<script src="../static/bower/jQuery/dist/jquery.min.js" type="text/javascript"></script>
<script src="../static/bower/CuteForm/cuteform.min.js" type="text/javascript"></script>
<script type="text/javascript">
  cuteform($('#id_attribute'), {
    'images': {
      '': 'http://i.schoolido.lu/static/empty.png',
      {% for i, attribute in filters.attribute_choices %}
      '{{ i }}': 'http://i.schoolido.lu/static/{{ i }}.png',
      {% endfor %}
    }
  });
  cuteform($('#id_rarity'), {
    'images': {
      '': 'http://i.schoolido.lu/static/empty.png',
      {% for rarity, _ in filters.rarity_choices %}
      '{{ rarity }}': 'http://i.schoolido.lu/static/{{ rarity }}{% if interfaceColor %}{% if interfaceColor == 'default' %}Smile{% else %}{{ interfaceColor }}{% endif %}{% else %}Smile{% endif %}.png',
      {% endfor %}
    }
  });
  cuteform($('#id_sub_unit'), {
    'images': {
      '': 'http://i.schoolido.lu/static/empty.png',
      {% for sub_unit in filters.sub_units %}
      '{{ sub_unit }}': 'http://i.schoolido.lu/static/{{ sub_unit }}.png',
      {% endfor %}
    }
  });
  cuteform($('#id_main_unit'), {
    'images': {
      '': 'http://i.schoolido.lu/static/empty.png',
      {% for main_unit in filters.main_units %}
      '{{ main_unit|escapejs }}': 'http://i.schoolido.lu/static/{{ main_unit|escapejs }}.png',
      {% endfor %}
    }
  });
  cuteform($('#id_name'), {
    'modal': 'true',
    'modal-text': 'true',
    'images': {
      {% for idol, str in filters.idols %}
      {% if idol == '' %}'': 'http://i.schoolido.lu/static/empty.png',{% else %}'{{ idol|escapejs }}': '{% chibiimage idol=idol small=True %}',{% endif %}
      {% endfor %}
    }
  });
</script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.13/cr-1.3.2/fh-3.1.2/sc-1.4.2/datatables.min.js"></script>

<script type="text/javascript">
    $('#cards_table').DataTable({
      order: [[0, "desc"]],
      //fixedHeader: true,
      paging: false,
      scroller: false,  
      "columnDefs": [
        { "orderable": false, "targets": [1,5] }
      ]
    });
</script>

{% endblock %}