{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Sign Up' %}{% endblock %}

{% block content %}

<div class="container">
  <br><br>
  <div class="jumbotron">
    <h1>{% trans 'Sign Up' %}</h1>
    <br>
    <form method="post" action="">
      {% csrf_token %}
      {% include "bootstrap_form_horizontal.html" with form=form wrap=0 %}
      <br><br>
      <div class="text-right">
	<a href="/login/" class="btn btn-lg btn-link">{% trans 'Login' %}</a>
	<button type="submit" class="btn btn-lg btn-Cool" data-form-loader="true">{% trans 'Sign Up' %}</button>
      </div>
      <input type="hidden" name="next" value="/addaccount/" />
    </form>
  </div>
</div>

{% endblock %}
