{% extends "base.html" %}
{% load i18n %}
{% load imageurl %}
{% load mod %}

{% block title %}{% trans 'Discussions' %}{% endblock %}

{% block shareimage %}{{ static_sharing_url }}static/screenshots/discussions.png{% endblock %}
{% block shareimagetwitter %}{{ static_sharing_url }}static/screenshots/discussions.png{% endblock %}

{% block content %}
<div class="container text-center" id="discussions">
  <h1 class="margin50">{% trans 'Discussions' %} <small>{{ discussions|length }}</small></h1>

  <div class="row">
    {% for discussion in discussions %}
    {% if forloop.counter0|mod:3 %}
  </div><div class="row">
    {% endif %}
    <div class="col-md-{% if discussion.full_size %}12{% else %}4{% endif %}">
      <a href="{% if discussion.link %}{{ discussion.link }}{% else %}/discussion/{{ discussion.code }}/{% endif %}"
	 class="topbutton" style="background-image: url('{{ discussion.image }}'); background-color: {{ discussion.color }};{% if '/static/screenshots' in discussion.image %} background-size: 100%; background-position: 0 0;{% elif '/static/' in discussion.image %} background-size: 80%; background-position-x: -90%;{% endif %}{% if discussion.full_size %}font-size: 4em;{% elif discussion.big %}font-size: 1.4em;{% endif %}">
	<img src="{{ static_url }}static/topbutton.png" style="max-height: 400px;">
	<span{% if '/static/screenshots' in discussion.image %} style="padding-right: 25%; padding-left: 25%;"{% endif %}{% if discussion.full_size %} style="padding-top: 10%;"{% endif %}>
	  {% if discussion.big %}<br>{% endif %}
	  {% if discussion.not_translate_name %}
	  {{ discussion.name }}
	  {% else %}
	  {% trans discussion.name %}
	  {% endif %}
	</span>
      </a>
    </div>
    {% endfor %}
  </div>
    <br>
    <hr>
    <br>
    <div class="text-center">
      <a href="http://imgur.com/a/34J2f" target="_blank">
	<img src="{{ static_url }}special/treasure.png" width="200">
      </a>
    </div>
    <br>
    <hr>
    <br>
  <br><br>
  <h2>{% trans 'We' %} <i class="flaticon-heart color-Smile"></i> {% trans 'the LoveLive! community' %}</h2>

  <br>
  <p class="fontx1-5">
    {% blocktrans %}So don't forget to check out the discussion boards, communities and much more from our fellow LoveLivers friends:{% endblocktrans %}
  </p>
  <br><br>
</div>
<div class="bg-Rainbow-4 home-section">
  <div class="container">
    {% include 'include/links_link.html' with link=community_links with_links_button=True %}
  </div>
</div>

{% endblock %}
