    <div class="{% if not nomargin %}margin20{% endif %}" style="min-height: 300px" id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = '{% if disqus_shortname %}{{ disqus_shortname }}{% else %}schoolidol{% endif %}';
      var disqus_config = function () {
      {% if disqus_identifier %}
      this.page.identifier = '{{ disqus_identifier }}';
      {% endif %}
      {% if disqus_url %}
      this.page.url = '{{ disqus_url }}';
      {% endif %}
      };
      (function() {
      var d = document, s = d.createElement('script');
      s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
