{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ event.japanese_name }}{% if event.english_name != event.japanese_name %} {{ event.english_name }}{% endif %}{% endblock %}

{% block content %}
{% load languageToString %}
{% load imageurl %}
{% load gravatar %}
<div class="container text-center">
  <br><br>
  <img src="{{ event|eventimageurl }}" alt="{{ event.japanese_name }}" style="max-width: 100%">
  <br><br>
  <h1>{{ event.japanese_name }}{% if event.english_name != event.japanese_name %}<br><small>{{ event.english_name }}</small>{% endif %}</h1>
  <br><br>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <table class="table">
	{% with 'JP'|languageToString as lang %}
	<caption class="text-center">{% trans lang %}</caption>
	{% endwith %}
	<tr>
	  <th>{% trans 'Dates' %}</th>
	  <td class="text-right">{{ event.beginning }} - {{ event.end }}</td>
	</tr>
	<tr>
	  <th>T1 {% trans 'Points' %}</th>
      <td class="text-right">{{ event.japanese_t1_points }}</td>
	</tr>
	<tr>
	  <th>T1 {% trans 'Rank' %}</th>
	  <td class="text-right">{{ event.japanese_t1_rank }}</td>
	</tr>
	<tr>
	  <th>T2 {% trans 'Points' %}</th>
      <td class="text-right">{{ event.japanese_t2_points }}</td>
	</tr>
	<tr>
	  <th>T2 {% trans 'Rank' %}</th>
	  <td class="text-right">{{ event.japanese_t2_rank }}</td>
	</tr>
	{% if event.note %}
	<tr>
	  <th>{% trans 'Note' %}</th>
	  <td class="text-right">{{ event.note }}</td>
	</tr>
	{% endif %}
	<tr>
	  <th>{% trans 'Wiki' %}</th>
	  <td class="text-right">
	    <a href="http://decaf.kouhi.me/lovelive/index.php?title={{ event.japanese_name }}" target="_blank"
	       class="btn btn-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}">
	      Wiki
	    </a>
	  </td>
	</tr>
      </table>

      <table class="table">
	<caption class="text-center">{% trans 'Cards' %}</caption>
	{% for card in event.all_cards %}
	<tr>
	  <th valign="middle">
	    {{ card }}
	    {% if card.skill %}
	    <br>
	    <small style="font-weight: normal;">{% trans 'Skill' %}: {{ card.skill }}</small>
	    {% endif %}
	  </th>
	  <td class="text-right">
	    <a href="/cards/{{ card.id }}/" class="owned_card">
	      {% if card.card_image %}
	      <div class="circled_card_100 {{ card.attribute }} {{ card.rarity }} hover"
		   style="display: inline-block; background-image: url('{{ card|imageurl:'card_image' }}')"></div>
	      {% endif %}
	      <div class="circled_card_100 {{ card.attribute }} {{ card.rarity }} hover"
		   style="display: inline-block; background-image: url('{{ card|imageurl:'card_idolized_image' }}')"></div>
	    </a>
	  </td>
	</tr>
	{% endfor %}
      </table>
      <br><br>

      {% for participation in event.all_participations %}
      {% ifchanged participation.account.language %}
      {% if forloop.counter0 != 0 %}
      </table>
      {% endif %}
      <table class="table text-right" id="ranking{{ participation.account.language }}">
	{% with participation.account.language|languageToString as lang %}
	<caption class="text-center">{% trans 'School Idol Tomodachi' %} {% trans lang %} {% trans 'Ranking' %}</caption>
	{% endwith %}
	{% endifchanged %}
	<tr>
	  <td class="text-left"><a href="/user/{{ participation.account.owner.username }}/#{{ participation.account.pk }}">
	      <img src="{{ participation.account.owner|gravatar:20 }}" alt="avatar" width="20">
	      {{ participation.account.nickname }}</a></td>
	  {% if with_song %}
	  <td class="text-right">{% if participation.song_ranking %}<small class="text-grey">{% trans 'Song Ranking' %} # {{ participation.song_ranking }}{% endif %} </small></td>
	  {% endif %}
	  <td class="text-right">{% if participation.points %}{{ participation.points }} {% trans 'Points' %}{% endif %}</td>
	  <td class="text-right">{% if participation.ranking %}<strong># {{ participation.ranking }}</strong>{% endif %}</td>
	</tr>
	{% endfor %}
      </table>

      <div>
	{% if not user.is_authenticated %}
	<a href="/create/"
	   class="btn btn-lg btn-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}">
	  {% trans 'Share your ranking' %}!
	</a>
	{% endif %}
      </div>
      {% if form %}
      <br><br>
      <div class="jumbotron">
	<form method="post" class="noform">
	  {% csrf_token %}
	  {% include "bootstrap_form_horizontal.html" with form=form wrap=0 %}
	  <br><br>
	  <div class="text-right">
	    {% if form_type == 'edit' %}
	    <input type="submit" class="btn btn-danger" name="deleteParticipation" value="{% trans 'Delete' %}">
	    {% endif %}
	    <input type="submit" class="btn btn-lg btn-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}"
		   value="{% if form_type == 'create' %}{% trans 'Share your ranking' %}{% else %}{% trans 'Apply Changes' %}{% endif %}" />
	  </div>
	</form>
      </div>
      {% endif %}
    </div>
    <div class="col-lg-3"></div>
  </div>
  <br><br>
  {% include 'disqus.html' with disqus_identifier=event.japanese_name %}
</div>
{% endblock %}
  
