{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ event.japanese_name }}{% if event.english_name != event.japanese_name %} {{ event.english_name }}{% endif %}{% endblock %}
{% block js %}
<script src="/static/bower/countdown/dest/jquery.countdown.min.js"></script>
<script src="/static/js/event.js?2"></script>
{% endblock %}
{% block content %}
{% load getattribute %}
{% load languageToString %}
{% load imageurl %}
{% load gravatar %}
{% load mod %}
{% load tz %}
<div class="container text-center">
  <br><br>
  <img src="{% eventimageurl event=event %}" alt="{{ event.japanese_name }}" style="max-width: 100%">
  <br><br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
	{% for card in event.all_cards %}
	<div class="col-md-6">
	  <a href="/cards/{{ card.id }}/" class="owned_card">
	    {% if card.round_card_image %}
	    <img src="{% imageurl card=card image='round_card_image' %}" height="150" />
	    {% elif card.card_image %}
	    <div class="circled_card_150 {{ card.attribute }} {{ card.rarity }} hover"
		 style="display: inline-block; background-image: url('{% imageurl card=card image='card_image' %}')"></div>
	    {% endif %}
	    {% if card.round_card_idolized_image %}
	    <img src="{% imageurl card=card image='round_card_idolized_image' %}" height="150" />
	    {% elif card.card_image %}
	    <div class="circled_card_150 {{ card.attribute }} {{ card.rarity }} hover"
		 style="display: inline-block; background-image: url('{% imageurl card=card image='card_idolized_image' %}')"></div>
	    {% endif %}
	  </a>
	  <br>
	  <h4>{{ card }}</h4>
	  {% if card.skill %}
	  <small style="font-weight: normal;">{% trans 'Skill' %}: {{ card.skill }}</small>
	  {% endif %}
	</div>
	{% endfor %}
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br>

  {% if is_japan_current or is_world_current %}
  <h1 id="countdown" class="text-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}">
    <script>
      var countdowndate = "{% if is_japan_current %}{{ event.end|torfc2822 }}{% else %}{{ event.english_end|torfc2822 }}{% endif %}";
      function countdownRender(data) {
      $(this.el).text(data.days + ' days, ' + data.hours + ' hours, ' + data.min + ' minutes, ' + data.sec + ' seconds left');
      }
    </script>
  </h1>
  {% elif soon_happen_japan or soon_happen_world %}
  <h1 id="countdown" class="text-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}">
    <script>
      var countdowndate = "{% if soon_happen_japan %}{{ event.beginning|torfc2822 }}{% else %}{{ event.english_beginning|torfc2822 }}{% endif %}";
      function countdownRender(data) {
      $(this.el).text('Starts in ' + data.days + ' days, ' + data.hours + ' hours, ' + data.min + ' minutes, ' + data.sec + ' seconds');
      }
    </script>
  </h1>
  {% endif %}
  <br>
  <div class="row">
    {% if not soon_happen_world and not did_happen_world and not is_world_current %}<div class="col-lg-3"></div>{% endif %}
    <div class="col-lg-6">
      <h1 id="event-title" data-id="{{ event.id }}">{{ event.japanese_name }}<br><small>&nbsp;{% if event.romaji_name and event.romaji_name != event.japanese_name %}{{ event.romaji_name }}{% endif %}</small></h1>
      <br>
      <table class="table">
	{% with 'JP'|languageToString as lang %}
	<caption class="text-center">{% trans lang %}</caption>
	{% endwith %}
	<tr>
	  <th>{% trans 'Dates' %}</th>
	  <td class="text-right">{{ event.beginning|timezone:"Asia/Tokyo" }} - {{ event.end|timezone:"Asia/Tokyo" }}<br>
	    {% trans 'Japanese' %} {% trans 'time' %}</td>
	</tr>
	{% if event.japanese_t1_points %}
	<tr>
	  <th>T1 {% trans 'Points' %}</th>
	  <td class="text-right">{{ event.japanese_t1_points }}</td>
	</tr>
	{% endif %}
	{% if event.japanese_t1_rank %}
	<tr>
	  <th>T1 {% trans 'Rank' %}</th>
	  <td class="text-right">{{ event.japanese_t1_rank }}</td>
	</tr>
	{% endif %}
	{% if event.japanese_t2_points %}
	<tr>
	  <th>T2 {% trans 'Points' %}</th>
	  <td class="text-right">{{ event.japanese_t2_points }}</td>
	</tr>
	{% endif %}
	{% if event.japanese_t2_rank %}
	<tr>
	  <th>T2 {% trans 'Rank' %}</th>
	  <td class="text-right">{{ event.japanese_t2_rank }}</td>
	</tr>
	{% endif %}
	{% if event.note %}
	<tr>
	  <th>{% trans 'Note' %}</th>
	  <td class="text-right">{{ event.note }}</td>
	</tr>
	{% endif %}
	<tr>
	  <th>{% trans 'Wiki' %}</th>
	  <td class="text-right">
	    <a href="http://decaf.kouhi.me/lovelive/index.php?title={{ event.japanese_name }}" target="_blank"
	       class="btn btn-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}">
	      Wiki
	    </a>
	  </td>
	</tr>
      </table>
    </div>
    {% if soon_happen_world or did_happen_world or is_world_current %}
    <div class="col-lg-6">
      <h1>{% if event.english_name %}{{ event.english_name }}{% else %}{{ event.japanese_name }}{% endif %}<br><small>&nbsp;</small></h1>
      <br>
      <table class="table">
	{% with 'EN'|languageToString as lang %}
	<caption class="text-center">{% trans lang %}</caption>
	{% endwith %}
	{% if event.english_beginning and event.english_end %}
	<tr>
	  <th>{% trans 'Dates' %}</th>
	  <td class="text-right">{{ event.english_beginning }} - {{ event.english_end }}<br>
	    UTC {% trans 'time' %}</td>
	</tr>
	{% endif %}
	{% if event.english_t1_points %}
	<tr>
	  <th>T1 {% trans 'Points' %}</th>
	  <td class="text-right">{{ event.english_t1_points }}</td>
	</tr>
	{% endif %}
	{% if event.english_t1_rank %}
	<tr>
	  <th>T1 {% trans 'Rank' %}</th>
	  <td class="text-right">{{ event.english_t1_rank }}</td>
	</tr>
	{% endif %}
	{% if event.english_t2_points %}
	<tr>
	  <th>T2 {% trans 'Points' %}</th>
	  <td class="text-right">{{ event.english_t2_points }}</td>
	</tr>
	{% endif %}
	{% if event.english_t2_rank %}
	<tr>
	  <th>T2 {% trans 'Rank' %}</th>
	  <td class="text-right">{{ event.english_t2_rank }}</td>
	</tr>
	{% endif %}
      </table>
    </div>
    {% else %}
    <div class="col-lg-3"></div>
    {% endif %}
  </div>

  <div class="row">
    {% if not soon_happen_world and not did_happen_world and not is_world_current %}<div class="col-lg-3"></div>{% endif %}
    <div class="col-lg-6">
      {% include 'event_ranking.html' with participations=event.japanese_participations loader=True page=1 %}
    </div>
    {% if soon_happen_world or did_happen_world or is_world_current %}
    <div class="col-lg-6">
      {% include 'event_ranking.html' with participations=event.english_participations loader=True page=1 %}
    </div>
    {% else %}<div class="col-lg-3"></div>{% endif %}
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      {% include 'event_ranking.html' with participations=event.other_participations %}
    </div>
    <div class="col-lg-3"></div>
  </div> <!-- row -->

  {% if did_happen_world or did_happen_japan %}
  <a href="{% if not user.is_authenticated %}/create/{% else %}/events/{{ event.japanese_name|urlencode }}/participations/{% endif %}"
     class="btn btn-lg btn-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}">
    {% trans 'Share your ranking' %}!
  </a>
  {% endif %}

  {% include 'disqus.html' with disqus_identifier=event.japanese_name %}
</div>
{% endblock %}
