{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Activities' %}{% endblock %}

{% block js %}
<script src="/static/js/loadactivities.js"></script>
<script src="/static/js/feed.js"></script>
{% endblock %}

{% block content %}
{% load imageurl %}
{% load mod %}
<div class="container" id="events">
  <h1 class="text-center margin50">{% trans 'Activities' %} <small>{{ total_results }}</small></h1>
  {% if total_results %}
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div id="activities">
	{% include 'activities.html' %}
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
  {% else %}
  <div class="text-center">
    <a href="/users/" class="btn btn-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %} btn-xl">{% trans 'Start following players to follow their activities!' %}</a>
  </div>
  {% endif %}
  <br><br>
</div>
{% endblock %}
