{% extends "base.html" %}
{% load i18n %}
{% block title %}Giveaways{% endblock %}
{% block content %}
<div class="container text-center">
  <br><br>
  {% for tag, url, image, found_with in backgrounds %}
  <a href="{{ url }}" target="_blank">
    {% if image %}
    <img src="{{ image }}" class="image-responsive">
    {% else %}
    Open giveaway
    {% endif %}
  </a><br>
  Tag: {{ tag }}<br>
  <a href="https://schoolido.lu/activities/#search={{ tag }}">
    See entries
  </a>
  <br><hr><br>
  {% endfor %}
  <br><br>
</div>
{% endblock %}
