{% extends "base.html" %}
{% load mod %}
{% load i18n %}
{% load imageurl %}

{% block shareimage %}{{ static_sharing_url }}static/screenshots/idols.png{% endblock %}
{% block shareimagetwitter %}{{ static_sharing_url }}static/screenshots/idols.png{% endblock %}

{% block title %}{% trans 'Idols' %}{% endblock %}

{% block content %}
<div id="idols" class="text-center">
  {% for section_name, idols in idols_sections.items %}
  <h1 class="margin50">
    {% if idols.0.main_unit %}
    <img src="{{ static_url }}static/{{ idols.0.main_unit }}.png" alt="{{ idols.0.main_unit }}" style="padding-right: 30px">
    {% endif %}
    {% if idols.0.school %}{{ idols.0.school }}{% else %}{% trans 'Other' %}{% endif %}
  </h1>
  <div class="row">
    <div class="{% if idols.0.main_unit == 'A-RISE' %}col-sm-offset-4 {% endif %}col-sm-4">
      <div class="row">
	{% if idols.0.sub_unit %}<img src="{{ static_url }}static/{{ idols.0.sub_unit }}.png" alt="{{ idols.0.sub_unit }}"><br><br>{% endif %}
      </div>
      {% for idol in idols %}
      {% if forloop.counter0|mod:3 and forloop.counter0 != 0 %}
    </div>
    <div class="col-sm-4">
      <div class="row">
	{% if idol.sub_unit %}<img src="{{ static_url }}static/{{ idol.sub_unit }}.png" alt="{{ idol.sub_unit }}"><br><br>{% endif %}
      </div>
      {% endif %}
      <div class="col-xs-4 {{ idol.attribute }}">
	<a class="n" href="/idol/{{ idol.name|urlencode }}/">
	  <img class="chibi" src="{% chibiimage idol=idol.name small=False %}" alt="{{ idol.name }}" style="{% if idol.main %}width: 180%; margin: 0 -40%;{% else %}width: 130%; margin: 0 -15%;{% endif %}">
	  <br><div class="name">
	    <img src="{{ static_url }}static/{{ idol.attribute }}.png" class="attribute" width="20" height="20">
	    {% if LANGUAGE_CODE == 'ja' and idol.japanese_name %}{{ idol.japanese_name }}{% else %}{{ idol.name }}{% endif %}</div>
	</a>
	<small class="padding10 text-center" style="display: block;"><a href="http://schoolido.lu/idol/{{ idol.name|urlencode }}/#disqus_thread" data-disqus-identifier="{{ idol.name }}"><span class="tiny">{% trans 'Comments' %}</span></a></small>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>
  {% endfor %}
  <br><br><br>
  <div class="bg-Rainbow-8 home-section">
    <div class="container">
      {% include 'include/links_link.html' with link=idols_links with_links_button=True card=idols_links_card do_not_show=1 %}
    </div>
  </div>
    <br>
    <hr>
    <br>
    <div class="text-center">
      <a href="http://imgur.com/a/nLVSC" target="_blank">
	<img src="{{ static_url }}special/treasure.png" width="200">
      </a>
    </div>
    <br>
    <hr>
    <br>
</div>
{% endblock %}
