{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'The Ultimate Resource For LoveLive! School Idol Festival players' %}{% endblock %}
{% block back_button %}0{% endblock %}
{% block js %}
{% if not high_traffic %}
<script src="//i.schoolido.lu/static/bower/Autolinker.js/dist/Autolinker.min.js"></script>
<script src="//i.schoolido.lu/static/bower/countdown/dest/jquery.countdown.min.js"></script>
<script src="//i.schoolido.lu/static/js/loadactivities.js?2"></script>
<script>
  var follow_sentence = "{% trans 'Start following players to see their activities!' %}";
  var logged_in = {% if user.is_authenticated %}true{% else %}false{% endif %};
</script>
<script src="//i.schoolido.lu/static/js/index.js?13"></script>
{% endif %}
{% endblock %}

{% block content %}
{% load imageurl %}
{% load random_int %}
{% load colorStringToHex %}
{% load mod %}

<div class="talking-character hidden-sm hidden-xs" style="background-image: url('{{ static_url }}{% if character %}{{ character }}{% else %}/static/honokoto{{ 0|random_int:6 }}.png{% endif %}');"></div>
<div class="dialog hidden-sm hidden-xs">
  <div class="dialog-background">
    <div class="row">
      <div class="col-md-8">
	<div class="twitter-text fontx1-5">
	  <a href="https://twitter.com/schoolidolu" target="_blank" style="display: block; padding: 10px;">{% trans 'Follow School Idol Tomodachi on Twitter' %}</a>
	</div>
	<!-- <div class="text-right"> -->
	<!--   <a href="https://twitter.com/schoolidolu" target="_blank"> -->
	<!--     {% trans 'Follow School Idol Tomodachi on Twitter' %} -->
	<!--   </a> -->
	<!-- </div> -->
      </div>
      <div class="col-md-4">
	<div class="twitter-image" style="background-image: url('{{ static_url }}android/icon.png')"></div>
      </div>
    </div>
  </div>
</div>

<div id="home" class="text-center" style="background-image: url('{{ static_url }}backgrounds/background{{ 0|random_int:total_backgrounds }}.png');">
  <div style="position: fixed; top: 50px; right: 20px; margin-top: 0;" class="special-message hidden-xs hidden-sm">
    <span>
    </span>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <h1 class="hidden">{% trans "School Idol Tomodachi" %}</h1>
      <div class="special-message hidden" style="margin: 0; margin-top: 10px; max-width: none;">
	</h1>
</div>

      {% if user.is_authenticated %}
      <br>
      {% else %}
      {% if LANGUAGE_CODE == 'ja' %}
      <img src="//i.schoolido.lu/static/roburaibu_shadow.png" class="logo" alt="Logo">
      {% else %}
      <img src="//i.schoolido.lu/static/logo_shadow.png" class="logo" alt="Logo">
      {% endif %}
      {% endif %}

      <div class="row buttons">
	{% if user.is_authenticated %}
	<div class="col-sm-8">
	  <div class="panel panel-{{ btnColor }}">
	    <div class="panel-heading">
	      <h1 class="margin-novertical">{% trans 'School Idol Tomodachi' %}</h1>
	    </div>
	    <div class="inside padding10">
	      <div class="row">
		<div class="col-xs-9">
		  <span class="fontx1-2">{% trans 'is crowdfunded by our Idol Devotee' %}s
		    <a href="/user/Nyaaaaa/" target="_blank"><strong>Nyaaaaa</strong></a>,
		    <a href="/user/OtakuReborn/" target="_blank"><strong>OtakuReborn</strong></a>,
		    {% trans 'our Idol Producer' %}
		    <a href="/user/nicoahegao/" target="_blank"><strong>nicoahegao</strong></a>
		  </span>
		  <div>
		    {% trans 'and' %} {{ total_donators }} {% randomPositiveAdjective %} {% trans 'donators' %}
		    <a href="/about/#donate" style="padding-left: 30px;">{% trans 'Learn more' %}</a>
		  </div>
		</div>
		<div class="col-xs-3">
		  <a href="/user/nicoahegao/" target="_blank"><img src="//i.schoolido.lu/static/donators/producer.png" width="45" style="margin: -5px -30px -10px 0;" /></a><br>
		  <a href="/user/Nyaaaaa/" target="_blank"><img src="//i.schoolido.lu/static/donators/devotee.png" width="50" style="margin: -5px 30px 0 0;" /></a>
		  <a href="/user/OtakuReborn/" target="_blank"><img src="http://www.gravatar.com/avatar/f6d909922d16dc1d79c8a45b568c1bc7?s=200&d=https%3A%2F%2Fi.schoolido.lu%2Fstatic%2Fkotori.jpg" width="50" style="margin: -28px -17px 0 0;" /></a>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	{% else %}
	<div class="col-sm-4 text-left">
	  <a href="#aboutllsifModal" data-toggle="ajaxmodal" data-modal-size="lg">
	    <img src="//i.schoolido.lu/static/about.png" class="">
	  </a>
	</div>
	<div class="col-sm-4 text-center">
	  <a href="#aboutsukutomoModal" data-toggle="ajaxmodal" data-modal-size="lg">
	    <img src="//i.schoolido.lu/static/aboutschoolidoltomodachi.png" class="">
	  </a>
	</div>
	{% endif %}
	<div class="col-sm-4 text-{% if user.is_authenticated %}center{% else %}right{% endif %}">
	  <a href="/links/">
	    <img src="//i.schoolido.lu/static/links.png" class="">
	  </a>
	</div>
      </div>

      <!-- <div class="special-message" style="margin: 0; padding: 0; max-width: none; font-size: 1.5em;"> -->
      <!--   <span class="special-message" style="font-size: 1.3em; display: inline-block; padding: 10px; margin-top: 0; max-width: none;"> -->
      <!-- 	  <p id="countdown" class="inline-block"> -->
      <!-- 	    <script> -->
      <!-- 	      var countdowndate = "September 28, 2016 20:15:00 +0000"; -->
      <!-- 	      function countdownRender(data) { -->
      <!-- 	      $(this.el).text('EN Maintenance ends in ' + data.hours + ' {% trans 'hours' %}, ' + data.min + ' {% trans 'minutes' %}, ' + data.sec + ' seconds'); -->
      <!-- 	      } -->
      <!-- 	    </script> -->
      <!-- 	  </p> -->
      <!-- 	</span> -->
      <!-- </div> -->
      <br>
      <div id="carousel-index" class="carousel slide" data-ride="carousel" data-interval="3000">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	  {% for news in important_news %}
	  <li data-target="#carousel-index" data-slide-to="{{ news.slide_position }}"{% if news.slide_position == 0 %} class="active"{% endif %}></li>
	  {% endfor %}
	  {% for contest in current_contests %}
	  <li data-target="#carousel-index" data-slide-to="{{ contest.slide_position }}"{% if contest.slide_position == 0 %} class="active"{% endif %}></li>
	  {% endfor %}
	  {% if current_en %}
	  <li data-target="#carousel-index" data-slide-to="{{ current_en.slide_position }}"></li>
	  <li data-target="#carousel-index" data-slide-to="{{ current_jp.slide_position }}"></li>
	  <li data-target="#carousel-index" data-slide-to="{{ trivia_slide_position }}"></li>
	  <li data-target="#carousel-index" data-slide-to="{{ memory_slide_position }}"></li>
	  {% endif %}
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">

	  {% for news in important_news %}
	  <a href="{{ news.url }}" class="item{% if news.slide_position == 0 %} active{% endif %}"
	     style="background-image: url('{{ news.image }}')">
	    <span class="hidden">{{ news.name }}</span>
	  </a>
	  {% endfor %}

	  {% for contest in current_contests %}
	  <a href="{{ contest.url }}" class="item{% if contest.slide_position == 0 %} active{% endif %}"
	     style="background-image: url('{{ contest.homepage_image }}')">
	    <span class="hidden">{{ contest.name }}</span>
	  </a>
	  {% endfor %}

	  {% if current_en %}
	  <a href="/events/{{ current_en.japanese_name|urlencode }}/" class="item event"
	     style="background-image: url('{{ current_en.image }}');">
	  </a>

	  <a href="/events/{{ current_jp.japanese_name|urlencode }}/" class="item event"
	     style="background-image: url('{{ current_jp.image }}');">
	  </a>

	  <a href="/trivia/" class="item"
	     style="background-image: url('//i.schoolido.lu/static/lltriviabanner.png');">
	  </a>

	  <a href="/memory/" class="item"
	     style="background-image: url('//i.schoolido.lu/static/llmemory.png');">
	  </a>
	  {% endif %}

	</div> <!-- carousel-inner -->

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-index" role="button" data-slide="prev">
	  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-index" role="button" data-slide="next">
	  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
      </div> <!-- carousel -->

      {% if high_traffic %}
      <div id="activities">{% include 'cacheactivities.html' %}</div>
      {% else %}
      <div id="{% if user.is_authenticated %}{% if user.preferences.default_tab == 'hot' %}hot{% elif user.preferences.default_tab == 'following' %}my{% endif %}{% else %}hot{% endif %}activities" class="activities-wrapper">
	{% if user.is_authenticated %}
	<div style="margin-bottom: 20px;" id="activities-buttons">
	  <div class="btn-group btn-group-justified" data-toggle="buttons">
	    <label class="btn btn-{{ btnColor }} following{% if user.preferences.default_tab == 'following' %} active{% endif %}">
	      <input type="radio" name="options" autocomplete="off">
	      {% trans 'Following' %}
	    </label>
	    <label class="btn btn-{{ btnColor }} hot{% if user.preferences.default_tab == 'hot' %} active{% endif %}">
	      <input type="radio" name="options" autocomplete="off">
	      {% trans 'Hot' %}
	    </label>
	    <label class="btn btn-{{ btnColor }} new{% if user.preferences.default_tab == 'new' %} active{% endif %}">
	      <input type="radio" name="options" autocomplete="off">
	      {% trans 'New' %}
	    </label>
	    <label class="btn btn-{{ btnColor }} all{% if user.preferences.default_tab == 'all' %} active{% endif %}">
	      <input type="radio" name="options" autocomplete="off">
	      {% trans 'All' %}
	    </label>
	  </div>
	</div>
	{% endif %}
	<div class="activities"></div>
      </div>
      {% endif %}


    </div>
  </div>

{% endblock %}
