{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'The Ultimate Resource For LoveLive! School Idol Festival players' %}{% endblock %}

{% block js %}
<script src="{{ static_url }}static/bower/jquery-easing/jquery.easing.min.js"></script>
<script src="{{ static_url }}static/js/links.js"></script>
{% endblock %}

{% block content %}
{% load getattribute %}

<div class="link-stars-side">
  {% for link in links %}
  <div class="color-Rainbow-{{ forloop.counter }}">
    <a href="#{{ link.link }}" class="page-scroll"><span class="name">{{ link.name }}</span><span class="btn btn-Rainbow-{{ forloop.counter }}"><i class="flaticon-star fontx2"></i></span></a>
  </div>
  {% endfor %}
</div>

<div id="links">
  {% for link in links %}
  {% with card=cards|getattribute:link.idol %}
  <div id="{{ link.link }}" class="bg-Rainbow-{{ forloop.counter }} home-section">
    <div class="container">
      {% include 'include/links_link.html' %}
  </div></div>
  {% endwith %}
  {% endfor %}
</div>
    <br>
    <hr>
    <br>
    <div class="text-center">
      <a href="http://imgur.com/a/pKOvg" target="_blank">
	<img src="{{ static_url }}special/treasure.png" width="200">
      </a>
    </div>
    <br>
    <hr>
    <br>
{% endblock %}
