{% extends "base.html" %}
{% load mod %}
{% load i18n %}
{% load l10n %}
{% load gravatar %}
{% load imageurl %}
{% block title %}Map{% endblock %}

{% block shareimage %}http://schoolido.lu/static/screenshots/map.png{% endblock %}
{% block shareimagetwitter %}http://schoolido.lu/static/screenshots/map.png{% endblock %}

{% block content %}
<div class="container text-center" id="map">
  <h1 class="margin50">{% trans 'Map' %} <small>{{ mapcount }}</small></h1>

  <div id="map-canvas" width="100%" style="height:600px"></div>

  <a class="btn btn-block btn-lg btn-Cool" href="{% if user.is_authenticated %}/edit/{% else %}/create/{% endif %}"
     style="border-top-right-radius: 0; border-top-left-radius: 0;">
    {% if user.is_authenticated and you %}
    {% trans 'Edit your location' %}
    {% else %}
    {% trans 'Add your location' %}
    {% endif %}</a>

  <h1 class="margin50">{% trans 'Ages' %} <small>{{ users_total_ages }}</small></h1>

  <canvas id="agechart" height="400" style="width: 100% !important; height: 200px !important; display: block;"></canvas>

  {% include 'disqus.html' %}

</div>
{% endblock %}
{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHtAPFTmOCQZrKSjZlIeoZrZYLJjKLupE"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="/static/js/oms.min.js"></script>
{% localize off %}
<script>
  {% if you %}
  var center = new google.maps.LatLng({{ you.latitude }}, {{ you.longitude }});
  var zoom = 2;
  {% else %}
  var center = new google.maps.LatLng(30, 0);
  var zoom = 2;
  {% endif %}
  var addresses = [
  {{ map|safe }}
  ];

  var data = {
    labels: {{ users_ages_keys }},
    datasets: [
      {
        label: "Total",
        fillColor: "#6bcbff",
        strokeColor: "#38b9ff",
        pointColor: "#15acff",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "#15acff",
        data: {{ users_ages_values }}
      }
    ]
  };
</script>
{% endlocalize %}
<script src="/static/js/map.js?1"></script>
{% endblock %}
