{% extends "base.html" %}
{% load mod %}
{% load i18n %}
{% load gravatar %}
{% load imageurl %}
{% block title %}Map{% endblock %}
{% block content %}
<div class="container text-center" id="map">
  <h1 class="margin50">Map <small>{{ map|length }}</small></h1>

  <div id="map-canvas" width="100%" style="height:600px"></div>

  <a class="btn btn-block btn-lg btn-Cool" href="{% if user.is_authenticated %}/edit/{% else %}/create/{% endif %}">
    {% if user.is_authenticated and you %}
    {% trans 'Edit your location' %}
    {% else %}
    {% trans 'Add your location' %}
    {% endif %}</a>

  <div class="row">
    {% for u in map %}
    {% if forloop.counter0|mod:6 %}
  </div><br><br><div class="row">
    {% endif%}
    <div class="col-md-2">
      <img src="{{ u.user|gravatar }}" alt="avatar" width="25" height="25"> <a href="/user/{{ u.user.username }}/" target="_blank">{{ u.user.username }}</a><br>
      <small><a href="http://maps.google.com/?q={{ u.location|urlencode }}" target="_blank">{{ u.location }}</a></small>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHtAPFTmOCQZrKSjZlIeoZrZYLJjKLupE"></script>
<script src="/static/js/oms.min.js"></script>
<script>
  {% if you %}
  var center = new google.maps.LatLng({{ you.latitude }}, {{ you.longitude }});
  var zoom = 2;
  {% else %}
  var center = new google.maps.LatLng(30, 0);
  var zoom = 2;
  {% endif %}
  var addresses = [
  {% for u in map %}
  {'username': '{{ u.user }}',
  'avatar': '{{ u.user|gravatar }}',
  'location': '{{ u.location }}',
  'icon': '{{ u.best_girl|chibiimage }}',
  'latlong': new google.maps.LatLng({{ u.latitude }}, {{ u.longitude }}) },
  {% endfor %}
  ];
</script>
<script src="/static/js/map.js"></script>
{% endblock %}
