{% load i18n %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{% trans 'About' %} {% trans 'School Idol Tomodachi' %}</h4>
</div>
<div class="modal-body modal-aboutsukutomo">
  <h3 class="text-center pinkshadowtext">{% trans 'The Ultimate Resource For LoveLive! School Idol Festival players' %}</h3>
  <br>
  <h4 class="underlined-title">{% trans 'LoveLive! School Idol Festival Game Database' %}</h4>

  <div class="row text-center">
    <div class="col-md-3 col-sm-6 transparent-hover">
      <a href="/cards/">
	<img src="/static/screenshots/small/cards.png">
	<i class="flaticon flaticon-album color-gradient-Rainbow-1 fontx4"></i>
	<h2 class="color-gradient-Rainbow-1">{% trans 'All the Cards' %}</h2>
	<p class="color-gradient-Rainbow-1">{% trans 'Check out all the cards available in the game and get statistics, skills, and more!' %}</p>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 transparent-hover">
      <a href="/events/">
	<img src="/static/screenshots/small/events.png">
	<i class="flaticon flaticon-event color-gradient-Rainbow-2 fontx4"></i>
	<h2 class="color-gradient-Rainbow-2">{% trans 'All the Events' %}</h2>
	<p class="color-gradient-Rainbow-2">{% blocktrans %}Get ready for your favorite idol: check the list of events in advance to see what's next!{% endblocktrans %}</p>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 transparent-hover">
      <a href="/songs/">
	<img src="/static/screenshots/small/songs.png">
	<i class="flaticon flaticon-song color-gradient-Rainbow-3 fontx4"></i>
	<h2 class="color-gradient-Rainbow-3">{% trans 'All the Songs' %}</h2>
	<p class="color-gradient-Rainbow-3">{% blocktrans %}Search for your favorite songs, find the shortest, longest, hardest, and more!{% endblocktrans %}</p>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 transparent-hover">
      <a href="/idols/">
	<img src="/static/screenshots/small/idols.png">
	<i class="flaticon flaticon-idolized color-gradient-Rainbow-5 fontx4"></i>
	<h2 class="color-gradient-Rainbow-5">{% trans 'All the Idols' %}</h2>
	<p class="color-gradient-Rainbow-5">{% blocktrans %}Did you know that Rin hates fish but loves ramen? All you need to know about the idols!{% endblocktrans %}</p>
      </a>
    </div>
  </div>

  <h4 class="underlined-title">{% trans 'Track your progress' %}</h4>

  <div class="row text-center">
    <div class="col-md-4 col-sm-6 transparent-hover">
      <a href="/create/">
	<img src="/static/screenshots/small/profile.png">
	<i class="flaticon flaticon-profile color-gradient-Rainbow-8 fontx4"></i>
	<h2 class="color-gradient-Rainbow-8">{% trans 'Customize your own profile' %}</h2>
	<p class="color-gradient-Rainbow-8">{% blocktrans %}Create your account and join the community!{% endblocktrans %}</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 transparent-hover">
      <a href="/cards/">
	<img src="/static/screenshots/small/collection.png">
	<i class="flaticon flaticon-deck color-gradient-Rainbow-7 fontx4"></i>
	<h2 class="color-gradient-Rainbow-7">{% trans 'Showcase your collection of cards' %}</h2>
	<p class="color-gradient-Rainbow-7">{% trans 'Keep track of the cards you idolized, max leveled or max bonded!' %}</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 transparent-hover">
      <a href="/events/">
	<img src="/static/screenshots/small/eventranking.png">
	<i class="flaticon flaticon-star color-gradient-Rainbow-6 fontx4"></i>
	<h2 class="color-gradient-Rainbow-6">{% trans 'Save your scores in events' %}</h2>
	<p class="color-gradient-Rainbow-6">{% trans 'Tier 1, tier 2, final score & ranking position!' %}</p>
      </a>
    </div>
  </div>

  <h4 class="underlined-title">{% trans 'Meet new friends, and more!' %}</h4>

  <div class="row text-center">
    <div class="col-md-4 col-sm-6 transparent-hover">
      <a href="/users/">
	<img src="/static/screenshots/small/players.png">
	<i class="flaticon flaticon-users color-gradient-Rainbow-2 fontx4"></i>
	<h2 class="color-gradient-Rainbow-2">{% trans 'Leaderboard' %}</h2>
	<p class="color-gradient-Rainbow-2">{% trans 'Do you think you can beat all the top players and become the highest ranked player in the world?' %}</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 transparent-hover">
      <a href="/map/">
	<img src="/static/screenshots/small/cards.png">
	<i class="flaticon flaticon-world color-gradient-Rainbow-4 fontx4"></i>
	<h2 class="color-gradient-Rainbow-4">{% trans 'Find players near you' %}</h2>
	<p class="color-gradient-Rainbow-4">{% trans 'Share your location with the community and traver around the world map to meet new friends!' %}</p>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 transparent-hover">
      <a href="/contest/">
	<img src="/static/screenshots/small/contest.png">
	<i class="flaticon flaticon-heart color-gradient-Rainbow-5 fontx4"></i>
	<h2 class="color-gradient-Rainbow-5">{% trans 'Vote for the best idol' %}</h2>
	<p class="color-gradient-Rainbow-5">{% trans 'Infinite Facemash: Pick the cutest between two random cards and help your favorite idol reach the top of the ranking!' %}</p>
      </a>
    </div>
  </div>

  <h4 class="underlined-title">We <i class="flaticon-heart color-Smile"></i> {% trans 'the LoveLive! community' %}</h4>

  <div class="pull-right">
    <a href="/links/">
      <img src="/static/links.png" height="100">
    </a>
  </div>
  <br>
  <p class="fontx1-2">
    {% blocktrans %}
    So don't forget to check out the guides, tutorials, tools, discussion boards, and much more from our fellow LoveLivers friends:
    {% endblocktrans %}
  </p>
  <br><br>
</div>
