{% load i18n %}
	    <div class="modal-header">
	      <div class="row">
		<div class="col-md-6">
		  <h3>Public API</h3>
		</div>
		<div class="col-md-6">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <h3>Contribute</h3>
		</div>
	      </div>
	    </div>
	    <div class="modal-body">
	      <div class="row">
		<div class="col-md-6">
		  <p>
		    If you're a developer and you would like to get the cards of the game and other LLSIF game data in a convenient format, we provide a public <strong>REST API</strong>.
		  </p>
		  <p>
		    It returns <strong>JSON objects</strong> that you can easily parse and use in your own tools or services.
		  </p>
		</div>
		<div class="col-md-6">
		  <p>
		    Our project is <strong>open source</strong> and open for contributions. We would be more than happy to accept your <strong>pull requests</strong> on GitHub.
		  </p>
		  <p>
		    <small>Main contributors are <a href="http://github.com/db0company/" target="_blank">db0</a> and <a href="http://github.com/Engil/" target="_blank">Lamagicien</a>.</small>
		  </p>
		</div>
	      </div>
	      <div class="modal-footer">
		<div class="row text-right">
		  <div class="col-md-6">
		    <a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/LoveLive!-School-Idol-API" target="_blank" class="btn btn-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}">
		      API Documentation
		    </a>
		  </div>
		  <div class="col-md-6">
		    <a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/Contribute" target="_blank" class="btn btn-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}">
		      Contributors Guide
		    </a>
		  </div>
		</div>
	      </div>
	    </div>
