{% load imageurl %}
{% load i18n %}
{% load mod %}
{% with show_delete=True size=100 %}
{% if cards %}
{% for card in cards %}{% if card|is_int %}<a href="/cards/{{ card }}/" target="_blank" class="album-empty">{{ card }}</a>{% else %}{% include 'ownedcard.html' %}{% endif %}{% endfor %}
{% else %}
<div class="alert alert-warning">
  {% if is_me %}
  <div class="pull-right">
    <a href="/cards/" target="_blank" class="btn btn-{{ attribute }}">
      {% trans 'Browse cards' %}
    </a>
  </div>
  <br>
  {% endif %}
  {% trans 'No cards registered yet.' %}
</div>
{% endif %}
{% endwith %}
