{% load i18n %}
	      {% if not nolink %}<a href="#editCard" data-id="{{ owned.pk }}">{% endif %}
		{% if owned.stored == 'Deck' %}
		<i class="flaticon-deck" title="{% trans 'In deck' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-content="{% trans 'You own this card in your deck.' %}" data-trigger="hover"{% endif %}></i>
		{% elif owned.stored == 'Album' %}
		<i class="flaticon-album" title="{% trans 'In album' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-content="{% trans 'This card is in your album.' %}" data-trigger="hover"{% endif %}></i>
		{% elif owned.stored == 'Box' %}
		<i class="flaticon-present" title="{% trans 'In present box' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-content="{% trans 'This card is in your present box.' %} {% if owned.expiration %}{% trans 'Expiration' %}: {{ owned.expiration }}{% endif %}" data-trigger="hover"{% endif %}></i>
		{% elif owned.stored == 'Favorite' %}
		<i class="flaticon-star" title="{% trans 'Wish List' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-content="{% trans 'You love this card.' %}" data-trigger="hover"{% endif %}></i>
		{% endif %}
		{% if owned.idolized %}
		<i class="flaticon-idolized" title="{% trans 'Idolized' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-content="{% if owned.stored == 'Favorite' %}{% trans 'You prefer the idolized version.'%}{% else %}{% trans 'You idolized this card. Congratulations!' %}{% endif %}" data-trigger="hover"{% endif %}></i>
		{% endif %}
		{% if owned.max_level %}
		<i class="flaticon-max-level" title="{% trans 'Max level' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-content="{% trans 'You max leveled this card. Congratulations!' %}" data-trigger="hover"{% endif %}></i>
		{% endif %}
		{% if owned.max_bond %}
		<i class="flaticon-max-bond" title="{% trans 'Max bond' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-content="{% trans 'You max bonded (kizuna) this card. Congratulations!' %}" data-trigger="hover"{% endif %}></i>
		{% endif %}
	      {% if not nolink %}</a>{% endif %}
