{% load i18n %}
{% load imageurl %}
	      {% if not nolink %}<a href="#editCard" data-id="{{ owned.pk }}" class="ownedcardonbottom">{% endif %}
              <span class="language" data-content="{% if owner_account %}{{ owner_account }}{% else %}{{ owned.owner_account }}{% endif %}" {% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"{% endif %} style="{% if withcenter %}background-image: url('{% ownedcardimageurl ownedcard=owner_account.center %}'); background-size: 100%;{% endif %}">
		{% if not withcenter %}
		<i class="flaticon-{% if owner_account %}{{ owner_account.language }}{% else %}{{ owned.owner_account.language }}{% endif %}"></i>
		{% endif %}
	      </span>
		{% if owned.stored == 'Deck' %}
		<i class="flaticon-deck" data-content="{% trans 'In deck' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"{% endif %}></i>
		{% elif owned.stored == 'Album' %}
		<i class="flaticon-album" data-content="{% trans 'In album' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"{% endif %}></i>
		{% elif owned.stored == 'Box' %}
		<i class="flaticon-present" data-content="{% trans 'In present box' %}{% if owned.expiration %} {% trans 'Expiration' %}: {{ owned.expiration }}{% endif %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"{% endif %}></i>
		{% elif owned.stored == 'Favorite' %}
		<i class="flaticon-star" data-content="{% trans 'Wish List' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"{% endif %}></i>
		{% endif %}
		{% if owned.idolized %}
		<i class="flaticon-idolized" data-content="{% trans 'Idolized' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"{% endif %}></i>
		{% endif %}
		{% if owned.max_level %}
		<i class="flaticon-max-level" data-content="{% trans 'Max Leveled' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"{% endif %}></i>
		{% endif %}
		{% if owned.max_bond %}
		<i class="flaticon-max-bond" data-content="{% trans 'Max Bonded (Kizuna)' %}"{% if not nolink %} data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"{% endif %}></i>
		{% endif %}
		{% if owned.skill > 1 %}
		<span data-content="{% trans 'Skill' %} {% trans 'Level' %} <b>{{ owned.skill }}</b>" {% if not nolink %} data-html="true" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"{% endif %}><i class="flaticon-skill"></i><small><span class="tiny">{{ owned.skill }}</span></small></span>
		{% endif %}
	      {% if not nolink %}</a>{% endif %}
