
<br>
{% if cards %}
{% for card in cards %}
<a href="/cards/{{ card.card.id }}" class="owned_card">
  <div class="owned_card_details" style="display: none"><div class="fontx2 color-{{ card.card.attribute }}">{% include "ownedCardOnBottomCard.html" with owned=card nolink=True %}</div></div>
  <div class="circled_card_100 {{ card.card.attribute }}"
       style="background-image: url('{% if not card.idolized and card.card.card_url %}{{ card.card.card_url }}{% else %}{{ card.card.card_idolized_url}}{% endif %}')"></div>
</a>
{% endfor %}
<br>
{% else %}
<div class="alert alert-warning">
  {% if is_me %}
  <div class="pull-right">
    <a href="/cards" target="_blank" class="btn btn-{{ attribute }}">
      Browse cards
    </a>
  </div>
  <br>
  {% endif %}
  No cards registered yet.
</div>
{% endif %}
