{% extends "base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}
{% block title %}{{ profile_user.username }}: {% trans 'Profile'%}{% endblock %}
{% load gravatar %}

{% block shareimage %}{{ profile_user|gravatar:200 }}{% endblock %}
{% block shareimagetwitter %}{{ profile_user|gravatar:200 }}{% endblock %}

{% block js %}
<script src="//i.schoolido.lu/static/bower/Autolinker.js/dist/Autolinker.min.js"></script>

<script src="//i.schoolido.lu/static/js/loadactivities.js?1"></script>
<script src="//i.schoolido.lu/static/js/profile.js?4"></script>
<script>
  var imgurClientID = '{{ imgurClientID }}';
</script>
{% endblock %}

{% block content %}
{% load imageurl %}
{% load padzeros %}
{% load mod %}
{% load choicesToString %}
<div id="fb-root"></div>
<div style="padding: 0 15px;">
<div class="row">
  <div class="col-lg-{% if not preferences.private %}8{% else %}12{% endif %} col-md-12 col-sm-12 col-xs-12">
    <div class="padding20 padding-novertical">
      <div id="profile-wrapper">
  <br><br>
  {% if user.is_superuser and show_staff %}
  <form method="POST" class="alert alert-danger">
    <h1>Staff Danger Zone</h1>
    User ID: {{ profile_user.id }}<br>
    User email: {{ profile_user.email }}<br>
    {% csrf_token %}
    {% include "bootstrap_form_horizontal.html" with form=form_preferences wrap=0 %}
    <div class="text-right">
      <input name="editPreferences" type="submit" class="btn btn-lg btn-Cool" value="{% trans 'Apply Changes' %}" />
    </div>
  </form>
  <br><br>
  {% endif %}
  <div class="jumbotron {{ preferences.color }}" id="profile">
    <div class="topprofile {{ preferences.color }}">
      <div class="row">
	<div class="col-xs-2">
	  {% include 'include/avatar.html' with av_user=profile_user av_size=40 av_image_size=200 %}
	</div>
	<div class="col-xs-10">
	  <div class="info">
	    <div class="pull-right text-right">
	      {% if user.is_authenticated and not preferences.private and not is_me %}
	      <form method="POST" class="noform" id="follow" action="/ajax/follow/{{ profile_user.username }}/">
		{% csrf_token %}
		<input type="hidden" name="{% if following %}unfollow{% else %}follow{% endif %}">
		<input type="submit" class="btn btn-lg btn-{{ preferences.color }}" value="{% if following %}{% trans 'Unfollow' %}{% else %}{% trans 'Follow' %}{% endif %}" data-reverse="{% if following %}{% trans 'Follow' %}{% else %}{% trans 'Unfollow' %}{% endif %}">
	      </form>
	      {% elif not user.is_authenticated %}
	      <a href="/create/" class="btn btn-lg btn-{% if preferences.color %}{{ preferences.color }}{% else %}default{% endif %}">{% trans 'Follow' %}</a><br>
	      {% endif %}
	      {% if total_followers %}
	      <br><a href="#followers"><strong>{{ total_followers }}</strong> {% trans 'Followers' %}</a></td>
	      {% endif %}
	      {% if total_following %}
	      <br><a href="#following"><strong>{{ total_following }}</strong> {% trans 'Following' %}</a></td>
	      {% endif %}
	      {% if not is_me and not preferences.private %}
	      <br><br><a href="/user/{{ profile_user.username }}/messages/" class="btn btn-sm btn-{{ preferences.color|default_if_none:'default' }}">{% trans 'Send Message' %}</a>
	      {% endif %}
	    </div>
	    <h1 id="username">{{ profile_user.username }}</h1>
	    {% if preferences.status and preferences.status != 'THANKS' %}<a href="/about#donate"><h2 style="color: {{ preferences.status|userStatusToColor }}">{{ preferences.status|userStatusToString }}</h2></a>{% endif %}
	    {% if is_me %}<div><a href="/edit/"><i class="flaticon-edit"></i> {% trans 'Your Settings' %}</a></div>{% endif %}
	    {% if user.is_staff and not show_staff %}<div><a href="?staff"><i class="flaticon-edit"></i> Staff Interface</a></div>{% endif %}
	    <br>
	    <div class="description">{{ preferences.description|markdown }}</div>
	    {% if preferences.description and not is_me %}
            <a href="/reportuser/{{ profile_user.username }}/" target="_blank" style="opacity: 0.5">
	      <i class="flaticon-warning"></i> {% trans 'Report' %}
	    </a>
	    {% endif %}
	  </div>
	</div>
      </div>
    </div>
  </div>
<div>
  <table>
    <tr>
      {% for link in links %}
      {% if forloop.counter0|mod:per_line %}
  </tr></table>
  <table class="white-table table-responsive text-center table-buttons {% if preferences.color %}{{ preferences.color }}{% else %}default{% endif %}">
    <tr>
      {% endif%}
      <td>
	{% include 'include/link.html' %}
      </td>
      {% endfor %}
    </tr>
  </table>
</div>
    {% with user_accounts|length as length %}
    {% if length == 0 %}
    <h2>{% trans 'No account.' %}</h2>
    {% else %}
    <h2>{% blocktrans count counter=length %}{{ length }} account:{% plural %}{{ length }} accounts:{% endblocktrans %}</h2>
    {% for account in user_accounts %}
    {% with account|accountattribute as attribute %}
    <div class="panel panel-{{ attribute }} {% if account.fake %}fake-account{% endif %} profile-account" id="{{ account.pk }}">
      <div class="panel-heading">
	<h3>
	  <div class="pull-right">
	    {% if is_me %}
	    <a href="/editaccount/{{ account.pk }}/" style="letter-spacing: 10px;">
	      <i class="flaticon-edit"></i>
	    </a>
            {% elif not account.fake %}
	    <a href="/reportaccount/{{ account.pk }}/" class="tiny">
              {% trans 'Report' %}
	    </a>
	    {% endif %}
	  </div>
	  <a href="#{{ account.pk }}">{{ account }}</a></h3>
      </div>
      <div class="panel-body">
	<div class="padding20 padding-novertical">
	  <div class="pull-right" style="padding: 20px 0 0 20px;">
	    {% if account.center_id %}
	    <a href="{% if is_me %}/editaccount/{{ account.pk }}/{% else %}/cards/{{ account.center_card_id }}/{% endif %}" class="center">
	      <img src="{{ account.center_card_round_image|userimage }}" alt="{{ account.center_alt_text }}" height="200">
	    </a>
	    {% else %}
	    {% if is_me %}<a href="/editaccount/{{ account.pk }}/">{% endif %}
	    <div style="width: 200px; padding: 50px; text-align: center;">
	      <strong>{% trans 'No Center Specified' %}</strong>
	    </div>
	    {% if is_me %}</a>{% endif %}
	    {% endif %}
	  </div>
	  <div class="table-responsive">
	    <table class="table">
	      <tr>
		<th><br>{% trans 'Nickname' %}</th>
		<td><br>{{ account.nickname }}
		  {% if is_me %}<a href="/editaccount/{{ account.pk }}/" class="tiny"><i class="flaticon-edit"></i></a>{% endif %}
		</td>
	      </tr>
	      {% if account.fake %}
	      <tr>
		<th>{% trans 'Fake' %}</th>
		<td>
                  <h3 class="text-danger">{% trans 'Reported as a fake account' %}
                    {% if is_me and account.deck and account.friend_id and account.rank >= 80 %}
		    <a class="btn btn-{{ attribute }} btn-sm" href="/editaccount/{{ account.pk }}/#verify">{% trans 'Get verified' %} <i class="flaticon-star"></i></a>
		    {% endif %}
                  </h3>
		</td>
	      </tr>
              {% else %}
	      <tr>
		<th>{% trans 'Friend ID' %}</th>
		<td>{% if account.show_friend_id or is_me or user.is_staff %}
		  {% if account.friend_id %}
		  {{ account.friend_id|padzeros:9 }}
		  {% else %}
		  {% trans 'Unknown' %}
		  {% endif %}
		  {% if not account.show_friend_id and is_me %}
		  <small class="text-muted">{% trans 'Only you can see it.' %}</small>
		  {% endif %}
		  {% else %}
		  <span class="text-muted">{% trans 'Private' %}</span>
		  {% endif %}
		  {% if is_me and account.verified == 0 %}<a href="/editaccount/{{ account.pk }}/" class="tiny"><i class="flaticon-edit"></i></a>{% endif %}
		</td>
	      </tr>
              {% endif %}
	      {% if not account.accept_friend_requests|isnone %}
	      <tr>
		<th>{% trans 'Accept friend requests' %}</th>
		<td>{% if account.accept_friend_requests %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}
		  {% if is_me %}<a href="/editaccount/{{ account.pk }}/" class="tiny"><i class="flaticon-edit"></i></a>{% endif %}
		</td>
	      </tr>
	      {% endif %}
	      <tr>
		<th>{% trans 'Game Version' %}</th>
		<td>
		  <div class="pull-right">
		    <i class="flaticon-{{ account.language }} fontx2"></i>
		  </div>
		  {{ account.language }}
		</td>
	      </tr>
	      <tr>
		<th>{% trans 'Operating System' %}</th>
		<td>
		  <div class="pull-right">
		    <i class="flaticon-{{ account.os }} fontx2"></i>
		  </div>
		  {{ account.os }}
		</td>
	      </tr>
	      {% if account.device %}
	      <tr>
		<th>{% trans 'Device' %}</th>
		<td>{{ account.device }}
		</td>
	      </tr>
	      {% endif %}
	      {% if account.starter_id %}
	      {% if not account.center_id or account.center_card_id != account.starter_id %}
	      <tr>
		<th>{% trans 'Starter' %}</th>
		<td>
		  <a href="/cards/{{ account.starter_id }}/R-{{ account.starter_name|tourldash }}/" target="_blank">
		    {{ account.starter_name }}
		    <div class="pull-right">
		      <img src="{{ account.starter_card_round_image|userimage }}" alt="{{ account.starter_name }}" height="42">
		    </div>
		  </a>
		</td>
	      </tr>
	      {% endif %}
	      {% endif %}
	      {% if account.play_with %}
	      <tr>
		<th>{% trans 'Play with' %}</th>
		<td>
		  <div class="pull-right">
		    <i class="flaticon-{{ account.play_with|playWithToIcon }} fontx2"></i>
		  </div>
		  {{ account.play_with|playWithToString }}</td>
	      </tr>
	      {% endif %}
	      {% if account.creation %}
	      {% if account.show_creation or is_me %}
	      <tr>
		<th>{% trans 'Creation' %}</th>
		<td>
		  {{ account.creation }}
                  ({{ account.days_played }} {% trans 'days' %})
		  {% if not account.show_creation and is_me %}
		  <small class="text-muted">{% trans 'Only you can see it.' %}</small>
		  {% endif %}
		</td>
	      </tr>
	      {% endif %}
	      {% endif %}
	      {% if account.loveca or account.tickets or account.g or account.vouchers or account.bought_loveca %}
              {% if account.show_items or is_me %}
	      <tr>
		<th>{% trans 'Items' %}</th>
		<td class="profile-items">
                  {% if account.loveca %}{{ account.loveca }} <img src="//i.schoolido.lu/static/items/loveca.png" alt="loveca">{% endif %}
                  {% if account.friend_points %}{{ account.friend_points }} <img src="//i.schoolido.lu/static/items/friend_points.png" alt="friend_points">{% endif %}
                  {% if account.g %}{{ account.g }} <img src="//i.schoolido.lu/static/items/g.png" alt="g">{% endif %}
                  {% if account.tickets %}{{ account.tickets }} <img src="//i.schoolido.lu/static/items/tickets.png" alt="tickets">{% endif %}
                  {% if account.vouchers %}{{ account.vouchers }} <img src="//i.schoolido.lu/static/items/vouchers.png" alt="vouchers">{% endif %}
                  {% if account.bought_loveca %}
                  <br>
                  <strong>{% trans 'Total love gems bought' %}: </strong>{{ account.bought_loveca }} <img src="//i.schoolido.lu/static/items/loveca.png" alt="loveca">
                  (~${{ account.money_spent }} {% trans 'spent' %})
                  {% endif %}
		  {% if not account.show_items and is_me %}
		  <br><small class="text-muted">{% trans 'Only you can see it.' %}</small>
		  {% endif %}
		</td>
	      </tr>
	      {% endif %}
	      {% endif %}
	      {% if not preferences.private or is_me %}
	      <tr>
		<th>{% trans 'Significant Cards' %}</th>
		<td><strong>{{ account.deck_total_sr }} SR</strong> {% trans 'and' %} <strong>{{ account.deck_total_ur }} UR</strong><span class="hidden deck_total_value">{{ account.deck_total }}</span></td>
	      </tr>
	      {% endif %}
	      <tr>
		<th>{% trans 'Rank' %}</th>
		<td>
		  <h3>
		    {% if account.rank %}{{ account.rank }}{% else %}{% trans 'Unknown' %}{% endif %}
		    {% if is_me %}<a href="/editaccount/{{ account.pk }}/" class="tiny"><i class="tiny flaticon-edit"></i></a>{% endif %}
		  </h3>
		</td>
	      </tr>
	      {% if account.ranking %}
	      <tr>
		<th>{% trans 'Ranking' %}</th>
		<td>
		  <a href="/users/?language={{ account.language }}&verified=3&reverse_order=on">
		    <h3 style="margin-top: 0">
		      {% if account.ranking < 4 %}
		       <img src="//i.schoolido.lu/static/medal{{ account.ranking }}.png" alt="{{ account.ranking }}" height="60">
		       {% else %}
		       # {{ account.ranking }}
		       {% endif %}
		    </h3>
		    <i class="flaticon-{{ account.language }}"></i> {% trans 'Leaderboard' %}
		  </a>
		</td>
	      </tr>
	      {% endif %}
	      {% if account.verified > 0 and account.verified < 3 %}
	      <tr>
		<th>{% trans 'Verified' %}</th>
		<td><h3><span class="verified{{ account.verified }}"><i class="flaticon-star"></i></span> <small>{{ account.verified|verifiedToString }}</small></h3>
		  {% if not is_me and user.is_authenticated %}
		  <small><a href="/edit/?verification#editaccounts" target="_blank">{% trans 'Get verified' %}</a></small>
		  {% endif %}
		</td>
	      </tr>
	      {% elif is_me and account.deck and account.friend_id and account.rank >= 80 %}
	      <tr>
		<th>{% trans 'Verified' %}</th>
		<td>
		  {% if account.verified == 3 %}
		  {% trans 'You are Bronze Verified. Only you can see it.' %}<br>
		  {% endif %}
		  <a href="/editaccount/{{ account.pk }}/#verify" target="_blank">{% trans 'Get verified' %}{% if account.verified == 3 %} ({% trans 'Silver' %} / {% trans 'Gold' %}){% endif %}</a>
		</td>
	      </tr>
	      {% endif %}
	      {% if is_me %}
	      <tr>
		<th>{% trans 'Edit Account' %}</th>
		<td>
		  <a class="btn btn-{{ attribute }} btn-sm" href="/editaccount/{{ account.pk }}/">{% trans 'Edit Account' %}</a>
		  {% if account.transfer_code %}
		  <a class="btn btn-{{ attribute }} btn-sm" href="/editaccount/{{ account.pk }}/#getTransferCode">{% trans 'Get your saved transfer code' %}</a>
		  {% endif %}
		  <a class="btn btn-{{ attribute }} btn-sm" href="/editaccount/{{ account.pk }}/#saveTransferCode">{% trans 'Save your transfer code' %}</a>
		  {% if account.verified == 0 and account.deck and account.friend_id and account.rank >= 80 %}
		  <a class="btn btn-{{ attribute }} btn-sm" href="/editaccount/{{ account.pk }}/#verify">{% trans 'Get verified' %} <i class="flaticon-star"></i></a>
		  {% endif %}
		  <br>
		  <a class="btn btn-link btn-sm" href="/cards/albumbuilder/?albumbuilder_account={{ account.id }}&ordering=id" target="_blank"><i class="flaticon-album"></i> {% trans 'Album Builder' %}</a>
		  <a class="btn btn-link btn-sm" href="/skillup/?account={{ account.id }}" target="_blank"><i class="flaticon-skill"></i> {% trans 'Level up the skill of your cards' %}</a>
		  <br><br>
		  <a class="btn btn-{{ attribute }} btn-block btn-lg" href="#postActivity{{ account.pk }}" data-toggle="collapse">{% trans 'Post your own activity' %}</a>
		  {% if posted_activity %}
		  <div class="alert alert-info">
		    {% trans 'Activity posted!' %} <a href="/activities/{{ posted_activity.id }}/">{% trans 'Open' %}</a>
		  </div>
		  {% endif %}
		</td>
	      </tr>
	      {% endif %}
	    </table>
	  </div>
	  {% if is_me %}
	  <div class="well post-activity collapse" id="postActivity{{ account.pk }}">
	    <form method="POST">
	      <h3>{% trans 'Post your own activity' %}
		<small><a href="http://schoolido.lu/activities/1743972/" target="_blank">{% trans 'What is this?' %}</a></small>
	      </h3>
	      {% csrf_token %}
	      {% include "bootstrap_form_horizontal.html" with form=account.form_custom_activity wrap=0 %}
	      <div class="col-sm-offset-4 col-sm-8">
		<small><i>
		    {% trans 'Only post official artworks, artworks you own, or fan artworks that are approved by the artist and credited.' %}
		</i></small>
	      </div>
	      <br><br>
	      <div class="text-right">
		<input type="submit" value="{% trans 'Post your own activity' %}" class="btn btn-{{ attribute }}">
	      </div>
	    </form>
	  </div>
	  {% endif %}

	  {% if user.is_staff and show_staff %}
	  <div class="alert alert-danger">
	    <form method="POST">
	      <h1>Staff Danger Zone</h1>
	      Account ID: {{ account.id }}
	      {% csrf_token %}
	      {% include "bootstrap_form_horizontal.html" with form=account.staff_form wrap=0 %}
	      <div class="text-right">
		<input name="editAccount{{ account.id }}" type="submit" class="btn btn-lg btn-danger" value="{% trans 'Apply Changes' %}" />
	      </div>
	    </form>
	    <br><br>
	    <h4>Add card</h4>
	    <form method="POST">
	      {{ form.non_field_errors }}
	      {% csrf_token %}
	      {% include "bootstrap_form_horizontal.html" with form=account.staff_form_addcard wrap=0 %}
	      <div class="text-right">
		<input name="addcard" type="submit" class="btn btn-lg btn-danger" value="{% trans 'Add this card' %}" />
	      </div>
	    </form>
	    </div>
	  <br><br>
	  {% endif %}

	  {% if preferences.private %}
	  <div class="padding10">{% trans 'This profile is private, so it is not possible to see the cards, activities and events participations.' %}</div>
	  {% endif %}

	  {% if not preferences.private or is_me %}
	  <ul class="nav nav-tabs">
	    {% for tab, icon in accounts_tabs %}
	    {% if tab != 'presentbox' or is_me %}
	    <li role="presentation"{% if account.opened_tab == tab %} class="active"{% endif %}><a href="#accountTab{{ tab }}{{ account.pk }}" data-toggle="tab" data-tab="{{ tab }}"><i class="flaticon-{{ icon }}"></i> {% trans tab|accountTabToString %}</a></li>
	    {% endif %}
	    {% endfor %}
	  </ul>
	  <br>

	  <div class="tab-content text-center">
	    {% for tab, icon in accounts_tabs %}
	    <div id="accountTab{{ tab }}{{ account.pk }}" data-tab="{{ tab }}" class="tab-pane fade in{% if account.opened_tab == tab %} active{% endif %}">{% if account.opened_tab == tab %}
	      {% include 'include/account_tab_'|add:tab|add:'.html' %}
	      {% endif %}</div>
	    {% endfor %}
	  </div> <!-- tab-content -->
	  {% endif %}
	</div>

      </div>
    </div>
    <br><br>
    {% endwith %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'schoolidol';
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
</div>
</div>
{% if not preferences.private %}
<div class="col-lg-4 visible-lg">
  <div id="activities" style="margin-top: 60px;margin-right: 30px;">
  </div>
</div>
{% endif %}
</div>
</div>
{% endblock %}
