{% extends "base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}
{% block title %}{{ profile_user.username }}: {% trans 'Profile'%}{% endblock %}
{% block js %}
<script src="/static/bower/Autolinker.js/dist/Autolinker.min.js"></script>
<script src="/static/js/loadactivities.js"></script>
<script src="/static/js/profile.js"></script>
{% endblock %}

{% block content %}
{% load imageurl %}
{% load padzeros %}
{% load mod %}
{% load choicesToString %}
<div id="fb-root"></div>
<div class="container">
  <br><br>
  {% if user.is_staff and show_staff %}
  <form method="POST" class="alert alert-danger">
    <h1>Staff Danger Zone</h1>
    User ID: {{ profile_user.id }}
    {% csrf_token %}
    {% include "bootstrap_form_horizontal.html" with form=form_preferences wrap=0 %}
    <div class="text-right">
      <input name="editPreferences" type="submit" class="btn btn-lg btn-Cool" value="{% trans 'Apply Changes' %}" />
    </div>
  </form>
  <br><br>
  {% endif %}
  <div class="jumbotron {{ preferences.color }}" id="profile">
    <div class="topprofile {{ preferences.color }}">
      <div class="row">
	<div class="col-sm-2">
	  {% include 'include/avatar.html' with av_user=profile_user av_size=60 av_image_size=200 %}
	</div>
	<div class="col-sm-10">
	  <div class="info">
	    <div class="pull-right text-right">
	      {% if user.is_authenticated and not preferences.private and not is_me %}
	      <form method="POST" class="noform" id="follow" action="/ajax/follow/{{ profile_user.username }}/">
		{% csrf_token %}
		<input type="hidden" name="{% if following %}unfollow{% else %}follow{% endif %}">
		<input type="submit" class="btn btn-lg btn-{{ preferences.color }}" value="{% if following %}{% trans 'Unfollow' %}{% else %}{% trans 'Follow' %}{% endif %}" data-reverse="{% if following %}{% trans 'Follow' %}{% else %}{% trans 'Unfollow' %}{% endif %}">
	      </form>
	      {% elif not user.is_authenticated %}
	      <a href="/create/" class="btn btn-lg btn-{% if preferences.color %}{{ preferences.color }}{% else %}default{% endif %}">Follow</a><br>
	      {% endif %}
	      {% if total_followers %}
	      <br><a href="#followers"><strong>{{ total_followers }}</strong> {% trans 'Followers' %}</a></td>
	      {% endif %}
	      {% if total_following %}
	      <br><a href="#following"><strong>{{ total_following }}</strong> {% trans 'Following' %}</a></td>
	      {% endif %}
	    </div>
	    <h1 id="username">{{ profile_user.username }}</h1>
	    {% if preferences.status and preferences.status != 'THANKS' %}<a href="/donate/"><h2 style="color: {{ preferences.status|userStatusToColor }}">{{ preferences.status|userStatusToString }}</h2></a>{% endif %}
	    {% if is_me %}<div><a href="/edit/"><i class="flaticon-edit"></i> {% trans 'Your Settings' %}</a></div>{% endif %}
	    <br>
	    <div class="description">{{ preferences.description|markdown }}</div>
	  </div>
	</div>
      </div>
    </div>
  </div>
<div>
  <table>
    <tr>
      {% for link in links %}
      {% if forloop.counter0|mod:per_line %}
  </tr></table>
  <table class="white-table table-responsive text-center table-buttons {% if preferences.color %}{{ preferences.color }}{% else %}default{% endif %}">
    <tr>
      {% endif%}
      <td>
	<a href="{{ link.link }}" target="_blank">
	  <div class="row"><div class="col-xs-8"><strong>
		{% if link.title_translate %}
		{% trans link.title %}
		{% else %}
		{{ link.title }}
		{% endif %}
	    </strong></div>
	    <div class="col-xs-4">
	      {% if link.flaticon %}
	      <i class="flaticon-{{ link.flaticon }}"></i>
	      {% elif link.image %}
	      <img src="{{ link.image }}" alt="{{ link.title }}"
		   {% if link.image_size %}
		   width="{{ link.image_size }}" height="{{ link.image_size }}"
		   {% endif %}
		   >
	      {% elif link.div %}
	      {{ link.div|safe }}
	      {% endif %}
	    </div>
	  </div>
	  {% if link.title == 'Twitter' %}
	  {% include 'include/twitter.html' with nolink=True twitter=preferences.twitter %}
	  {% elif link.title == 'Tumblr' %}
	  <iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" style="padding: 0; margin: 0; border: 0;" height="25" width="160" src="http://platform.tumblr.com/v1/follow_button.html?button_type=1&tumblelog={{ preferences.tumblr }}&color_scheme=light"></iframe>
	  {% else %}
	  {{ link.text }}
	  {% endif %}
	</a>
      </td>
      {% endfor %}
    </tr>
  </table>
</div>
    {% with user_accounts|length as length %}
    {% if length == 0 %}
    <h2>{% trans 'No account.' %}</h2>
    {% else %}
    <h2>{% blocktrans count counter=length %}{{ length }} account:{% plural %}{{ length }} accounts:{% endblocktrans %}</h2>
    {% for account in user_accounts %}
    {% with account.center.card.attribute|default:'All' as attribute %}
    <div class="panel panel-{{ attribute }} profile-account" id="{{ account.pk }}">
      <div class="panel-heading">
	<h3>
	  {% if is_me %}
	  <div class="pull-right" style="letter-spacing: 10px;">
	    <a href="/editaccount/{{ account.pk }}/">
	      <i class="flaticon-edit"></i>
	    </a>
	  </div>
	  {% endif %}
	  <a href="#{{ account.pk }}">{{ account }}</a></h3>
      </div>
      <div class="panel-body">
	<div class="padding20 padding-novertical">
	  <div class="pull-right" style="padding: 20px;">
	    {% if account.center %}
	    <a href="{% if is_me %}/editaccount/{{ account.pk }}{% else %}/cards/{{ account.center.card.id }}{% endif %}" class="center">
	      <div class="circled_card_200 {{ account.center.card.attribute }} {{ account.center.card.rarity }} hover"
		   style="background-image: url('{% if not account.center.idolized and account.center.card.card_image %}{{ account.center.card|imageurl:'card_image' }}{% else %}{{ account.center.card|imageurl:'card_idolized_image' }}{% endif %}')"></div>
	    </a>
	    {% else %}
	    {% if is_me %}<a href="/editaccount/{{ account.pk }}/">{% endif %}
	    <div style="width: 200px; padding: 50px; text-align: center;">
	      <strong>{% trans 'No Center Specified' %}</strong>
	    </div>
	    {% if is_me %}</a>{% endif %}
	    {% endif %}
	  </div>
	  <div class="table-responsive">
	    <table class="table">
	      <tr>
		<th><br>{% trans 'Nickname' %}</th>
		<td><br>{{ account.nickname }}</td>
	      </tr>
	      <tr>
		<th>{% trans 'Friend ID' %}</th>
		<td>{{ account.friend_id|padzeros:9 }}</td>
	      </tr>
	      {% if not account.accept_friend_requests|isnone %}
	      <tr>
		<th>{% trans 'Accept friend requests' %}</th>
		<td>{% if account.accept_friend_requests %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</td>
	      </tr>
	      {% endif %}
	      <tr>
		<th>{% trans 'Game Version' %}</th>
		<td>
		  <div class="pull-right">
		    <i class="flaticon-{{ account.language }} fontx2"></i>
		  </div>
		  {{ account.language }}</td>
	      </tr>
	      <tr>
		<th>{% trans 'Operating System' %}</th>
		<td>
		  <div class="pull-right">
		    <i class="flaticon-{{ account.os }} fontx2"></i>
		  </div>
		  {{ account.os }}</td>
	      </tr>
	      {% if account.device %}
	      <tr>
		<th>{% trans 'Device' %}</th>
		<td>{{ account.device }}</td>
	      </tr>
	      {% endif %}
	      {% if account.play_with %}
	      <tr>
		<th>{% trans 'Play with' %}</th>
		<td>
		  <div class="pull-right">
		    {% if account.play_with == 'Thumbs' %}<i class="flaticon-thumbs fontx2"></i>{% elif account.play_with == 'Fingers' or account.play_with == 'Hand' %}<i class="flaticon-fingers fontx2"></i>{% endif %}
		  </div>
		  {{ account.play_with|playWithToString }}</td>
	      </tr>
	      {% endif %}
	      <tr>
		<th>{% trans 'Significant Cards' %}</th>
		<td><strong>{{ account.deck_total_sr }} SR</strong> {% trans 'and' %} <strong>{{ account.deck_total_ur }} UR</strong></td>
	      </tr>
	      <tr>
		<th>{% trans 'Rank' %}</th>
		<td><h3>{{ account.rank }}</h3></td>
	      </tr>
	      {% if account.verified > 0 and account.verified < 3 %}
	      <tr>
		<th>{% trans 'Verified' %}</th>
		<td><h3><span class="verified{{ account.verified }}"><i class="flaticon-star"></i></span> <small>{{ account.verified|verifiedToString }}</small></h3>
		  {% if not is_me and user.is_authenticated %}
		  <small><a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/Verified-Accounts" target="_blank">{% trans 'Get verified' %}</a></small>
		  {% endif %}
		</td>
	      </tr>
	      {% elif is_me and account.deck and account.friend_id and account.rank >= 50 %}
	      <tr>
		<th>{% trans 'Verified' %}</th>
		<td>
		  {% if account.verified == 3 %}
		  {% trans 'You are Bronze Verified. Only you can see it.' %}<br>
		  {% endif %}
		  <a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/Verified-Accounts" target="_blank">{% trans 'Get verified' %}{% if account.verified == 3 %} ({% trans 'Silver' %} / {% trans 'Gold' %}){% endif %}</a>
		</td>
	      </tr>
	      {% endif %}
	    </table>
	  </div>

	  {% if user.is_staff and show_staff %}
	  <form method="POST" class="alert alert-danger">
	    <h1>Staff Danger Zone</h1>
	    Account ID: {{ account.id }}
	    {% csrf_token %}
	    {% include "bootstrap_form_horizontal.html" with form=account.staff_form wrap=0 %}
	    <div class="text-right">
	      <input name="editAccount{{ account.id }}" type="submit" class="btn btn-lg btn-Cool" value="{% trans 'Apply Changes' %}" />
	    </div>
	  </form>
	  <br><br>
	  {% endif %}

	  {% if preferences.private %}
	  <div class="padding10"><small>{% trans 'This profile is private, so it is not possible to see the cards, activities and events participations.' %}</small></div>
	  {% endif %}

	  {% if not preferences.private or is_me %}
	  <ul class="nav nav-tabs">
	    <li role="presentation" class="active"><a href="#accountTabCards{{ account.pk }}" data-toggle="tab"><i class="flaticon-cards"></i> {% trans 'Cards' %}</a></li>
	    <li role="presentation"><a href="#accountTabActivities{{ account.pk }}" data-toggle="tab"><i class="flaticon-activities"></i> {% trans 'Activities' %}</a></li>
	    <li role="presentation"><a href="#accountTabEvents{{ account.pk }}" data-toggle="tab"><i class="flaticon-event"></i> {% trans 'Events' %}</a></li>
	  </ul>
	  <br>

	  <div class="tab-content">
	    <div id="accountTabCards{{ account.pk }}" class="tab-pane fade in active">
	      <div role="tabpanel" class="tabpanel">
		<div class="btn-group btn-group-justified" data-toggle="buttons">
		  <label for="optDeck" class="cardstype btn btn-{{ attribute }} active">
		    <input id="optDeck" name="cardstype" checked type="radio" data-target="#cardtabDeck{{ account.pk }}" >
		    <i class="flaticon flaticon-deck"></i>
		    {% trans 'Deck' %}
		  </label>
		  <label for="optAlbum" class="cardstype btn btn-{{ attribute }}">
		    <input id="optAlbum" name="cardstype" type="radio" data-target="#cardtabAlbum{{ account.pk }}" >
		    <i class="flaticon flaticon-album"></i>
		    {% trans 'Album' %}
		  </label>
		  {% if is_me %}
		  <label for="optBox" class="cardstype btn btn-{{ attribute }}">
		    <input id="optBox" name="cardstype" type="radio" data-target="#cardtabBox{{ account.pk }}" >
		    <i class=".flaticon flaticon-present"></i>
		    {% trans 'Present Box' %}
		  </label>
		  {% endif %}
		  <label for="optWishlist" class="cardstype btn btn-{{ attribute }}">
		    <input id="optWishlist" name="cardstype" type="radio" data-target="#cardtabWishlist{{ account.pk }}" >
		    <i class="flaticon flaticon-star"></i>
		    {% trans 'Wish List' %}
		  </label>
		</div>
	      </div>
	      <div class="tab-content">
		{% if is_me %}
		<br>
		<a style="display: block;" href="/cards/?search=" class="alert alert-info">{% blocktrans %}To search through your cards, order them, edit them or add some new, go to the cards page and use the filters.{% endblocktrans %} <i class="flaticon-filter"></i></a>
		{% endif %}
		<div id="cardtabDeck{{ account.pk }}" class="tab-pane fade in active cardtab-pane text-center">
		  {% include 'ownedcards.html' with cards=account.deck %}
		</div>
		<div id="cardtabAlbum{{ account.pk }}" class="tab-pane fade cardtab-pane text-center" data-stored="Album"></div>
		{% if is_me %}
		<div id="cardtabBox{{ account.pk }}" class="tab-pane fade cardtab-pane text-center" data-stored="Box"></div>
		{% endif %}
		<div id="cardtabWishlist{{ account.pk }}" class="tab-pane fade cardtab-pane text-center" data-stored="Favorite"></div>
		<br>
	      </div>

	    </div>

	    <div id="accountTabActivities{{ account.pk}}" class="tab-pane fade"></div>

	    <div id="accountTabEvents{{ account.pk }}" class="tab-pane fade"></div>

	  </div>
	  {% endif %}
	</div>

      </div>
    </div>
    <br><br>
    {% endwith %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'schoolidol';
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

{% endblock %}
