{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load imageurl %}

{% block title %}{% trans 'Songs' %}{% if single %}: {{ single }}{% endif %}{% endblock %}
{% block js %}
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script src="/static/bower/CuteForm/cuteform.js"></script>
<script>
  cuteform($('#id_attribute'), {
    'images': {
      '': 'http://i.schoolido.lu/static/empty.png',
      {% for i, attribute in filter_form.fields.attribute.choices %}
      {% if i != '' %}
      '{{ i }}': 'http://i.schoolido.lu/static/{{ i }}.png',
      {% endif %}
      {% endfor %}
    }
  });
  cuteform($('#id_is_daily_rotation'), {
    'html': {
      '1': '{% trans 'All' %}',
      '2': '{% trans 'Only' %}',
      '3': '{% trans 'None' %}',
    }
  });
  cuteform($('#id_is_event'), {
    'html': {
      '1': '{% trans 'All' %}',
      '2': '{% trans 'Only' %}',
      '3': '{% trans 'None' %}',
    }
  });
  cuteform($('#id_available'), {
    'html': {
      '1': '{% trans 'All' %}',
      '2': '{% trans 'Yes' %}',
      '3': '{% trans 'No' %}',
    }
  });

function songs_stats_buttons() {
    {% if songs %}
    {% for difficulty in songs.0.percent_stats.keys %}
    $('.btn.{{ difficulty }}').unbind('click');
    $('.btn.{{ difficulty }}').click(function() {
	song = $(this).closest('.song')
	{% for sub_difficulty in songs.0.percent_stats.keys %}
	song.find('.statistics_{{ sub_difficulty }}').{% if sub_difficulty == difficulty %}show{% else %}hide{% endif %}();
	{% endfor %}
    })
    {% endfor %}
    {% endif %}
}

</script>
<script src="/static/js/songs.js?4"></script>
{% endblock %}

{% block shareimage %}{% if single %}{% songimageurl song=single %}{% else %}http://i.schoolido.lu/static/screenshots/songs.png{% endif %}{% endblock %}
{% block shareimagetwitter %}{% if single %}{% songimageurl song=single %}{% else %}http://i.schoolido.lu/static/screenshots/songs.png{% endif %}{% endblock %}

{% block content %}
{% if not single %}
{% if show_filter_button %}
<div id="wrapper" class="{% if show_filter_bar %}active{% endif %}">
  {% include 'include/filterbar.html' %}
  <div id="page-content-wrapper">
    <a href="#" id="togglebutton" class="{% if interfaceColor %}{{ interfaceColor }}{% else %}default{% endif %}">
      <i class="flaticon-search"></i>
      <i class="flaticon-toggler hidder"></i>
    </a>
{% endif %}
    {% endif %}
    {% include "songsPage.html" %}
    {% if not single %}
  </div> <!-- page-content-wrapper -->
</div> <!-- wrapper -->
{% endif %}
{% endblock %}
