{% extends "base.html" %}
{% load i18n %}

{% block title %}Staff{% endblock %}

{% block content %}
{% load choicesToString %}
{% load pagination %}
<div class="container">
  <br><br>
  <h1 class="text-center">Staff Verifications <small>{{ total }}</small></h1>
  <br>
  <a href="#search" class="btn btn-Cool btn-lg btn-block" data-toggle="collapse">Search/Filter verifications...</a>
  <form method="get" id="search" class="collapse">
    <br>
    {% include "bootstrap_form_horizontal.html" with form=form wrap=0 %}
    <div class="text-right">
      <input type="submit" class="btn btn-lg btn-Cool" value="{% trans 'Search' %}" />
    </div>
  </form>
  <br><br>
  {% if verifications %}
  <table class="table table-bordered table-xl">
    <tr>
      <th>{% trans 'Verification' %}</th>
      <th>{% trans 'Account' %}</th>
      <th>{% trans 'Operating System' %}</th>
      <th>{% trans 'Rank' %}</th>
      <th>{% trans 'Status' %}</th>
      <th>{% trans 'Get verified' %}</th>
    </tr>
    {% for verification in verifications %}
    <tr class="{% if verification.status == 0 %}danger{% elif verification.status == 3 %}success{% elif verification.status == 2 %}warning{% else %}info{% endif %}">
      <td class="verified{{ verification.verification }}">
	<i class="flaticon-star"></i>
	{{ verification.verification|verifiedToString }}
	{% if verification.allow_during_events %}
	<br>
	<small><small><small>Allowed to be verified during events</small></small></small>
	{% endif %}
      </td>
      <td {% if verification.verification != 2 %}colspan="2"{% endif %}>{{ verification.account }}</td>
      {% if verification.verification == 2 %}
      <td>{{ verification.account.os }}</td>
      {% endif %}
      <td>{{ verification.account.rank }}</td>
      <td class="text-{% if verification.status == 0 %}danger{% elif verification.status == 3 %}success{% elif verification.status == 2 %}warning{% else %}info{% endif %}">{{ verification.status|verificationStatusToString }}</td>
      <td class="text-right">
	{% if verification.status == 1 %}
	<a href="/staff/verification/{{ verification.id }}/" class="btn btn-default btn-lg">
	  Verify
	</a>
	{% else %}
	by <a href="/users/{{ verification.verified_by.username }}/">{{ verification.verified_by.username }}</a><br>
	<small><a href="/staff/verification/{{ verification.id }}/">View verification</a><br>
	  {% if verification.verification_date %}
	  {{ verification.verification_date }}
	  {% endif %}
	</small>
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="alert alert-info">
    {% trans 'No results.' %}
  </div>
  {% endif %}
  <ul class="pager">
    {% if page > 1 %}
    <li><a href="{{ current_url|previouspage:page }}">Previous</a></li>
    {% endif %}
    <li><a href="{{ current_url|nextpage:page }}">Next</a></li>
  </ul>

  {% include 'disqus.html' with disqus_identifier='staff-verifications' %}
</div>

{% endblock %}
