{% extends "base.html" %}

{% block title %}Staff Edit Event{% endblock %}

{% block content %}
<div class="container" id="staff_giveaway_generator">
  <br><br>
  <div class="jumbotron">
    <h1>Giveaway generator</h1>

    {% if form %}
    <h2 class="text-center">Generate giveaway activity</h2>
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      {% include "bootstrap_form_horizontal.html" with wrap=0 %}
      <div class="text-right">
	    <button type="submit" class="btn btn-Cool" data-form-loader="true" name="generate_giveaway">
          Generate giveaway activity</button>
      </div>
    </form>
    {% endif %}

    {% if winner_form %}
    <br><br>
    <h2 class="text-center">Generate winners activity</h2>
    <p>If there are more than 30 participants, ask db0 to generate the closure post instead. There will be a vote for staff picks.</p>
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      {% include "bootstrap_form_horizontal.html" with wrap=0 form=winner_form %}
      <div class="text-right">
	    <button type="submit" class="btn btn-Cool" data-form-loader="true" name="winners">
          Generate winners activity</button>
      </div>
    </form>
    {% endif %}

    <br><br>

    {% if post %}
    <textarea style="width: 100%; height: 300px">{{ post }}</textarea>
    <br><br>
    <div class="text-right">
      <a href="/user/{{ user.username }}/" class="btn btn-Cool" target="_blank">Create activity</a>
    </div>
    {% endif %}

    {% if banners %}
    <h3>Banner to add to Drive</h3>
    {% for banner in banners %}
    <input value="{{ banner.name }}" style="width: 100%" /><br>
    <input value="{{ banner.image }}" style="width: 100%" /><br>
    <br>
    {% endfor %}
    <div class="text-right">
    <a href="https://docs.google.com/spreadsheets/d/1erTs9QSJatOjAL1gCPwziNrjIN_Z7EEFsmsUPrPMfDM/edit#gid=0" target="_blank"  class="btn btn-Cool">Open Drive link to add banner</a>
    </div>
    {% endif %}

    {% if log %}
    <br><br>
    <pre>{{ log }}</pre>
    {% endif %}

    <br><br>
    <h2 class="text-center">Generate Discord messages for prize assignment</h2>

    <br>

    {% if generate_giveaway_discord_messages %}
    <div class="alert alert-info">
      <i class="flaticon-about"></i>
      This page generates messages to help with prizes assignment
      <ul>
        <li><a href="https://github.com/MagiCircles/Circles/wiki/Community-entertainers-guide/" target="_blank">Full events organizing guide</a></li>
        <li><a href="{{ sheet_edit_url }}" target="_blank">Winners spreadsheet</a></li>
        <li><a href="{{ request.path }}?generate_giveaway_discord_messages{% if not backup_prizes %}&backup_prizes{% endif %}">{% if backup_prizes %}See regular prizes{% else %}See backup prizes{% endif %}</a></li>
      </ul>
    </div>

    {% if generated_messages %}
    {% for name, message in generated_messages %}
    <hr />
    <div>
      <h3>{{ name }}</h3>
      <ol>
        <li>Go to the <code>#art_sukutomo</code> channel</li>
        <li>Copy this message:
          <pre>{{ message }}</pre>
        </li>
        <li>Open <a href="{{ sheet_edit_url }}" target="_blank">the spreadsheet</a></li>
        <li>In the "By" column, change to "Asked"</li>
        <li>Check <a href="https://github.com/MagiCircles/Circles/wiki/Community-entertainers-guide/" target="_blank">the full guide</a> for follow-up instructions</li>
      </ol>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-success">
      <i class="flaticon-check"></i> Looks like all the prizes have been assigned!
    </div>
    {% endif %}
    {% else %}
    <div class="text-center">
      <a class="btn btn-lg btn-Cool" href="?generate_giveaway_discord_messages">Generate</a>
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
