{% extends "base.html" %}

{% block title %}Staff Edit Event{% endblock %}

{% block content %}
<div class="container" id="editevent">
  <br><br>
  <div class="jumbotron">
    <h1>Edit Event
      <br><small>{{ event }}</small>
    </h1>
    <br>
    <form class="form-horizontal" method="post" action="" role="form" enctype="multipart/form-data">
      {% csrf_token %}
      {% include "bootstrap_form_horizontal.html" with wrap=0 %}
      <div class="text-right">
	<button name="editevent" type="submit" class="btn btn-lg btn-Cool" data-form-loader="true">Apply Changes</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
