{% extends "base.html" %}

{% block title %}Staff - Reports{% endblock %}

{% block js %}
<script src="{{ static_url }}static/js/staff_report.js?2"></script>
{% endblock %}

{% block content %}
{% load choicesToString %}
{% load pagination %}
{% load imageurl %}
<div class="container">
  <br><br>
  <h1 class="text-center">Staff Moderation Reports <small>{{ total }}</small></h1>
  <br>
  <div class="text-right">
  <a href="." class="btn btn-sm btn-info"><span style="color: white!important">View Pending reports</span></a>
  <a href="?status=3" class="btn btn-sm btn-danger"><span style="color: white!important">View Accepted reports</span></a>
  <a href="?status=0" class="btn btn-sm btn-success"><span style="color: white!important">View Rejected reports</span></a>
  </div>
  <br>
  {% if reports %}
  <table class="table table-bordered">
    <tr>
      <th>Reported</th>
      <th>By / Status</th>
      <th>Messages</th>
      <th style="max-width: 250px;">Moderate</th>
    </tr>
    {% for report in reports %}
    <tr class="{% if report.status == 0 %}success{% elif report.status == 3 %}danger{% elif report.status == 2 %}warning{% else %}info{% endif %}" data-fake-thing="{% if report.fake_account %}account{{ report.fake_account.id }}{% elif report.fake_eventparticipation %}eventparticipation{{ report.fake_eventparticipation.id }}{% elif report.fake_user %}user{{ report.fake_user_id }}{% elif report.fake_activity %}activity{{ report.fake_activity_id }}{% endif %}">
      <td>
        {% if report.fake_account %}
        <h4>Fake account</h4>
        <a href="/user/{{ report.fake_account.owner.username }}/#{{ report.fake_account.id }}" target="_blank">{{ report.fake_account }}</a><br>
        Rank {{ report.fake_account.rank }}<br>
        {% if report.fake_account.verification %}
        <span class="verified{{ report.fake_account.verified }}">
	  <i class="flaticon-star"></i>
	  {{ report.fake_account.verified|verifiedToString }}
        </span>
        {% endif %}
        {% endif %}
        {% if report.fake_eventparticipation %}
        <h4>Fake event participation</h4>
        <img src="{% eventimageurl event=report.fake_eventparticipation.event %}" class="img-responsive" width="200">
        <a href="/user/{{ report.fake_eventparticipation.account.owner.username }}/#{{ report.fake_eventparticipation.account.id }}" target="_blank">{{ report.fake_eventparticipation.account }}</a><br>
        Event Rank: {{ report.fake_eventparticipation.ranking }}<br>
        Event Points: {{ report.fake_eventparticipation.points }}<br>
        Event Song Rank: {{ report.fake_eventparticipation.song_ranking }}<br>
        {% endif %}
	{% if report.fake_activity %}
        <h4>Problem with activity</h4>
	{% load markdown_deux_tags %}
	{% with activity=report.fake_activity %}
	<a href="{{ activity.account_link }}" target="_blank">
	  <img src="{{ activity.account_picture }}" alt="Avatar" width="50" class="avatar">
	  {{ activity.account_name }}
	</a><br>
	<div style="max-width: 160px">
	  {% if activity.message == 'Custom' %}{{ activity.message_data|markdown }}{% else %}{{ activity.message }} {{ activity.message_data }}{% endif %}
	</div>
	<a href="/activities/{{ activity.id }}/" target="_blank">Open activity</a>
	{% endwith %}
	{% endif %}
	{% if report.fake_user %}
        <h4>Problem with user</h4>
	{% include 'include/avatar.html' with av_user=report.fake_user av_size=20 av_image_size=100 av_link=True av_external=True av_username=True %}
	{% endif %}
      </td>
      <td>
        Reported by:<br>
        {% if report.reported_by %}
        {% include 'include/avatar.html' with av_user=report.reported_by av_fixed=True av_size=100 av_image_size=100 av_link=True av_external=True av_username=True %}
        {% else %}
        Anonymous
        {% endif %}
        <br><br>
        {{ report.status|reportStatusToString }}
      </td>
      <td>
        <dl>
          <dt>Report ID:</dt>
          <dd>{{ report.id }}</dd>
          <dt>Reporter message:</dt>
          <dd>
            {% if report.comment %}<p class="well">{{ report.comment }}</p>{% else %}No message{% endif %}
          </dd>
          <dt>Report date:</dt>
          <dd>
            {{ report.creation }}
          </dd>
          <dt>Reporter images:</dt>
          <dd>
            {% if report.report_images %}
            {% for image in report.report_images %}
            <a href="{{ image.image|userimage }}" target="_blank"><img src="{{ image.image|userimage }}" width="100"></a>
	    {% endfor %}{% else %}No images{% endif %}
          </dd>
          {% if report.status == 3 or report.status == 0 %}
          {% if report.moderated_by %}
          <dt>Moderated by:</dt>
          <dd>
            <a href="/user/{{ report.moderated_by.username }}/" target="_blank">
              {{ report.moderated_by.username }}
            </a>
          </dd>
          <dt>Moderation date:</dt>
          <dd>
            {{ report.moderation_date }}
          </dd>
          <dt>Moderation message:</dt>
          <dd>
            {% if report.moderation_comment %}<p class="well">{{ report.moderation_comment }}</p>{% else %}No message{% endif %}
          </dd>
          {% endif %}
        </dl>
        {% endif %}
      </td>
      <td data-report-id="{{ report.id }}" style="max-width: 250px;">
        {% if report.status != 3 and report.status != 0 %}
        {% if report.reported_by == user %}
        You can't moderate your own reports.<br>
        This is to ensure that at least 2 moderators check that the {% if report.fake_account %}account is fake{% elif report.fake_eventparticipation %}event participation is fake{% elif report.fake_user %}user has done something wrong{% elif report.fake_activity %}activity has a problem{% endif %} or not.
        {% else %}
        <ul>
          <li><strong>Never accept or reject a report without checking first {% if report.fake_account or report.fake_eventparticipation %}using your own game{% else %}by opening the profile/activity, comments, etc{% endif %} or screenshots.</strong>{% if report.fake_account %}
            <ul>
              <li><i>Enter the friend ID in your game to check the rank</i></li>
              <li><i>Look at the bonded members</i></li>
            </ul>{% endif %}{% if report.fake_user %}
            <ul>
              <li><i>ALWAYS write an explanation of the reason why they got reported before accepting</i></li>
              <li><i>If an avatar, a profile description, a profile link or a comment needs to be deleted or edited, contact the administrators before accepting this report.</i></li>
            </ul>{% endif %}
          </li>
          <li>If you can't say for sure that it's {% if report.fake_account or report.fake_eventparticipation %}fake{% else %}a problem{% endif %} or not, leave it and someone else will take care of it.</li>
          <li>You may also ask the other staff members if you're not sure.</li>
        </ul>
        <textarea class="form-control" placeholder="Your message to the owner of the reported {% if report.fake_account %}account{% elif report.fake_eventparticipation %}event participation{% elif report.fake_user %}user{% elif report.fake_activity %}activity{% endif %}{% if not report.fake_user %} (optional){% else %} (REQUIRED){% endif %}"></textarea><br>
        <p class="textarea-check" style="display: none">Be friendly and check your grammar and spelling.</p>
        <button data-href="/ajax/staff/report/{{ report.id }}/accept/" class="btn btn-block btn-danger accept-report">Accept this report<br><small>Will {% if report.fake_account %}mark this account as fake,<br>notify the reporter<br>and suggest the owner to get verified{% elif report.fake_eventparticipation %} delete this event participation<br>and notify the owner by email{% elif report.fake_user %}send a warning to the user<br>(NOT delete it - if it has to be deleted<br>talk to an admin){% elif report.fake_activity %}delete this activity and all its comments/likes<br>and notify the owner by email{% endif %}</small></button>
        <button data-href="/ajax/staff/report/{{ report.id }}/reject/" class="btn btn-block btn-success reject-report">Reject this report<br><small>Will reject this report,<br>nobody gets notified</small></button>
        {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="alert alert-info">
    No results.
  </div>
  {% endif %}
  <ul class="pager">
    {% if page > 1 %}
    <li><a href="{{ current_url|previouspage:page }}">Previous</a></li>
    {% endif %}
    <li><a href="{{ current_url|nextpage:page }}">Next</a></li>
  </ul>

  {% include 'disqus.html' with disqus_identifier='staff-reports' %}
</div>
{% endblock %}
