{% extends "base.html" %}
{% load imageurl %}
{% load choicesToString %}
{% load i18n %}

{% block title %}{% trans 'UR Pairs' %}{% endblock %}
{% block content %}
<div id="ur_pairs" class="margin50">
  <h1 class="padding50 text-center" style="margin-bottom: 20px"><span class="fontx1-5" style="display: block;">{% trans 'UR Pairs' %} <small>{{ total }}</small></span></h1>
  {% for name, collection in collections.items %}
  <h3>{{ name }}</h3>
  <div class="table-responsive">
    <table class="table table-bordered">
      {% for idol_name, cards in collection.items %}
      <tr>
	{% for _, pair in cards.items %}
	<td style="width: 11.1111%; vertical-align: middle; min-width: 100px">
	  {% if pair %}
	  {% for card in pair %}{% if card %}<a href="{{ card.url }}" target="_blank"><img src="{% cleanurl card=card small=True idolized=card.idolized %}" alt="{{ card }}" onerror="this.onerror=null;this.src=this.src.replace('small_', '');"></a>{% else %}<img src="//i.schoolido.lu/static/small_{% if pair.0 and not pair.1 or pair.1 and not pair.0 %}question_card_{% endif %}back.png" alt="{% trans 'Unknown' %}" style="width: 50%; opacity: 0.2">{% endif %}{% endfor %}
	  {% else %}
	  <div class="text-center">
	    <a href="/idol/{{ idol_name|urlencode }}/" target="_blank">
	      <img src="{% chibiimage force_artist='klab' force_first=True idol=idol_name small=False %}">
	    </a>
	  </div>
	  {% endif %}
	</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
</div>
<br><br><br>
<div class="container">
  {% include 'disqus.html' with disqus_identifier='urpairs' %}
</div>
{% endblock %}
