{% extends "base.html" %}

{% block title %}Players{% endblock %}

{% block content %}

{% load mod %}

<div class="container">
  <h1 class="text-center margin50">Players</h1>
  <div class="row">
    {% for i, user in users %}
    {% if i|mod:3 %}
  </div><div class="row">
    {% endif%}
    <div class="col-sm-{% if total_users == 1 %}12{% elif total_users == 2 %}6{% else %}4{% endif %}">
      {% with user.accounts|length as length %}
      <a href="/user/{{ user.username }}" class="panel panel-Smile" style="display: block;">
	<div class="panel-heading">
	  <h3 class="padding-novertical margin-novertical">{{ user }}</h3>
	</div>
	<div class="panel-body">
	  {% if length == 0 %}
	  <h5 class="margin20">No account.</h5>
	  {% else %}
	  <h5 class="padding20 padding-novertical">{{ length }} account{% if length > 1 %}s{% endif %}:</h5>
	  <table class="table margin-novertical">
	    {% for account in user.accounts %}
	    <tr>
	      <td>
		{% if account.center %}
		<div class="circled_card_30 {{ account.center.card.attribute }} {{ account.center.card.rarity }} pull-left margin5"
		     style="background-image: url('{% if not card.idolized and account.center.card.card_url %}{{ account.center.card.card_url }}{% else %}{{ account.center.card.card_idolized_url}}{% endif %}')"></div>
		{% endif %}
		<h4 class="padding20 padding-novertical">{{ account }}</h4>
	      </td>
	      <td>
		{{ account.rank }}
	      </td>
	    </tr>
	    {% endfor %}
	  </table>
	  {% endif %}
	</div>
      </a>
      {% endwith %}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
