{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Players' %}{% endblock %}

{% block js %}
<script src="/static/js/users.js"></script>
{% endblock %}

{% block shareimage %}http://schoolido.lu/static/screenshots/players.png{% endblock %}
{% block shareimagetwitter %}http://schoolido.lu/static/screenshots/players.png{% endblock %}

{% block content %}

<div class="container" id="users">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 class="text-center margin50">{% trans 'Players' %} <small>{{ total_results }}</small></h1>
      <div class="jumbotron">
	<form method="get" class="noform">
	  {% include "bootstrap_form_horizontal.html" with form=form wrap=0 %}
	  <div class="text-right submitarea">
	    <button type="submit" class="btn btn-Cool btn-sm" data-form-loader="true">{% trans 'Search' %}</button>
	  </div>
	</form>
      </div><br>
    </div>
    <div class="col-md-3">
      <div class="margin50 margin-nohorizontal text-right">
	<a href="/map/" class="btn btn-Cool"><i class="flaticon-world"></i> {% trans 'Map' %}</a><br><br>
      </div>
    </div>
  </div>

  {% include 'usersPage.html' %}

</div>

{% endblock %}
