{% if accounts %}
{% load i18n %}
{% load mod %}
{% load times %}
{% load imageurl %}
{% load choicesToString %}
{% load pagination %}
{% if show_search_results and total_results > 0 and not ajax %}
<h4 class="padding20 nomargin">
  {% blocktrans count counter=total_results %}{{ counter }} account matches your search:{% plural %}{{ counter }} accounts match your search:{% endblocktrans %}
</h4>
{% endif %}
<div class="row">
  {% for account in accounts %}
  {% with user=account.owner %}
  {% if forloop.counter0|mod:3 %}
</div><div class="row">
  {% endif %}
  <div class="col-lg-{% if total_results == 1 %}12{% elif total_results == 2 %}6{% else %}4{% endif %}">
    <div class="panel panel-{% if user.preferences.color %}{{ user.preferences.color }}{% else %}default{% endif %}">
      <div class="panel-heading">
	<div class="pull-right">
	  {% include 'include/avatar.html' with av_user=user av_size=30 av_image_size=50 %}
	</div>
	<h3 class="padding-novertical margin-novertical"><div class="text"> <a href="/user/{{ user.username }}/">{% if ordering == 'rank' %}{% if page == 1 and forloop.counter <= 3 %}<img src="/static/medal{{ forloop.counter }}.png" class="img-responsive" style="height: 100px; margin: -38px;" alt="{{ forloop.counter }}">{% else %}# {% globalposition position=forloop.counter %}{% endif %}{% else %}{{ account }}{% endif %}</a></div></h3>
      </div>
      <div class="panel-body">
	<div class="padding10"{% if account.verified > 0 and account.verified < 3%} data-content="{{ account.verified|verifiedToString }}" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"{% endif %}>
	  <div class="row">
	    <div class="col-xs-8">
	      <a href="/user/{{ user.username }}/#{{ account.pk }}" target="_blank">
		{% if account.center %}
		{% include 'ownedcard.html' with card=account.center nolink=True size=70 classes='pull-left margin10' no_details=True %}
		{% endif %}
	      </a>
	      <div class="padding20 padding-novertical">
		<a href="/user/{{ user.username }}/#{{ account.pk }}" target="_blank">
		  <h4 class="padding-novertical">{{ account }}
		    <i class="flaticon-{{ account.language }}"></i>
		  </h4>
		</a>
		<small class="text-muted">{% trans 'by' %}</small>
		<a href="/user/{{ user.username }}/" target="_blank">{{ user.username }}</a>
	      </div>
	      <div class="text-right">
		<small><a href="http://schoolido.lu/user/{{ user.username }}/#disqus_thread">{% trans 'Comments' %}</a></small>
	      </div>
	    </div>
	    <div class="col-xs-4 fontx2 text-right">
	      <div class="padding20">
		{% if account.rank %}
		{{ account.rank }}
		{% endif %}
		{% if account.verified > 0 and account.verified < 3 %}
		<span class="verified{{ account.verified }}"><i class="flaticon-star"></i></span>
		{% endif %}
	      </div>
	    </div>
	  </div>
	</div>
      </div> <!-- panel-body -->
    </div><!-- panel -->
    <br>
  </div> <!-- col -->
  {% endwith %}
{% endfor %}
</div> <!-- row -->

  <nav id="load_more" data-next-page="{{ page|add:1 }}">
    <ul class="pagination pagination-sm">
      <li class="{% if page == 1 %}disabled{% endif %}"><a href="{{ current_url|previouspage:page }}">&laquo;</a></li>
      {% for i in total_pages|times %}
      <li class="{% if page == i|add:1 %}active{% endif %}"><a href="{{ current_url|nextpage:i }}">{{ i|add:1 }}</a></li>
      {% endfor %}
      <li class="{% if page == total_pages %}disabled{% endif %}"><a href="{{ current_url|nextpage:page }}">&raquo;</a></li>
    </ul>
  </nav>
{% endif %}
