{% extends "base.html" %}
{% load i18n %}
{% load imageurl %}
{% load choicesToString %}

{% block title %}{% trans 'Players' %}{% endblock %}

{% block js %}
<script src="{{ static_url }}static/js/users.js?1"></script>
<script src="{{ static_url }}static/bower/CuteForm/cuteform.js"></script>
<script>
  cuteform($('#id_attribute'), {
    'images': {
      '': '{{ static_url }}static/empty.png',
      {% for i, attribute in filter_form.fields.attribute.choices %}
      {% if i != '' %}
      '{{ i }}': '{{ static_url }}static/{{ i }}.png',
      {% endif %}
      {% endfor %}
    }
  });
  cuteform($('#id_center_attribute'), {
    'images': {
      '': '{{ static_url }}static/empty.png',
      {% for i, attribute in filter_form.fields.attribute.choices %}
      {% if i != '' %}
      '{{ i }}': '{{ static_url }}static/{{ i }}.png',
      {% endif %}
      {% endfor %}
    }
  });
  cuteform($('#id_center_rarity'), {
    'images': {
      '': '{{ static_url }}static/empty.png',
      {% for rarity, _ in filter_form.fields.center_rarity.choices %}
      {% if rarity != '' %}
      '{{ rarity }}': '{{ static_url }}static/{{ rarity }}{% if interfaceColor %}{% if interfaceColor == 'default' %}Smile{% else %}{{ interfaceColor }}{% endif %}{% else %}Smile{% endif %}.png',
      {% endif %}
      {% endfor %}
    }
  });
  cuteform($('#id_best_girl'), {
    'modal': 'true',
    'modal-text': 'true',
    'images': {
      {% for idol, str in filter_form.fields.best_girl.choices %}
      {% if idol == '' %}'': '{{ static_url }}static/empty.png',{% else %}'{{ idol|escapejs }}': '{% chibiimage idol=idol small=True %}',{% endif %}
      {% endfor %}
  }
  });
  cuteform($('#id_private'), {
    'html': {
      '1': '{% trans 'All' %}',
      '2': '{% trans 'Only' %}',
      '3': '{% trans 'None' %}',
    }
  });
  cuteform($('#id_status'), {
    'html': {
      '': '{% trans 'All' %}',
      'only': '{% trans 'Only' %}',
      {% for status, str in filter_form.fields.status.choices %}
      {% if status != '' and status != 'only' %}
      '{{ status }}': '{% if status != 'THANKS' %}<i class="flaticon-heart white-shadow" style="color: {{ status|userStatusToColor }}"></i> {% endif %}{% trans status|userStatusToString %}',
      {% endif %}
      {% endfor %}
    }
  });
  cuteform($('#id_language'), {
    'html': {
      '': '{% trans 'All' %}',
      {% for language, str in filter_form.fields.language.choices %}
      {% if language != '' %}
      '{{ language }}': '<i class="flaticon-{{ language }}"></i>',
      {% endif %}
      {% endfor %}
    }
  });
  cuteform($('#id_play_with'), {
    'html': {
      {% for play_with, str in filter_form.fields.play_with.choices %}
      '{{ play_with }}': '{% if play_with == '' %}{% trans 'All' %}{% elif play_with == 'Thumbs' %}<i class="flaticon-thumbs"></i>{% elif play_with == 'Fingers' or play_with == 'Hand' %}<i class="flaticon-fingers"></i>{% elif play_with == 'Index' %}<i class="flaticon-index"></i>{% elif play_with == 'Other' %}<i class="flaticon-sausage"></i>{% endif %} {% if play_with != '' %}{{ play_with|playWithToString }}{% endif %}',
      {% endfor %}
    }
  });
  cuteform($('#id_os'), {
    'html': {
      '': '{% trans 'All' %}',
      {% for os, str in filter_form.fields.os.choices %}
      {% if os != '' %}
      '{{ os }}': '<i class="flaticon-{{ os }}"></i>',
      {% endif %}
      {% endfor %}
    }
  });
  cuteform($('#id_verified'), {
    'html': {
      '': '{% trans 'All' %}',
      '0': '{% trans 'None' %}',
      '3': '{% trans 'Only' %}',
      {% for verified, str in filter_form.fields.verified.choices %}
      {% if verified != '' and verified != 0 and verified != 3 %}
      '{{ verified }}': '<i class="flaticon-star fontx1-2 white-shadow verified{{ verified }}"></i> {{ verified|verifiedToString }}',
      {% endif %}
      {% endfor %}
    }
  });
  cuteform($('#id_accept_friend_requests'), {
    'html': {
      '1': '{% trans 'All' %}',
      '2': '{% trans 'Yes' %}',
      '3': '{% trans 'No' %}',
    }
  });
  cuteform($('#id_with_friend_id'), {
    'html': {
      '1': '{% trans 'All' %}',
      '2': '{% trans 'Yes' %}',
      '3': '{% trans 'No' %}',
    }
  });
</script>
{% endblock %}

{% block shareimage %}{{ static_sharing_url }}static/screenshots/players.png{% endblock %}
{% block shareimagetwitter %}{{ static_sharing_url }}static/screenshots/players.png{% endblock %}

{% block content %}

<div id="wrapper" class="{% if show_filter_bar %}active{% endif %}">
  {% include 'include/filterbar.html' %}
  <div id="page-content-wrapper">
    <a href="#" id="togglebutton" class="{% if interfaceColor %}{{ interfaceColor }}{% else %}default{% endif %}">
      <i class="flaticon-search"></i>
      <i class="flaticon-toggler hidder"></i>
    </a>
    <div id="users">
      {% include "usersPage.html" %}
    </div>
  </div> <!-- page-content-wrapper -->
</div> <!-- wrapper -->

{% endblock %}
