{% extends "base.html" %}
{% load i18n %}
{% load mod %}
{% load random_int %}

{% block title %}μ'sical Trio Festival{% endblock %}

{% block shareimage %}http://schoolido.lu/static/usicaltriofestival.png{% endblock %}
{% block shareimagetwitter %}http://schoolido.lu/static/usicaltriofestival.png{% endblock %}

{% block js %}
{% if not ended %}
<script src="/static/bower/countdown/dest/jquery.countdown.min.js"></script>
<script>
  var countdowndate = "April 3, 2016 21:00:00 -0800";
  function countdownRender(data) {
  $(this.el).text(data.days + ' {% trans 'days' %}, ' + data.hours + ' {% trans 'hours' %}, ' + data.min + ' {% trans 'minutes' %}, ' + data.sec + ' {% trans 'seconds left' %}');
  }
  $('#countdown').countdown({
  date: countdowndate,
  render: countdownRender
  });
</script>
{% endif %}
{% endblock %}

{% block content %}
<div id="contest-page" style="background-image: url('/static/background{{ 0|random_int:total_backgrounds }}.jpg');">
  <div class="container text-center">
    <h1 class="margin50">
      {% if is_fes_staff and not ended %}
      <small>Staff only: <a href="?{% if not view_ranking %}view_ranking{% endif %}">{% if view_ranking %}Hide{% else %}View{% endif %} ranking</a></small>
      {% endif %}
      <img src="/static/usicaltriofestival.png" class="img-responsive">
      <span class="hidden">μ'sical Trio Festival</span>
    </h1>
    <iframe style="width: 100%" height="550" src="http://www.youtube.com/embed/jhrbxYQ2kvM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <div class="text-right">
      <a href="https://docs.google.com/document/d/1xASQ8dRHXYAbAjz59NnvrUHjY295_4Qdsep9VQNXE9s/edit" target="_blank">{% trans 'Learn more' %}</a>
    </div>
    {% if not ended %}<h2 id="countdown"></h2>{% endif %}
    {% if error %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
    {% endif %}
    {% if view_ranking %}
    <h4>Total votes: {{ total_votes }}</h4>
    {% endif %}
    <div class="row">
      {% for entry in entries %}
      {% if forloop.counter0|mod:3 %}
    </div><div class="row">
      {% endif %}
      <div class="col-md-4">
	<div class="panel panel-{{ btnColor }}">
	  <div class="panel-body">
	    {{ entry.4|safe }}
	    <h4>{{ entry.1 }}
	      <br><small>
		{% if entry.3 %}
		<a href="/songs/{{ entry.2|urlencode }}/" target="_blank">
		  {% endif %}
		  {{ entry.2 }}
		  {% if entry.3 %}
		</a>
		{% endif %}
	      </small>
	    </h4>
	  </div>
	  <div class="panel-footer">
	    {% if view_ranking %}
	    #{{ forloop.counter }} with {{ entry.5 }} votes
	    {% if your_vote and your_vote.entry == entry.0 %}
	    <br>You voted for this group.
	    {% endif %}
	    {% else %}
	    {% if not your_vote %}
	    {% if user.is_authenticated %}
	    <form method="POST" class="text-right">
	      {% csrf_token %}
	      <input type="hidden" name="entry" value="{{ entry.0 }}">
	      <button type="submit" class="btn btn-{{ btnColor }}">
		<i class="flaticon-promo"></i>
		{% trans 'Vote' %}
	      </button>
	    </form>
	    {% else %}
	    <div class="text-right">
	      <a href="/create/?next=/μsicaltriofestival/" class="btn btn-{{ btnColor }}">
		<i class="flaticon-promo"></i>
		{% trans 'Vote' %}
	      </a>
	    </div>
	    {% endif %}
	    {% elif your_vote.entry == entry.0 %}
	    You voted for this group.
	    <form method="POST" style="display: inline-block">
	      {% csrf_token %}
	      <input type="submit" name="cancel" value="{% trans 'Cancel' %}" class="btn btn-danger btn-xs">
	    </form>
	    {% else %}
	    <span class="text-muted">Already voted.</span>
	    {% endif %}
	    {% endif %}
	  </div> <!-- panel-footer -->
	</div> <!-- panel -->
	<br><br>
      </div> <!-- col -->
      {% endfor %}
    </div> <!-- row -->
    <br><br><br>
    {% include 'disqus.html' %}
  </div> <!-- container -->
</div> <!-- background -->
{% endblock %}
