{% extends 'emails/base.html' %}
{% load i18n %}
{% block subject %}{% trans 'Password reset' %}{% endblock %}
{% block headersubject %}{% trans 'Password reset' %}{% endblock %}
{% block content %}
					{{ user.get_username }},
					<br><br>

					{% with site_name='School Idol Tomodachi' %}
					{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
					{% endwith %}

					<br><br>
					
					{% trans "Please go to the following page and choose a new password:" %}
{% endblock %}
{% block actionbuttontitle %}{% trans 'Password reset' %}{% endblock %}
{% block actionbuttonalt %}{% trans 'Password reset' %}{% endblock %}
{% block actionlink %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}
