@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-activities:before {
	content: "\e000";
}
.flaticon-add:before {
	content: "\e001";
}
.flaticon-album:before {
	content: "\e002";
}
.flaticon-back:before {
	content: "\e003";
}
.flaticon-contact:before {
	content: "\e004";
}
.flaticon-checked:before {
	content: "\e005";
}
.flaticon-CH:before {
	content: "\e006";
}
.flaticon-developer:before {
	content: "\e007";
}
.flaticon-settings:before {
	content: "\e008";
}
.flaticon-date:before {
	content: "\e009";
}
.flaticon-deck:before {
	content: "\e00a";
}
.flaticon-delete:before {
	content: "\e00b";
}
.flaticon-world:before {
	content: "\e00c";
}
.flaticon-edit:before {
	content: "\e00d";
}
.flaticon-event:before {
	content: "\e00e";
}
.flaticon-empty-star:before {
	content: "\e00f";
}
.flaticon-link:before {
	content: "\e010";
}
.flaticon-filter:before {
	content: "\e011";
}
.flaticon-center:before {
	content: "\e012";
}
.flaticon-heart:before {
	content: "\e013";
}
.flaticon-help:before {
	content: "\e014";
}
.flaticon-id:before {
	content: "\e015";
}
.flaticon-about:before {
	content: "\e016";
}
.flaticon-JP:before {
	content: "\e017";
}
.flaticon-logout:before {
	content: "\e018";
}
.flaticon-max-bond:before {
	content: "\e019";
}
.flaticon-max-level:before {
	content: "\e01a";
}
.flaticon-more:before {
	content: "\e01b";
}
.flaticon-users:before {
	content: "\e01c";
}
.flaticon-present:before {
	content: "\e01d";
}
.flaticon-profile:before {
	content: "\e01e";
}
.flaticon-hp:before {
	content: "\e01f";
}
.flaticon-promo:before {
	content: "\e020";
}
.flaticon-skill:before {
	content: "\e021";
}
.flaticon-cards:before {
	content: "\e022";
}
.flaticon-KR:before {
	content: "\e023";
}
.flaticon-star:before {
	content: "\e024";
}
.flaticon-idolized:before {
	content: "\e025";
}
.flaticon-EN:before {
	content: "\e026";
}
