	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/03/2016 18:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./flaticon.eot?3");
  src: url("./flaticon.eot?3#iefix") format("embedded-opentype"),
       url("./flaticon.woff?3") format("woff"),
       url("./flaticon.ttf?3") format("truetype"),
       url("./flaticon.svg?3#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-about:before { content: "\f100"; }
.flaticon-achievement:before { content: "\f101"; }
.flaticon-activities:before { content: "\f102"; }
.flaticon-add:before { content: "\f103"; }
.flaticon-album:before { content: "\f104"; }
.flaticon-android:before { content: "\f105"; }
.flaticon-back:before { content: "\f106"; }
.flaticon-cards:before { content: "\f107"; }
.flaticon-center:before { content: "\f108"; }
.flaticon-checked:before { content: "\f109"; }
.flaticon-CN:before { content: "\f10a"; }
.flaticon-combo:before { content: "\f10b"; }
.flaticon-comments:before { content: "\f10c"; }
.flaticon-contact:before { content: "\f10d"; }
.flaticon-contest:before { content: "\f10e"; }
.flaticon-date:before { content: "\f10f"; }
.flaticon-deck:before { content: "\f110"; }
.flaticon-delete:before { content: "\f111"; }
.flaticon-developer:before { content: "\f112"; }
.flaticon-edit:before { content: "\f113"; }
.flaticon-EN:before { content: "\f114"; }
.flaticon-event:before { content: "\f115"; }
.flaticon-filter:before { content: "\f116"; }
.flaticon-fingers:before { content: "\f117"; }
.flaticon-healer:before { content: "\f118"; }
.flaticon-heart:before { content: "\f119"; }
.flaticon-heart-empty:before { content: "\f11a"; }
.flaticon-help:before { content: "\f11b"; }
.flaticon-hp:before { content: "\f11c"; }
.flaticon-id:before { content: "\f11d"; }
.flaticon-idolized:before { content: "\f11e"; }
.flaticon-index:before { content: "\f11f"; }
.flaticon-iOs:before { content: "\f120"; }
.flaticon-JP:before { content: "\f121"; }
.flaticon-KR:before { content: "\f122"; }
.flaticon-link:before { content: "\f123"; }
.flaticon-loading:before { content: "\f124"; }
.flaticon-logout:before { content: "\f125"; }
.flaticon-max-bond:before { content: "\f126"; }
.flaticon-max-level:before { content: "\f127"; }
.flaticon-more:before { content: "\f128"; }
.flaticon-pause:before { content: "\f129"; }
.flaticon-perfectlock:before { content: "\f12a"; }
.flaticon-pictures:before { content: "\f12b"; }
.flaticon-play:before { content: "\f12c"; }
.flaticon-present:before { content: "\f12d"; }
.flaticon-profile:before { content: "\f12e"; }
.flaticon-promo:before { content: "\f12f"; }
.flaticon-sausage:before { content: "\f130"; }
.flaticon-scoreup:before { content: "\f131"; }
.flaticon-search:before { content: "\f132"; }
.flaticon-settings:before { content: "\f133"; }
.flaticon-shop:before { content: "\f134"; }
.flaticon-skill:before { content: "\f135"; }
.flaticon-song:before { content: "\f136"; }
.flaticon-star:before { content: "\f137"; }
.flaticon-star-empty:before { content: "\f138"; }
.flaticon-thumbs:before { content: "\f139"; }
.flaticon-times:before { content: "\f13a"; }
.flaticon-toggler:before { content: "\f13b"; }
.flaticon-trade:before { content: "\f13c"; }
.flaticon-trophy:before { content: "\f13d"; }
.flaticon-TW:before { content: "\f13e"; }
.flaticon-users:before { content: "\f13f"; }
.flaticon-warning:before { content: "\f140"; }
.flaticon-world:before { content: "\f141"; }