{% extends "base.html" %}
{% load formattime %}
{% load imageurl %}
{% load i18n %}
{% load random_int %}
{% load mod %}

{% block shareimage %}http://schoolido.lu/static/screenshots/contest.png{% endblock %}
{% block shareimagetwitter %}http://schoolido.lu/static/screenshots/contest.png{% endblock %}

{% block title %}{% if contest.id != global_contest_id %}{{ contest.name }}{% else %}{% trans 'The ultimate battle between School Idols' %}{% endif %}{% endblock %}

{% block js %}
<script src="/static/js/contest_vote.js"></script>
<script src="/static/bower/countdown/dest/jquery.countdown.min.js"></script>
{% if contest.id != global_contest_id %}
<script src="/static/js/contest_countdown.js"></script>
{% endif %}
{% endblock %}

{% block content %}

<div id="contest-page" style="background-image: url('/static/background{{ 0|random_int:total_backgrounds }}.jpg');">
  <div class="container">
    <h1 class="text-{{ btnColor }}">
      {{ contest.name }}
      {% if contest.begin %}<br><small>
	{{ contest.begin|formattime:'%B %d' }} - {{ contest.end|formattime:'%B %d' }}
	{% if contest.id != global_contest_id %}
	<br>
	<span id="countdown" style="display: block; font-size: 0.6em">
	  <script>
	    var countdowndate = "{{ contest.end|formattime:"%B %d, %Y %H:%M:%S +0000" }}";
	  </script>
	</span>
	{% endif %}
      </small>
      {% endif %}
    </h1>

    <form method="post">
      {% csrf_token %}
      <div class="row">
	<div class="col-md-6">
	  <button type="submit" class="panel panel-{{ btnColor }} card" name="left" value="left" id="left">
	    <div class="panel-body">
	      <img src="{% if cards.left.card.card_image and not cards.left.idolized %}{% imageurl card=cards.left.card image='card_image' %}{% else %}{% imageurl card=cards.left.card image='card_idolized_image' %}{% endif %}">
	    </div>
	    <div class="panel-heading">
	      <strong>#{{ cards.left.card.id }} {{ cards.left.card.name|shortname }} {% if contest.id == 37 %}is meh...{% else %}{% trans 'is BEST' %}{% endif %}</strong>
	    </div>
	  </button> <!-- panel -->
	  <div class="link left"><a class="text-center" href="/cards/{{ cards.left.card.id }}/" target="_blank">{% trans 'About this card' %}</a></div>
	  <br><br>
	</div> <!-- col -->
	<div class="col-md-6">
	  <button type="submit" class="panel panel-{{ btnColor }} card" value="right" name="right" id="right">
	    <div class="panel-body">
	      <img src="{% if cards.right.card.card_image and not cards.right.idolized %}{% imageurl card=cards.right.card image='card_image' %}{% else %}{% imageurl card=cards.right.card image='card_idolized_image' %}{% endif %}">
	    </div>
	    <div class="panel-heading">
	      <strong>#{{ cards.right.card.id }} {{ cards.right.card.name|shortname }} {% if contest.id == 37 %}is meh...{% else %}{% trans 'is BEST' %}{% endif %}</strong>
	    </div>
	  </button> <!-- panel -->
	  <div class="link right"><a class="text-center" href="/cards/{{ cards.right.card.id }}/" target="_blank">{% trans 'About this card' %}</a></div>
	  <br><br>
	</div> <!-- col -->
      </div> <!-- row -->
      <input type="hidden" name="token" value="{{ token }}"/>
    </form>

    <br><br>
    <div class="text-center">
      <div class="row">
	{% if contest.id != global_contest_id %}
	<div class="col-md-4">
	  <a href="/contest/collection/{{ contest.id }}/{{ contest.name|tourldash }}/" class="btn btn-block btn-{{ btnColor }} btn-xl">
	    <i class="flaticon-album"></i>
	    {% trans 'Collection' %}
	  </a>
	</div>
	{% endif %}
	<div class="col-md-{% if contest.id == global_contest_id %}12{% else %}8{% endif %}">
	  <a href="{% if contest.id != global_contest_id %}/contest/result/{{ contest.id }}/{{ contest.name|tourldash }}/{% else %}/contest/best/{% endif %}" class="btn btn-block btn-{{ btnColor }} btn-xl">
	    <i class="flaticon-contest"></i>
	    {% trans 'Ranking' %}
	  </a>
	</div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
