{# interfaceColor filter_form #}
{# filter_form has to contain the fields: search, ordering and reverse_order #}
{% load i18n %}
{% load mod %}
{% load getattribute %}
<nav id="sidebar-wrapper" class="{% if interfaceColor %}{{ interfaceColor }}{% else %}default{% endif %}">
    <form method="GET">
      <h4>{% trans 'Search' %}</h4>
      <div class="section search">
	{{ filter_form.search }}
      </div>
      {% if filter_form.ordering %}
      <h4>{% trans 'Order' %}</h4>
      <div class="section order">
	{{ filter_form.ordering }}
	<br>
	<div>
	  <div class="pull-right">
	    {{ filter_form.reverse_order }}
	  </div>
	  <label for="{{ filter_form.reverse_order.id_for_label }}">{{ filter_form.reverse_order.label }}</label>
	</div>
      </div>
      {% endif %}
      <h4>{% trans 'Filter' %}{% if current == 'users' %}: {% trans 'Players' %}{% endif %}</h4>
      <div class="section filter">
	{% for field in filter_form.fields %}
	{% if current == 'users' and field == 'language' %}
      </div>
      </div>
      <h4>{% trans 'Filter' %}{% if current == 'users' %}: {% trans 'Accounts' %}{% endif %}</h4>
      <div class="section filter">
	{% elif current == 'users' and field == 'best_girl' or field == 'center_attribute' %}
	<div class="text-right">
	  <a href="#morefilters{% if field == 'center_attribute' %}accounts{% endif %}" class="btn btn-{% if not interfaceColor or interfaceColor == 'default' %}Smile{% else %}{{ interfaceColor }}{% endif %} btn-sm" data-toggle="collapse"><i class="flaticon-more"></i></a>
	</div>
	<div id="morefilters{% if field == 'center_attribute' %}accounts{% endif %}" class="collapse">
	{% endif %}
	{% if field != 'search' and field != 'ordering' and field != 'reverse_order' %}
	{% with f=filter_form|getattribute:field %}
	{% if f|is_boolean %}
	<div>
	  <div class="pull-right">{{ f }}</div>
	  <label for="id_is_world"><i class="flaticon-world"></i> {% trans f.label %}</label>
	</div>
	{% else %}
	<label for="{{ f.id_for_label }}">{{ f.label }}</label><br>
	{{ f }}<br>
	{% endif %}<br>
	{% endwith %}
	{% endif %}
	{% endfor %}
	{% if current == 'users' %}</div>{% endif %}
      </div>
      <div class="section submit">
	<button type="submit" class="btn btn-{% if not interfaceColor or interfaceColor == 'default' %}Smile{% else %}{{ interfaceColor }}{% endif %} btn-block" data-form-loader="true">{% trans 'Go' %}</button>
	<br><br><br><br><br>
      </div>
{% if current == 'songs' %}
    <br>
    <hr>
    <br>
    <div class="text-center">
      <a href="http://imgur.com/a/3MQBP" target="_blank">
	<img src="{{ static_url }}special/treasure.png" width="200">
      </a>
    </div>
    <br>
    <hr>
    <br>
{% endif %}
    </form>
  </nav>
