{% load imageurl %}
{% load mod %}
{% load choicesToString %}
<a href="{{ left|singlecardurl }}" target="_blank"><img src="{% if idolized %}{% cleanurl card=left idolized=True %}{% else %}{% cleanurl card=left idolized=False %}{% endif %}" alt="{{ left }}"></a>{% if right %}<a href="{{ right|singlecardurl }}" target="_blank"><img src="{% if idolized %}{% cleanurl card=right idolized=True %}{% else %}{% cleanurl card=right idolized=False %}{% endif %}" alt="{{ right }}"></a>{% else %}<span class="question" style="color: {{ left.name|idolToColor }}">?</span>{% endif %}
